/*
 * Checkout list css
 *
*/

body{
  background-color: #f2f3f6;
  position: relative;
  touch-action: manipulation;
  .Clanpro();
}

ul{
  padding: 0;
  margin: 0;
  li{
    list-style:none;
  }
}

// Checkout list
.checkout-content{
  // background-color: #fff;
  margin-left: 208px;
  padding: 64px 0px 20px 0;
}

.member-type{
  display: inline-block;
  height: 26px;
  line-height: 26px;
  width: 102px;
  padding: 0 26px;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  &.vip{
    color: #ff5522;
    background-color: rgba(255,85,34, .1);
  }
  &.normal{
    color: #848fa1;
    background-color: rgba(132,143,161, .1);
  }
  &.regular{
    color: #4789ff;
    background-color: rgba(71,137,255, .1);
  }
  &.new{
    color: #41bd46;
    background-color: rgba(65,189,70, .1);
  }
  &.atrisk{
    color: #F0AD4E;
    background-color: rgba(240,173,78, .1);
  }
}

.tag {
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  &.yellow{
    background-image: url('../../../../assets/img/yellow-star.png');
  }
  &.red{
    background-image: url('../../../../assets/img/red-star.png');
  }
}

.td-info{
  position: relative;
  padding: 10px 0;
  p{
    margin-bottom: 0;
  }
  .usr-name{
    .ClanproBold();
    position: absolute;
    top: 15px;
    left: 60px;
  }
  .usr-phone{
    color: #8f8f9d;
    position: absolute;
    top: 40px;
    left: 60px;
    i{
      margin-right: 3px;
      color: #444;
    }
  }
  .ava-img{
    width: 50px;
    height: 50px;
    img{
      width: 50px;
      height: 50px;
    }
  }
}

.ttl {
  h1{
    margin-top: 0;
    margin-bottom: 0;
  }
  margin-bottom: 30px;
}
.ttl-filter{
  select{
    display: inline-block;
    height: 32px;
    width: 190px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #ddd;
    &:focus, &:active {
      border-color: #bbbbbb;
    }
  }
}
.srch-box{
  display: inline-block;
  position: relative;
  height: 32px;
  width: 264px;
  margin-left: 16px;
  .ipt{
    display: block;
    height: 32px;
    line-height: 32px;
    width: 100%;
    font-size: 13px;
    padding: 0 10px;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    &:focus, &:active {
      border-color: #bbbbbb;
    }
  }
  button {
    background-color: transparent;
    border: none;
    outline: none;
    height: 32px;
    text-align: center;
    width: 32px;
    position: absolute;
    top: 0px;
    right: 0;
  }
}

// Checkout modal

.left-col, .right-col{
  background-color: #f2f3f6;
  padding: 20px;
  min-height: 600px;
  width: 30%;
  float: left;
}
.checkout-frm{
  padding: 20px 15px;
  min-height: 500px;
  width: 40%;
  float: left;
  p{
    position: relative;
    width: 100%;
    height: 20px;
    line-height: 20px;
    .s-ttl, .s-value{
      position: absolute;
      font-size: 16px;
    }
    .s-ttl {
      left:0;
    }
    .s-value {
      right:0;
    }
  }
}

#history-detail{
  .left-col{
    width: 40%;
  }
  .checkout-frm{
    width: 60%;
  }
}
.detail-head{
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px solid #ddd;
  .ava-img{
    width: 80px;
    height: 80px;
    img{
      width: 80px;
      height: 80px;
    }
  }
  .usr-name{
    margin-bottom: 0;
    .ClanproBold();
    font-size: 14px;
    position: absolute;
    left: 90px;
    top: 0px;
    width: 125px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .usr-phone {
    margin-bottom: 0;
    position: absolute;
    left: 90px;
    top: 30px;
    font-size: 12px;
  }
  .member-type, .tag{
    margin-bottom: 0;
    position: absolute;
    left: 90px;
    top: 56px;
  }
  .member-type{
    height: 24px;
    line-height:24px;
  }
  .tag {
    left: 200px;
  }
}

.detail-body {
  p{
    color: #8f8f9c;
    font-size: 11px;
    span{
      display: block;
      font-size:16px;
      color: #333;
      margin-top: 5px;
    }
  }
}

.cancel-btn, .checkout-btn{
  display: block;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  height:44px;
  line-height:44px;
}

.checkout-btn{
  background-image: linear-gradient(to right, #473cf8, #2b7fff);
  &.save-note{
    display: inline-block;
    width: auto;
    height: auto;
    line-height: normal;
    padding: 8px 12px;
  }
}

.cancel-btn{
  background-color: #ccd3e0;
}

.cus-slt{
  position: relative;
  a{
    display: block;
    text-decoration: none;
    color: #333;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    border: 1px solid #333;
    border-radius: 2px;
    position: relative;
    outline: none;
    background-color: #fff;
    i{
      font-size: 14px;
      position: absolute;
      top: 50%;
      right: 15px;
      .transform(translateY(-50%));
    }
  }
}

.slt-redeem{
  padding: 10px 15px;
  border: 1px solid #333;
  border-radius: 2px;
  margin-top: 10px;
  width: 100%;
  height: 200px;
  overflow-y: auto;
  background-color: #fff;
}

.checkout-frm{
  position: relative;
  .staff-head{
    font-size: 15px;
    margin-top: -20px;
    height: 44px;
    // border-bottom: 1px solid #ddd;
    line-height: 44px;
    i{
      position: absolute;
      top: 50%;
      .transform(translateY(-50%));
      left: 0;
      cursor: pointer;
      font-size: 22px;
    }
  }
  &:before{
    content: '';
    display: none;
    height: 1px;
    width: 100%;
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 44px;
  }
  &.shw{
    &:before{
      display: block;
    }
  }
  &:after{
    content: '';
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .7;
    z-index: 550;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.sending{
    &:after{
      display: block;
    }
  }
}

.staff-code-ipt{
  border: none;
  border-bottom: 1px solid #ddd;
  text-align: center;
  display: block;
  margin-bottom: 20px;
  font-size: 26px;
}

.numb-btn{
  button {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
    height: 56px;
    line-height: 56px;
    font-size: 26px;
    text-shadow: 0 2px 5px rgba(55, 188, 255, 0.15);
    margin-bottom: 12px;
    outline: none;
    &:focus, &:active{
      // border-color: #333;
      background-color: #ddd;
    }

  }
  .del-numb{
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../img/del-ico.png');
    background-size: 24px;
  }
  .confirm-code{
    height: 44px;
    background-image: -webkit-linear-gradient(left, #473cf8, #2b7fff);
    background-image: -moz-linear-gradient(left, #473cf8, #2b7fff);
    background-image: -o-linear-gradient(left, #473cf8, #2b7fff);
    background-image: linear-gradient(to right, #473cf8, #2b7fff);
    color: #fff;
    line-height: 44px;
    border: none;
    font-size: 16px;
    &:focus, &:active{
      border-color: transparent;
    }
  }
  &.amount-btn{
    border-bottom: 1px solid #ddd;
    margin-bottom: 12px;
  }
}

#user-detail  {
  .modal-dialog{
    width: 900px;
  }
  .modal-body{
    padding: 0;
    &.sending{
      &:before{
        content: '';
        display: block;
        position: absolute;
        left:0;
        top:0;
        background-color: #fff;
        opacity: .7;
        z-index: 500;
        width: 100%;
        height:100%;
      }
    }
  }
}

#history-detail{
  .modal-dialog{
    width: 640px;
  }
  .modal-body{
    padding: 0;
  }
}

.redeem-content, .redeem-pts{
  display: block;
}
.redeem-content{
  font-weight:normal;
}

.s-code{
  display: inline-block;
  //padding-left: 10px;
  //padding-right: 10px;
  width: 50px;
  margin-bottom: 20px;
  border: none;
  position: relative;
  .ipt{
    width: 100%;
    display: block;
    border: none;
    outline: none;
    text-align: center;
    font-size: 26px;
    border-bottom: 1px solid #ddd;
    &.has-val{
      border-bottom: none;
    }
  }
}


.checkout-logo {
  img{
    margin-top: -2px;
  }
}

.note-frm{
  padding: 15px 0;

}

.no-data{
  font-size: 18px;
  .ClanproBold();
}

.checkout-frm{
  .total-amount{
    font-size: 26px;
    border: none;
    border-bottom: 1px solid #000;
    padding: 8px 0;
    height: auto;
    min-height: 50px;
    line-height: normal;
    &.ipt{
      border-radius: 0;
    }
  }
}


// Review col
.star-rate {
  color: #bbb;
  display: inline-block;
  margin-right: 5px;
  &.active{
    color: #d32323;
  }
}
.date-reviewed{
  color: #bbb;
  display: inline-block;
  margin-left: 10px;
}
.review-note{
  margin-top: 10px;
  // .full{
  //   display: none;
  // }
}


.two-col{
  .left-col, .right-col{
    width: 50%;
  }
  .checkout-frm{
    display: none;
  }
  &#user-detail {
    .modal-dialog{
      width: 600px;
    }
  }
}

// Review modal
.review-head{
  position: relative;
  .close-btn{
    position: absolute;
    display: block;
    top: 15px;
    right: 15px;
    font-size: 18px;
  }
  .ava-img{
    float: left;
    img{
      width: 50px;
      height: 50px;
    }
  }
  .usr-review{
    float: left;
    width: ~"calc(100% - 50px)";
    padding: 0 15px;
    h3{
      margin-top: 0;
    }
    .general-inf{
      float: left;
      width: 50%;
      .ttl{
        display: inline-block;
        .ClanproBold();
        margin-bottom: 0;
      }
    }
  }
}

.service-popup{
  position: absolute;
  z-index: 999;
  background-color: #fff;
  left: 50%;
  top: 50%;
  .transform(translate(-50%, -50%));
  width: 350px;
  overflow-y: auto;
  padding: 15px 15px;
  display: none;
  p{
    .ClanproBold();
    font-size: 17px;
    text-align: center;
  }
  ul{
    height: 200px;
    overflow-y: auto;
    li{
      font-size: 13px;
      margin-bottom: 10px;
      padding: 0px 15px;
      position: relative;
      margin-bottom: 20px;
      &:before{
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #4789ff;
        position: absolute;
        left: 0;
        top: 2px;
      }
    }
  }
  &.shw{
    display: block;
  }
}
#user-detail{
  &.show-serv{
    .modal-content{
      &:before{
        content: '';
        display: block;
        z-index: 400;
        background-color: #000;
        .opacity(.7);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.cus-tb {
  .serv-itm{
    cursor: pointer;
  }
}
.serv-itm{
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  // border: 1px solid #4789ff;
  background-color: rgba(71, 137, 255, 1);
  color: #fff;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 12px;
  // .transition(all .4s ease);
  // &:hover{
  //   background-color: rgba(71, 137, 255, 1);
  //   color: #fff;
  // }
}