<div class="edit-modal cus-scroll" [ngClass]="{'shw': isShowModal}">
  <div class="detail-frm" [ngClass]="{shw: loading}">
    <div class="del-confirm">
        <h3>Do you want to cancel this appointment?</h3>
        <button class="appoint-btn appoint-default" (click)="cancelDelete($event)">No</button>
        <button class="appoint-btn" (click)="acceptDelete($event)">Yes</button>
    </div>

    <div class="loading-spin" [ngClass]="{shw: loading}">
          <div class="sk-fading-circle">
              <div class="sk-circle1 sk-circle"></div>
              <div class="sk-circle2 sk-circle"></div>
              <div class="sk-circle3 sk-circle"></div>
              <div class="sk-circle4 sk-circle"></div>
              <div class="sk-circle5 sk-circle"></div>
              <div class="sk-circle6 sk-circle"></div>
              <div class="sk-circle7 sk-circle"></div>
              <div class="sk-circle8 sk-circle"></div>
              <div class="sk-circle9 sk-circle"></div>
              <div class="sk-circle10 sk-circle"></div>
              <div class="sk-circle11 sk-circle"></div>
              <div class="sk-circle12 sk-circle"></div>
          </div>
      </div>

      <div class="frm-ttl">
          <h3>Appointment detail</h3>
          <a href="javascript:;" class="del-appoint appoint-btn appoint-danger" (click)="deleteAppoint($event)">Cancel appointment</a>
          <a href="javascript:;" (click)="closeFrm($event)"><i class="fa fa-close"></i></a>
      </div>

      <div class="detail-view" [ngClass]="{hide: hideView}">
          <div class="detail-view-content" *ngIf="appointDetail">
              <h3>Client info</h3>
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <p class="p-view">
                    <span class="s-lbl">Client:</span>
                    <span class="s-value">{{(appointDetail.customer) ? appointDetail.customer.full_name : appointDetail.booker}}</span>
                  </p>
                </div>
                <div class="col-md-6 col-xs-12">
                  <p class="p-view">
                    <span class="s-lbl">Phone:</span>
                    <span class="s-value">{{appointDetail.booker_contact}}</span>
                  </p>
                </div>
              </div>
              <h3>Appointment details</h3>
              <p class="p-view">
                  <span class="s-lbl">Service:</span>
                  <span class="s-value">{{appointDetail.service.name}}</span>
              </p>
              <div class="p-view additional-serv">
                <p class="s-lbl">Additional services:</p>
                <ul class="s-value">
                  <li *ngFor="let serv of appointDetail.services_booked">{{(serv.service) ? serv.service.name : ''}}</li>
                </ul>
              </div>
              <p class="p-view">
                  <span class="s-lbl">Staff:</span>
                  <span class="s-value">{{(appointDetail.employee.length != 0) ? (appointDetail.employee.name | uppercase) : 'Unassigned'}}</span>
              </p>
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <p class="p-view">
                    <span class="s-lbl">From:</span>
                    <span class="s-value">{{appointDetail.formatStart}}</span>
                  </p>
                </div>
                <div class="col-md-6 col-xs-12">
                  <p class="p-view">
                    <span class="s-lbl">To:</span>
                    <span class="s-value">{{appointDetail.formatEnd}}</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <p class="p-view">
                    <span class="s-lbl">Status:</span>
                    <span class="s-value {{appointDetail.status}} status-val">{{appointDetail.status}}</span>
                    <button *ngIf="appointDetail.status == 'scheduled'"(click)="confirmAppointment($event)" class="btn btn-primary" style="float:right; padding-top:10px">Confirm</button>
                  </p>
                </div>
                <div class="col-md-6 col-xs-12">
                  <p class="p-view">
                    <span class="s-lbl">Price:</span>
                    <span class="s-value">${{appointDetail.price}}</span>
                  </p>
                </div>
              </div>
              <p class="p-view">
                  <span class="s-lbl">Note:</span>
                  <span class="s-value">{{appointDetail.note}}</span>
              </p>
              <div class="button-group">
                  <button class="appoint-btn" (click)="showEditFrm($event)">Edit appointment</button>
              </div>
          </div>
      </div>

      <div class="detail-form" [ngClass]="{hide: hideEdit}">
          <form *ngIf="editFrm" [formGroup]="editFrm">
              <div class="row">
                  <div class="col-md-4 col-xs-12">
                      <div class="form-group">
                        <label class="appoint-lbl">Client</label>
                        <input type="text" placeholder="Client" class="appoint-ipt" [formControl]="editFrm.controls['customer']" readonly/>
                      </div>
                      <div class="form-group">
                        <label class="appoint-lbl">Phone</label>
                        <input type="text" placeholder="Phone" class="appoint-ipt" [formControl]="editFrm.controls['phone']" readonly/>
                      </div>
                      <div class="form-group">
                        <label class="appoint-lbl">Status</label>
                        <select type="text" class="appoint-ipt"
                                [formControl]="editFrm.controls['status']"
                                [class.err]="editFrm.controls['status'].touched && !editFrm.controls['status'].valid">
                            <option value="">Select status</option>
                              <option value="scheduled">Scheduled</option>
                            <option value="confirmed">Confirmed</option>
                            <option value="delay">Delay</option>
                            <option value="done">Done</option>
                        </select>
                        <span class="err-msg"
                            [class.shw]="editFrm.controls['status'].touched && !editFrm.controls['status'].valid">This field is required</span>
                      </div>
                      <div class="form-group">
                        <label class="appoint-lbl">Note</label>
                        <textarea class="appoint-area" id="edit-note" rows="5" placeholder="Add your appointment notes"></textarea>
                      </div>
                  </div>
                  <!-- End client phone and name -->
                  <div class="col-md-8 col-xs-12">
                    <div class="form-group" *ngIf="showSelectTime">
                      <div class="row">
                        <div class="col-md-6 col-xs-12">
                          <label class="appoint-lbl">Date</label>
                          <input type="text" placeholder="Select date" id="edit-appoint-time" class="appoint-ipt" (blur)="changeDate($event)"/>
                          <span class="err-msg">This field is required</span>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <label class="appoint-lbl">Time</label>
                          <select type="text" class="appoint-ipt" *ngIf="timeAvailable.length"
                            [formControl]="editFrm.controls['time']"
                            (change)="selectTime($event)"
                            [class.err]="editFrm.controls['time'].touched && !editFrm.controls['time'].valid">
                            <option value="">Select time</option>
                            <option *ngFor="let time of timeAvailable" value="{{time.time}}">{{time.time1}}</option>
                          </select>
                          <span class="err-msg"
                                  [class.shw]="editFrm.controls['time'].touched && !editFrm.controls['time'].valid">This field is required</span>
                        </div>
                      </div>
                    </div>
                    <!-- End date -->
                    <div class="form-group">
                      <div class="row">
                        <div class="col-md-6 col-xs-12">
                          <label class="appoint-lbl">Service</label>
                          <select type="text" class="appoint-ipt" *ngIf="serviceList.length"
                                  (change)="selectService($event, 'main')"
                                  [formControl]="editFrm.controls['service']"
                                  [class.err]="editFrm.controls['service'].touched && !editFrm.controls['service'].valid">
                              <option value="">Select service</option>
                              <option *ngFor="let service of serviceList" value="{{service.id}}">{{service.name}} - ${{service.price}}</option>
                          </select>
                          <span class="err-msg"
                              [class.shw]="editFrm.controls['service'].touched && !editFrm.controls['service'].valid">This field is required</span>
                        </div>
                        <div class="col-md-6 col-xs-12">
                          <label class="appoint-lbl">Staff</label>
                          <select type="text" class="appoint-ipt"
                                  [formControl]="editFrm.controls['provider']"
                                  (change)="selectProvider($event, '')"
                                  [class.err]="editFrm.controls['provider'].touched && !editFrm.controls['provider'].valid">
                              <option value="">Select staff</option>
                              <option *ngFor="let provider of providerList" value="{{provider.user_id}}">{{provider.name}}</option>
                          </select>
                          <span class="err-msg"
                                  [class.shw]="editFrm.controls['provider'].touched && !editFrm.controls['provider'].valid">This field is required</span>
                        </div>
                      </div>
                    </div>
                    <!-- End select service -->
                    <div class="selected-list">
                      <label class="appoint-lbl">Your services:</label>

                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <th>Service</th>
                            <th>Cost</th>
                            <th>Duration</th>
                            <th></th>
                          </tr>
                          <tr *ngIf="mainService.length != 0">
                            <td>{{mainService.name}}</td>
                            <td>${{mainService.price}}</td>
                            <td>{{mainService.duration}} mins</td>
                            <td><a href="javascript:;" (click)="deleteServiceSelecter($event, mainService.id, 'main')"><i class="fa fa-trash"></i></a></td>
                          </tr>
                          <tr *ngFor="let service of serviceSelected">
                            <td>{{service.name}}</td>
                            <td>${{service.price}}</td>
                            <td>{{service.duration}} mins</td>
                            <td><a href="javascript:;" (click)="deleteServiceSelecter($event, service.id, '')"><i class="fa fa-trash"></i></a></td>
                          </tr>
                          <tr class="hide additional-service">
                            <td>
                              <select type="text" class="appoint-ipt" *ngIf="serviceList.length" (change)="selectService($event, '')">
                                <option value="">Select service</option>
                                <option *ngFor="let service of serviceList" value="{{service.id}}">{{service.name}} - ${{service.price}}</option>
                              </select>
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="javascript:;" (click)="closeMoreService($event)"><i class="fa fa-close"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="5" class="text-center">
                              <a href="javascript:;" class="add-more-serv" (click)="addMoreService($event)">Add more service</a>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">Total price:</td>
                            <td colspan="3" class="text-right">
                              <div class="total-duration">
                                <input type="text" value="{{totalPrice}}" (blur)="changeTotalVal($event, 'price')" placeholder="Duration" class="appoint-ipt" /><span class="unit">USD</span>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">Total duration:</td>
                            <td colspan="3" class="text-right">
                              <div class="total-duration">
                                <input type="text" value="{{totalDuration}}" (blur)="changeTotalVal($event, 'duration')" placeholder="Duration" class="appoint-ipt" /><span class="unit">mins</span>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                    <!-- END: SERVICE SELECTED LIST -->
                    <div class="button-group text-right">
                        <button class="appoint-btn" (click)="updateAppointment($event, editFrm.value)">Save</button>
                    </div>
                  </div>
              </div>
          </form>
      </div>
  </div>
</div>

