<sidebar-block [notify]="notiList" (changeNotiList)="changeNotiList($event)"></sidebar-block>

<div class="checkout-content calender-wrap">
  <div class="container-fluid">
    <div class="spinner-loader" [ngClass]="{shw: loadCalendar}">
      <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
    <angular2-fullcalendar *ngIf="isLoaded" [options]="calendarOptions" id="gco-calendar"></angular2-fullcalendar>

    <p *ngIf="not_available" class="text-center no-data">{{not_available}}</p>
    <div class="reload-data" *ngIf="showReload">
      <p>Some data is updated. Please reload calendar to get new data.</p>
      <a href="javascript:;" (click)="refreshCalendar($event)">Reload</a>
      <a href="javascript:;" class="close-reload" (click)="closeReload($event)">Close</a>
    </div>

    <new-appointment [isShow]="showCreate" [dateChoose]="dateChoose" (closeCreateFrm)="closeFrm($event)"></new-appointment>
    <appointment-detail [isShowModal]="showDetail" [appointDetail]="appointmentDetail" (closeDetailFrm)="closeEditFrm($event)"></appointment-detail>
  </div>
</div>
