<div class="create-booking-modal cus-scroll" [ngClass]="{'shw': isShow}">
    <div class="create-frm" [ngClass]="{shw: loading}">
      <div class="loading-spin" [ngClass]="{shw: loading}">
        <div class="sk-fading-circle">
          <div class="sk-circle1 sk-circle"></div>
          <div class="sk-circle2 sk-circle"></div>
          <div class="sk-circle3 sk-circle"></div>
          <div class="sk-circle4 sk-circle"></div>
          <div class="sk-circle5 sk-circle"></div>
          <div class="sk-circle6 sk-circle"></div>
          <div class="sk-circle7 sk-circle"></div>
          <div class="sk-circle8 sk-circle"></div>
          <div class="sk-circle9 sk-circle"></div>
          <div class="sk-circle10 sk-circle"></div>
          <div class="sk-circle11 sk-circle"></div>
          <div class="sk-circle12 sk-circle"></div>
        </div>
      </div>
      <div class="frm-ttl">
        <h3>Create new appointment</h3>
        <button class="appoint-btn del-appoint" (click)="createAppointment($event, bookingFrm.value)">Create appointment</button>
        <a href="javascript:;" (click)="closeForm($event)"><i class="fa fa-close"></i></a>
      </div>

      <p class="text-center no-service" *ngIf="!serviceList.length">No service available</p>
      <p class="text-center no-service text-danger" *ngIf="createFail">Create appointment failed.</p>

      <div class="row" *ngIf="serviceList.length">
        <div class="col-md-4 col-xs-12">
          <div class="client-form">
            <div class="form-group">
              <label class="appoint-lbl">Client</label>
              <form *ngIf="searchFrm" [formGroup]="searchFrm">
                <input type="text" placeholder="Enter customer name or phone" class="appoint-ipt"
                       [formControl]="searchFrm.controls['search']"
                       (keydown.enter)="searchCustomer(searchFrm.value)"
                       (keyup)="keypressCustomer(searchFrm.value)"/>
                <span class="fa fa-search c-s-btn"></span>
                <span class="err-msg"
                      *ngIf="searchFrm.controls['search'].hasError('whitespace')"
                      [class.shw]="searchFrm.controls['search'].touched && !searchFrm.controls['search'].valid">Please enter name or phone.</span>
              </form>
              <div class="client-result" [ngClass]="{shw: showSelectClient}" (clickOutside)="onClickedOutside($event)">
                <a href="javascript:;" class="create-client-btn" (click)="addCustomer($event)">Create new client</a>
                <div class="client-content" *ngIf="searchRes.length">
                  <a href="javascript:;" *ngFor="let client of searchRes" (click)="chooseCustomer($event, client.id)"><i class="fa fa-user"></i>{{client.name}} - {{client.formatPhone}}</a>
                </div>
              </div>

              <div class="add-client-frm" [ngClass]="{shw: showCreateClient}">
                <form *ngIf="customerFrm" [formGroup]="customerFrm">
                  <div class="row">
                    <div class="col-md-6 col-xs-12">
                      <input type="text" placeholder="Client name" class="appoint-ipt" id="cr-client-name"
                             [readonly]="isReadonly"
                             [formControl]="customerFrm.controls['name']"
                             [class.err]="customerFrm.controls['name'].touched && !customerFrm.controls['name'].valid"/>
                      <span class="err-msg"
                            [class.shw]="customerFrm.controls['name'].touched && !customerFrm.controls['name'].valid">This field is required</span>
                    </div>
                    <div class="col-md-6 col-xs-12">
                      <input type="text" placeholder="Phone" class="appoint-ipt" id="cr-client-phone" [textMask]="{mask: mask}"
                             [formControl]="customerFrm.controls['phone']"
                             [readonly]="isReadonly"
                             [class.err]="customerFrm.controls['phone'].touched && !customerFrm.controls['phone'].valid"/>
                      <span class="err-msg"
                            [class.shw]="customerFrm.controls['phone'].touched && !customerFrm.controls['phone'].valid">This field is required</span>
                      <p class="err-msg"
                         *ngIf="customerFrm.controls['phone'].hasError('invalidPhone')"
                         [class.shw]="customerFrm.controls['phone'].touched && customerFrm.controls['phone'].hasError('invalidPhone')">Please enter a valid phone number.</p>
                    </div>
                  </div>
                </form>
              </div>
              <p class="text-danger" *ngIf="noClient">Please enter client</p>
            </div>
            <div class="form-group">
              <label class="appoint-lbl">Appointment notes</label>
              <textarea class="appoint-area" id="note" rows="5" placeholder="Add your appointment notes"></textarea>
            </div>
          </div>
        </div>
        <!-- End client form -->
        <div class="col-md-8 col-xs-12">
          <div class="book-blk">
            <form *ngIf="bookingFrm" [formGroup]="bookingFrm">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 col-xs-12" (clickOutside)="onClickedOutsidePicker($event)">
                    <label class="appoint-lbl" >Date</label>
                    <label class="date-mask" [attr.for]="appoint-time" (click)="openPicker($event)"></label>
                    <input type="text" placeholder="Select date" id="appoint-time" class="appoint-ipt" 
                          (blur)="changeDate($event)" (keypress)="$event.preventDefault()"/>
                    <span class="err-msg">This field is required</span>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <label class="appoint-lbl">Time</label>
                    <select type="text" class="appoint-ipt"
                            (change)="selectTime($event)"
                            [formControl]="bookingFrm.controls['time']"
                            [class.err]="bookingFrm.controls['time'].touched && !bookingFrm.controls['time'].valid">
                      <option value="">Select time</option>
                      <option *ngFor="let timeAvai of timeAvailable" value="{{timeAvai.time}}">{{timeAvai.time1}}</option>
                    </select>
                    <span class="err-msg"
                          [class.shw]="bookingFrm.controls['time'].touched && !bookingFrm.controls['time'].valid">This field is required</span>
                  </div>
                </div>
              </div>
              <!-- END: DATE TIME PICKER -->
              <div class="form-group">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <label class="appoint-lbl">Main service</label>
                    <select type="text" class="appoint-ipt" *ngIf="serviceList.length" (change)="selectService($event, 'main')"
                            [formControl]="bookingFrm.controls['service']"
                            [class.err]="bookingFrm.controls['service'].touched && !bookingFrm.controls['service'].valid">
                      <option value="">Select service</option>
                      <option *ngFor="let service of serviceList" value="{{service.id}}">{{service.name}} - ${{service.price}}</option>
                    </select>
                    <span class="err-msg"
                          [class.shw]="bookingFrm.controls['service'].touched && !bookingFrm.controls['service'].valid">This field is required</span>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <label class="appoint-lbl">Staff</label>
                    <select type="text" class="appoint-ipt" (change)="selectProvider($event)">
                      <option value="">Select staff</option>
                      <option *ngFor="let provider of providerList" value="{{provider.user_id}}">{{provider.name}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <!-- END: SELECT SERVICE AND STAFF -->
              <div class="selected-list">
                <label class="appoint-lbl">Your services:</label>

                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th>Service</th>
                      <th>Cost</th>
                      <th>Duration</th>
                      <th></th>
                    </tr>
                    <tr *ngIf="mainService.length != 0">
                      <td>{{mainService.name}}</td>
                      <td>${{mainService.price}}</td>
                      <td>{{mainService.duration}} mins</td>
                      <td><a href="javascript:;" (click)="deleteServiceSelecter($event, mainService.id, 'main')"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr *ngFor="let service of serviceSelected">
                      <td>{{service.name}}</td>
                      <td>${{service.price}}</td>
                      <td>{{service.duration}} mins</td>
                      <td><a href="javascript:;" (click)="deleteServiceSelecter($event, service.id, '')"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr class="hide additional-service">
                      <td>
                        <select type="text" class="appoint-ipt" *ngIf="serviceList.length" (change)="selectService($event, '')">
                          <option value="">Select service</option>
                          <option *ngFor="let service of serviceList" value="{{service.id}}">{{service.name}} - ${{service.price}}</option>
                        </select>
                      </td>
                      <td></td>
                      <td></td>
                      <td>
                          <a href="javascript:;" (click)="closeMoreService($event)">Delete</a>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="5" class="text-center">
                        <a href="javascript:;" class="add-more-serv" (click)="addMoreService($event)">Add more service</a>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">Total price:</td>
                      <td colspan="3" class="text-right">
                        <div class="total-duration">
                          <input type="text" value="{{totalPrice}}" placeholder="Price" (blur)="changeTotalVal($event, 'price')" class="appoint-ipt" /><span class="unit">USD</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">Total duration:</td>
                      <td colspan="3" class="text-right">
                        <div class="total-duration">
                          <input type="text" value="{{totalDuration}}" (blur)="changeTotalVal($event, 'duration')" placeholder="Duration" class="appoint-ipt" /><span class="unit">mins</span>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- END: SERVICE SELECTED LIST -->
            </form>
          </div>
        </div>
        <!-- Select service and time -->
      </div>
    </div>
    <!-- End create form -->
</div>
