form.create-staff-modal#create-staff-modal
    .c-s-content
        .head-ttl
            h3.text-capitalize.text-center Create staff
        .create-service-frm
            .form-group
                label.appoint-lbl(for="staff-name") Staff name
                input#staff-name.appoint-ipt(type="text", placeholder="Staff name")
            .form-group
                label.appoint-lbl(for="email") Email
                input.appoint-ipt#email(type="text", placeholder="Email")
            .form-group
                label.appoint-lbl(for="phone") Phone
                input.appoint-ipt#phone(type="text", placeholder="Phone")
            .frm-hr
            .form-group
                p.el-ttl.text-uppercase Staff hours
                .staff-hour
                    p
                        span.day Monday
                        span.time-wrk 8:00 AM - 5:00 PM
                    p
                        span.day Tuesday
                        span.time-wrk 8:00 AM - 5:00 PM
                    p
                        span.day Wednesday
                        span.time-wrk 8:00 AM - 5:00 PM
                    p
                        span.day Thursday
                        span.time-wrk 8:00 AM - 5:00 PM
                    p
                        span.day Friday
                        span.time-wrk 8:00 AM - 5:00 PM
                    p
                        span.day Saturday
                        span.time-wrk None
                    p
                        span.day Sunday
                        span.time-wrk None
                    a.manage-stff-hr.appoint-btn.open-create-service(href="javascript:;", data-show="manage-staff-hour") Manage staff hours
            .frm-hr
            .form-group
                p.el-ttl.text-uppercase Staff services
                .staff-service
                    .s-s-itm
                        label.control.control-checkbox(for="cut-hair")
                            input#cut-hair(type="checkbox")
                            .control-indicator
                            | Cut hair
                    .s-s-itm
                        label.control.control-checkbox(for="nails")
                            input#nails(type="checkbox")
                            .control-indicator
                            | Nails
                    .s-s-itm
                        label.control.control-checkbox(for="vip-combo")
                            input#vip-combo(type="checkbox")
                            .control-indicator
                            | Vip combo
            .frm-hr
            .form-group
                p.el-ttl.text-uppercase Is staff visibility
                label.control.control-checkbox(for="staff-visible")
                    input#staff-visible(type="checkbox")
                    .control-indicator
                    | Visible.
    .divide-div
    .form-group.text-right.button-group.clearfix
        button.appoint-btn.appoint-default.pull-left
            i.fa.fa-trash
        button.appoint-btn.appoint-danger.close-service-modal(data-close="create-staff-modal") Cancel
        button.appoint-btn Create
