.cre-pro-modal#reminder-modal
    .container
        .n-pro-head.clearfix
            h1.pull-left
                | Create new reminder
            .cre-head-right.pull-right
                a.close-c-modal(href="javascript:;")
                    i.fa.fa-close
        .n-pro-body
            .row
                .col-md-6.col-xs-12
                    .n-col-left
                        .n-c-left-itm
                            p.col-ttl
                                | What reminder do you want to offer?
                            .prom-offer.clearfix
                                input(type='text', value="20")
                                .switch-btn
                                    a.active(href="javascript:;") %
                                    a(href="javascript:;") $
                        .n-c-left-itm
                            p.col-ttl
                                | Which customer do you want to offer?
                            .slt-customer
                                .c-chk
                                    label.lbl-control.chk
                                        span All - 4,500 members
                                        input(type="checkbox")
                                        .chk-tick
                                .c-chk
                                    label.lbl-control.chk
                                        span All - 4,500 members
                                        input(type="checkbox")
                                        .chk-tick
                                .c-chk
                                    label.lbl-control.chk
                                        span Vip - 250 members
                                        input(type="checkbox")
                                        .chk-tick
                                .c-chk
                                    label.lbl-control.chk
                                        span Regular - 3,500 members
                                        input(type="checkbox")
                                        .chk-tick
                                .c-chk
                                    label.lbl-control.chk
                                        span At risk - 1,500 members
                                        input(type="checkbox")
                                        .chk-tick
                                .c-chk
                                    label.lbl-control.chk
                                        span Tagged - 1,500 members
                                        input(type="checkbox")
                                        .chk-tick
                        .n-c-left-itm
                            p.col-ttl
                                | No visit in
                            .cus-select
                                select
                                    option 120 days
                                    option 120 days
                                    option 120 days
                                    option 120 days
                        .n-c-left-itm
                            p.col-ttl
                                | How long do you want to maintain this reminder?
                            .date-picker
                                .row
                                    .col-md-12
                                        .pick-blk
                                            p To
                                            input#reminder-date(type="text", placeholder="Date")
                                            i.fa.fa-calendar
                        .n-c-left-itm
                            p.col-ttl
                                | Message to show to customer
                            span.lim-txt 50 characters left
                            .msg-cus-ct
                                textarea(rows="5") We're offering our customers a special deal all week long. Come in soon!
                        .n-button 
                            .row
                                .col-md-6
                                    button.create-now Create promotion now
                // END: COL left
                .col-md-6.col-xs-12
                    .n-col-right
                        .instruction
                            h3 Instruction
                            p Rule YouTube
                            p When you browse through videos at YouTube, which do you usually click first: one with around 10 views or one with around 75,000 views? If you’re normal, then you’re much more likely to click on YouTube videos that have a lot of clicks already. The logic is simple. The more views a video has, the more interesting the video must be. After all, why would a video gain so many views if it’s dull or uninteresting, right? Indeed, the bandwagon mentality works very well at YouTube – so why not use it to market your videos at YouTube?
                            p Why Buy YouTube Views?
                            p Buying YouTube views is far more practical than asking friends, acquaintances, etc. to view your YouTube video. By investing a small amount, you can have as much as 150,000 views on your YouTube video in 48 hours. After 48 hours, other people are going to notice your video and think: “Wow, this video has so many hits; I’ve just got to see what the buzz is about.” In result, your YouTube video will get even more views than you have initially paid for, and more and more people are going to be exposed to the marketing message contained in your video.