.cre-pro-modal#new-promotion-modal
    .container
        .n-pro-head.clearfix
            h1.pull-left
                | Create new promotion
            .cre-head-right.pull-right
                p
                    span ?
                    | Promotion suggestion for you
                a.close-c-modal(href="javascript:;")
                    i.fa.fa-close
        .n-pro-body
            .row
                .col-md-6.col-xs-12
                    .n-col-left
                        .n-c-left-itm
                            p.col-ttl
                                | What promotion do you want to offer?
                            .prom-offer.clearfix
                                input(type='text', value="20")
                                .c-chk
                                    label.lbl-control.rd
                                        span $
                                        input(type="radio", name="radio", checked)
                                        .chk-tick    
                                .c-chk 
                                    label.lbl-control.rd
                                        span %
                                        input(type="radio", name="radio")
                                        .chk-tick 
                                //- .switch-btn
                                //-     a.active(href="javascript:;") %
                                //-     a(href="javascript:;") $
                        .n-c-left-itm
                            p.col-ttl
                                | Which customer do you want to offer?
                            .slt-customer
                                .c-chk
                                    label.lbl-control.chk
                                        span All - 4,500 members
                                        input(type="checkbox")
                                        .chk-tick
                                .c-chk
                                    label.lbl-control.chk
                                        span All - 4,500 members
                                        input(type="checkbox")
                                        .chk-tick
                                .c-chk
                                    label.lbl-control.chk
                                        span Vip - 250 members
                                        input(type="checkbox")
                                        .chk-tick
                                .c-chk
                                    label.lbl-control.chk
                                        span Regular - 3,500 members
                                        input(type="checkbox")
                                        .chk-tick
                                .c-chk
                                    label.lbl-control.chk
                                        span At risk - 1,500 members
                                        input(type="checkbox")
                                        .chk-tick
                                .c-chk
                                    label.lbl-control.chk
                                        span Tagged - 1,500 members
                                        input(type="checkbox")
                                        .chk-tick
                        .n-c-left-itm
                            p.col-ttl
                                | How long do you want to offer this promotion?
                            .date-picker
                                .row
                                    .col-md-6.col-xs-6
                                        .pick-blk
                                            p From
                                            input#prom-from(type="text", placeholder="Date")
                                            i.fa.fa-calendar
                                    .col-md-6.col-xs-6
                                        .pick-blk
                                            p To
                                            input#prom-to(type="text", placeholder="Date")
                                            i.fa.fa-calendar
                        .n-c-left-itm
                            p.col-ttl
                                | Message to show to customer
                            span.lim-txt 50 characters left
                            .msg-cus-ct
                                textarea(rows="5") We're offering our customers a special deal all week long. Come in soon!
                        .n-c-left-itm
                            p.col-ttl
                                | When do you want to send message to customer?
                            .rd-slt-date
                                .c-chk
                                    label.lbl-control.rd
                                        span Send Immediately
                                        input(type="radio", name="radio")
                                        .chk-tick    
                                .c-chk 
                                    label.lbl-control.rd
                                        span Schedule it for later
                                        input(type="radio", name="radio")
                                        .chk-tick     
                                .c-chk
                                    label.lbl-control.rd
                                        span Don't want to send
                                        input(type="radio", name="radio")
                                        .chk-tick   
                        .n-button 
                            .row
                                .col-md-6.col-xs-12
                                    button.save-draft Save as draft 
                                .col-md-6.col-xs-12 
                                    button.create-now Create promotion now
                // END: COL left
                .col-md-6.col-xs-12
                    .n-col-right
                        .col-r-ct.text-center
                            .mail-mode#mail-mode.r-mode
                                .logo-img
                                    img(src="images/logo1.png", alt)
                                .mail-blk
                                    h3 Konald Nails Nail
                                    p We're offering our customers a special deal all week long. Come in soon!
                                    span.date Exp 08/23
                                    a.claim-now(href="#") Claim now
                            .iphone-blk.active#text-mode.r-mode
                                img(src="images/iphone.png", alt)
                                .iphone-ct
                                    p Konald nail: [Offer]
                                    p [Message]
                                    p Exp: [Date]
                                    p Tap to accept
                            .c-ft
                                a.active(href="#", data-tg="text") 
                                    i.fa.fa-comment
                                    span Text
                                a(href="#", data-tg="mail") 
                                    i.fa.fa-envelope
                                    span Mail