.cre-pro-modal#new-staff-modal
    .container
        .n-pro-head.clearfix
            h1.pull-left
                | Create new staff
            .cre-head-right.pull-right
                a.close-c-modal(href="javascript:;")
                    i.fa.fa-close
        .n-pro-body
            .row
                .col-md-6.col-xs-12
                    .n-col-left
                        .n-c-left-itm
                            p.col-ttl
                                | Staff code
                            input.ipt(type="text", placeholder="Input staff code")
                        .n-c-left-itm
                            p.col-ttl
                                | Staff name
                            input.ipt(type="text", placeholder="Input staff name")
                        .n-c-left-itm
                            p.col-ttl
                                | Email
                            input.ipt(type="text", placeholder="Input email")
                        .n-c-left-itm
                            p.col-ttl
                                | Phone number
                            input.ipt(type="text", placeholder="Input phone number")
                        .n-c-left-itm
                            .switcher
                                span Access check in app
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox")
                                        .slider.round
                            .switcher
                                span Access admin page
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox")
                                        .slider.round
                            .switcher
                                span Status
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox")
                                        .slider.round
                        .n-button
                            .row
                                .col-md-6
                                    button.create-now Create now
                // END: COL left
                .col-md-6.col-xs-12
                    .n-col-right
                        .instruction
                            h3 Instruction
                            p Rule YouTube
                            p When you browse through videos at YouTube, which do you usually click first: one with around 10 views or one with around 75,000 views? If you’re normal, then you’re much more likely to click on YouTube videos that have a lot of clicks already. The logic is simple. The more views a video has, the more interesting the video must be. After all, why would a video gain so many views if it’s dull or uninteresting, right? Indeed, the bandwagon mentality works very well at YouTube – so why not use it to market your videos at YouTube?
                            p Why Buy YouTube Views?
                            p Buying YouTube views is far more practical than asking friends, acquaintances, etc. to view your YouTube video. By investing a small amount, you can have as much as 150,000 views on your YouTube video in 48 hours. After 48 hours, other people are going to notice your video and think: “Wow, this video has so many hits; I’ve just got to see what the buzz is about.” In result, your YouTube video will get even more views than you have initially paid for, and more and more people are going to be exposed to the marketing message contained in your video.