form.create-service-modal#create-service-modal
    .c-s-content
        .head-ttl
            h3.text-capitalize.text-center Create service
        .create-service-frm
            .form-group
                label.appoint-lbl(for="service-name") Service name
                input#service-name.appoint-ipt(type="text", placeholder="Service name")
            .form-group
                label.appoint-lbl(for="service-desc") Service description
                textarea.appoint-area#service-desc(placeholder="Service description", rows="5")
            .frm-hr
            .form-group
                p.el-ttl.text-uppercase Service duraion
                select
                    option(value="") 0 hrs
                    option(value="") 1 hrs
                    option(value="") 2 hrs
                    option(value="") 3 hrs
                    option(value="") 4 hrs
                    option(value="") 5 hrs
                    option(value="") 6 hrs
                    option(value="") 7 hrs
                    option(value="") 8 hrs
                    option(value="") 9 hrs
                    option(value="") 10 hrs
                    option(value="") 11 hrs
                    option(value="") 12 hrs
                    option(value="") 13 hrs
                    option(value="") 14 hrs
                select
                    option(value="") 0 mins
                    option(value="") 5 mins
                    option(value="") 10 mins
                    option(value="") 15 mins
                    option(value="") 20 mins
                    option(value="") 25 mins
                    option(value="") 30 mins
                    option(value="") 35 mins
                    option(value="") 40 mins
                    option(value="") 45 mins
                    option(value="") 50 mins
                    option(value="") 55 mins
            .frm-hr
            .form-group
                p.el-ttl.text-uppercase Service price
                input.appoint-ipt(type="text", placeholder="Service price")
                span.currency USD
            .frm-hr
            .form-group
                p.el-ttl.text-uppercase Is booking visibility
                label.control.control-checkbox(for="booking-visible")
                    input#booking-visible(type="checkbox")
                    .control-indicator
                    | Service visible to client during online booking.
    .divide-div
    .form-group.text-right.button-group.clearfix
        button.appoint-btn.appoint-default.pull-left
            i.fa.fa-trash
        button.appoint-btn.appoint-danger.close-service-modal(data-close="create-service-modal") Cancel
        button.appoint-btn Create