#manage-staff-hour.manage-staff-hour
    .m-s-head
        h3.text-center.text-capitalize Manage hours
    .m-s-content
        p.shop-name
            span Toan Nail Shop
        .hour-list
            .hour-itm.clearfix
                .day-chk
                    label.control.control-checkbox(for="day-1")
                        | Monday
                        input#day-1(type="checkbox", checked) 
                        .control-indicator
                .set-time
                    .from
                        .from-frm.clearfix
                            input(type="text", placeholder="08:00")
                            select
                                option(value="", selected) AM
                                option(value="") PM
                    .to
                        .from-frm.clearfix
                            input(type="text", placeholder="05:00")
                            select
                                option(value="") AM
                                option(value="", selected) PM
            // END: Hour item
            .hour-itm.clearfix
                .day-chk
                    label.control.control-checkbox(for="day-2")
                        | Tuesday
                        input#day-2(type="checkbox", checked) 
                        .control-indicator
                .set-time
                    .from
                        .from-frm.clearfix
                            input(type="text", placeholder="08:00")
                            select
                                option(value="", selected) AM
                                option(value="") PM
                    .to
                        .from-frm.clearfix
                            input(type="text", placeholder="05:00")
                            select
                                option(value="") AM
                                option(value="", selected) PM
            // END: Hour item
            .hour-itm.clearfix
                .day-chk
                    label.control.control-checkbox(for="day-3")
                        | Wednesday
                        input#day-3(type="checkbox", checked) 
                        .control-indicator
                .set-time
                    .from
                        .from-frm.clearfix
                            input(type="text", placeholder="08:00")
                            select
                                option(value="", selected) AM
                                option(value="") PM
                    .to
                        .from-frm.clearfix
                            input(type="text", placeholder="05:00")
                            select
                                option(value="") AM
                                option(value="", selected) PM
            // END: Hour item
            .hour-itm.clearfix
                .day-chk
                    label.control.control-checkbox(for="day-4")
                        | Thursday
                        input#day-4(type="checkbox", checked) 
                        .control-indicator
                .set-time
                    .from
                        .from-frm.clearfix
                            input(type="text", placeholder="08:00")
                            select
                                option(value="", selected) AM
                                option(value="") PM
                    .to
                        .from-frm.clearfix
                            input(type="text", placeholder="05:00")
                            select
                                option(value="") AM
                                option(value="", selected) PM
            // END: Hour item
            .hour-itm.clearfix
                .day-chk
                    label.control.control-checkbox(for="day-5")
                        | Friday
                        input#day-5(type="checkbox", checked) 
                        .control-indicator
                .set-time
                    .from
                        .from-frm.clearfix
                            input(type="text", placeholder="08:00")
                            select
                                option(value="", selected) AM
                                option(value="") PM
                    .to
                        .from-frm.clearfix
                            input(type="text", placeholder="05:00")
                            select
                                option(value="") AM
                                option(value="", selected) PM
            // END: Hour item
            .hour-itm.clearfix
                .day-chk
                    label.control.control-checkbox(for="day-6")
                        | Saturday
                        input#day-6(type="checkbox") 
                        .control-indicator
                .set-time
                    .from
                        .from-frm.clearfix
                            input(type="text", placeholder="00:00")
                            select
                                option(value="") AM
                                option(value="") PM
                    .to
                        .from-frm.clearfix
                            input(type="text", placeholder="00:00")
                            select
                                option(value="") AM
                                option(value="") PM
            // END: Hour item
            .hour-itm.clearfix
                .day-chk
                    label.control.control-checkbox(for="day-7")
                        | Sunday
                        input#day-7(type="checkbox") 
                        .control-indicator
                .set-time
                    .from
                        .from-frm.clearfix
                            input(type="text", placeholder="00:00")
                            select
                                option(value="") AM
                                option(value="") PM
                    .to
                        .from-frm.clearfix
                            input(type="text", placeholder="00:00")
                            select
                                option(value="") AM
                                option(value="") PM
            // END: Hour item
    .m-s-ft.clearfix
        button.pull-left.appoint-btn.appoint-default.close-service-modal(data-close="manage-staff-hour") Cancel
        button.appoint-btn.pull-right Done