.modal.fade#member-detail(role='dialog')
    .modal-dialog(role='document')
        .modal-content
            .modal-header.mem-dt-head
                button.close-modal(type='button', data-dismiss='modal', aria-label='Close')
                    i.fa.fa-close
                .head-ava
                    img.img-circle(src="images/ava.png", alt)
                    h3.user-name Denise McKay
                    span.since Since July 2017
                    span.point 57 points
            .modal-body.clearfix
                .row
                    .add-point
                        .col-md-5.col-xs-5
                            p Add/remove from current pts:
                        .col-md-7.col-xs-7  
                            .add-pts-ipt
                                button.decrease
                                    i.fa.fa-caret-down
                                button.increase
                                    i.fa.fa-caret-up
                                input(type="text")
                .detail-frm
                    p.count-visit
                        span 1 
                        | Total visit 
                        span 75 
                        | Lifetime Pts 
                    .form-group
                        label Name:
                        input.form-control(type="text", value="Denise McKay", readonly)
                    .form-group
                        label Phone number:
                        input.form-control(type="text", value="(214) 505-5295")
                    .birthday
                        p
                            label Birthday:
                        .row
                            .col-md-4.col-xs-12
                                select.form-control
                                    option Month
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                                    option 6
                                    option 7
                                    option 8
                                    option 9
                                    option 10
                                    option 11
                                    option 12
                            .col-md-4.col-xs-12
                                select.form-control
                                    option Day
                                    option 1
                                    option 2
                                    option 3
                                    option 4
                                    option 5
                                    option 6
                                    option 7
                                    option 8
                                    option 9
                                    option 10
                                    option 11
                                    option 12
                            .col-md-4.col-xs-12
                                select.form-control
                                    option Year
                                    option 1990
                                    option 1991
                                    option 1992
                                    option 1993
                                    option 1994
                                    option 1995
                                    option 1996
                                    option 1997
                                    option 1998
                                    option 1999
                                    option 2000
                                    option 2001
                    .form-group
                        label Email:
                        input.form-control(type="text", value="", placeholder="Email")
                    .form-group
                        label Note:
                        textarea.form-control(rows="5", placeholder="Add note")
            .modal-footer
                button.cancel-del(data-dismiss='modal') Cancel
                button.accept-del Save changes