.modal.fade#promotion-performance-report(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
    .modal-dialog.modal-lg(role="document")
        .modal-content.cus-modal
            .modal-head.clearfix
                a.close-modal(href="javascript:;", data-dismiss="modal")
                    i.fa.fa-close
                h3.pull-left Promotion applier
                button.pull-right
                    i.fa.fa-pencil 
                    | Edit
            .modal-body.clearfix
                .ct-left.pull-left
                    .info-head
                        p
                            span.blue Everyone
                            | . OFF 10%
                        p
                            | First checkin reward
                            span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                        p.rd
                            span When:
                            | Everytime
                        p.th
                            span Expired date:
                            | 12/07/2018
                    .numb-blk.clearfix
                        .diliverd.pull-left
                            .h-ttl
                                span.text-uppercase Dilivered
                                h3.numb 1000
                            p
                                span.ttl Text
                                span.numb 100%
                            p
                                span.ttl Email
                                span.numb 90%
                        .visit.pull-left
                            .h-ttl
                                span.text-uppercase Visit
                                h3.numb 700
                            p
                                span.ttl Claims
                                span.numb 32
                            p
                                span.ttl Redem
                                span.numb 28
                    .revenue.clearfix
                        .reven.pull-left
                            span.text-uppercase Revenue
                            h3.numb $100,000
                        .spend.pull-left
                            span.text-uppercase Spending
                            h3.numb $62,412
                .ct-ight.pull-left
                    .table-responsive
                        table.table.modal-tb
                            tr
                                th.text-uppercase 
                                    span Customer
                                th.text-uppercase 
                                    span Visit
                                th.text-uppercase 
                                    span Revenue
                                th.text-uppercase 
                                    span Tag
                            tr
                                td 
                                    strong Irene Bridges
                                td 01/20/2017
                                td 
                                    span.blue $496
                                td
                                    .tag-red.tag-blk
                            tr
                                td 
                                    strong Irene Bridges
                                td 01/20/2017
                                td 
                                    span.blue $496
                                td
                                    .tag-red.tag-blk
                            tr
                                td 
                                    strong Irene Bridges
                                td 01/20/2017
                                td 
                                    span.blue $496
                                td
                                    .tag-red.tag-blk
                            tr
                                td 
                                    strong Irene Bridges
                                td 01/20/2017
                                td 
                                    span.blue $496
                                td
                                    .tag-yellow.tag-blk
                            tr
                                td 
                                    strong Irene Bridges
                                td 01/20/2017
                                td 
                                    span.blue $496
                                td
                                    .tag-red.tag-blk
                            tr
                                td 
                                    strong Irene Bridges
                                td 01/20/2017
                                td 
                                    span.blue $496
                                td
                                    .tag-yellow.tag-blk