.cre-pro-modal#redemtion-detail
    .container
        .m-content
            .m-head.clearfix
                h3.pull-left.text-capitalize Promotion detail
                .head-btn.pull-right
                    button.del-btn(data-toggle="modal", data-target="#del-promotion") Delete
                    button.edit-btn
                        i.fa.fa-pencil
                        | Edit
                    button.del-btn.close-modal-btn Close
            .m-body
                .row
                    .col-md-3.col-sm-12.prm-lft
                        .st-blk
                            p.blue Everyone
                            p.tooltip-p
                                | First check in reward 
                                span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                            p.off-p.text-uppercase
                                | Off 10%
                            p.date-p
                                i.fa.fa-calendar
                                | 12/07/2017 
                                span to 
                                | 12/07/2017
                        .second-blk
                            span.text-uppercase.span-ttl Total delivered
                            p
                                | 11,850 
                                i.fa.fa-mobile
                                span 100%
                                i.fa.fa-envelope
                                span 90%
                            .row
                                .col-md-6.col-sm-12
                                    span.text-uppercase.span-ttl Claims
                                    p 4500
                                .col-md-6.col-sm-12
                                    span.text-uppercase.span-ttl Redemtion
                                    p 2500
                        .third-blk
                            .row
                                .col-md-6.col-sm-12
                                    span.text-uppercase.span-ttl Icncom
                                    p $100,000
                                .col-md-6.col-sm-12
                                    span.text-uppercase.span-ttl Expense
                                    p $62,420
                            .chrt-ct
                                span 62%
                                .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="7", data-size="70", draw-canvas="", data-percent="62")
                    .col-md-9.col-sm-12.prm-rght
                        .tb-list
                            .table-responsive
                                table.table.cus-tb
                                    tr
                                        th.text-uppercase Customer
                                        th.text-uppercase Visit
                                        th.text-uppercase Income
                                        th.text-uppercase Tag
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-yellow.tag-blk
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-yellow.tag-blk
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-red.tag-blk
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-red.tag-blk
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-red.tag-blk
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-red.tag-blk
        .modal.fade#del-promotion(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Delete promotion
                    .modal-body
                        p Do you really want to remove this promotion from this list? After removed, the cashier will not see this promotion and customer will not be able to redeem
                    .modal-footer
                        button.cancel-del(data-dismiss='modal') Later
                        button.accept-del Ok