.cre-pro-modal#reminder-detail
    .container
        .m-content
            .m-head.clearfix
                h3.pull-left.text-capitalize Reminder detail
                .head-btn.pull-right
                    button.del-btn(data-toggle="modal", data-target="#del-reminder") Delete
                    button.edit-btn
                        i.fa.fa-pencil
                        | Edit
                    button.del-btn.close-modal-btn Close
            .m-body
                .row
                    .col-md-3.col-sm-12.prm-lft
                        .st-blk
                            p First check in reward 
                            p.off-p.text-uppercase
                                | 5% Off
                            p.expire
                                span Expired in 
                                | 06/08/2019
                            p.no-visit
                                span No visit in  
                                | 20 days
                        .second-blk
                            span.text-uppercase.span-ttl Total delivered
                            p
                                | 11,850 
                                i.fa.fa-mobile
                                span 100%
                                i.fa.fa-envelope
                                span 90%
                            .row
                                .col-md-6.col-sm-12
                                    span.text-uppercase.span-ttl Claims
                                    p 4500
                                .col-md-6.col-sm-12
                                    span.text-uppercase.span-ttl Redemtion
                                    p 2500
                        .third-blk
                            .row
                                .col-md-6.col-sm-12
                                    span.text-uppercase.span-ttl Icncom
                                    p $100,000
                                .col-md-6.col-sm-12
                                    span.text-uppercase.span-ttl Expense
                                    p $62,420
                            .chrt-ct
                                span 62%
                                .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="7", data-size="70", draw-canvas="", data-percent="62")
                    .col-md-9.col-sm-12.prm-rght
                        .tb-list
                            .table-responsive
                                table.table.cus-tb
                                    tr
                                        th.text-uppercase Customer
                                        th.text-uppercase Visit
                                        th.text-uppercase Income
                                        th.text-uppercase Tag
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-yellow.tag-blk
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-yellow.tag-blk
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-red.tag-blk
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-red.tag-blk
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-red.tag-blk
                                    tr
                                        td 
                                            strong Irene Bridges
                                        td 01/20/2017
                                        td 
                                            span.blue $496
                                        td
                                            .tag-red.tag-blk
        .modal.fade#del-reminder(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Delete reminder
                    .modal-body
                        p Do you really want to remove this reminder from this list? After removed, your customer will not receive the notification and redeem
                    .modal-footer
                        button.cancel-del(data-dismiss='modal') Later
                        button.accept-del Ok