.modal.fade#review-modal(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel")
    .modal-dialog.modal-lg(role="document")
        .modal-content.review-modal
            .modal-head.clearfix
                a.close-modal(href="javascript:;", data-dismiss="modal")
                    i.fa.fa-close
                .ava
                    img.img-circle(src="images/ava.png", alt)
                .head-info
                    p.name Lily Coleman
                    .tag-type
                        span.type.vip
                            | Vip
                        span.tag.tag-yellow
                    .row
                        .col-md-6
                            p
                                i.fa.fa-phone
                                span.grey (972) 824-9422
                            p.no-margin
                                i.fa.fa-envelope
                                span.grey lily_coleman@gmail.com
                        .col-md-6
                            p
                                span.grey Last visit: 
                                | 4/15/2017
                            p.no-margin
                                span.grey Visit 
                                | 12 times
            .modal-body.clearfix
                .post-list
                    .post-itm
                        p.ct-name Yelp
                        .time-post
                            span.fa.fa-star.active
                            span.fa.fa-star.active
                            span.fa.fa-star.active
                            span.fa.fa-star.active
                            span.fa.fa-star
                            span.date-time 4/15/2017
                        p.ct
                            | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                        a.view-more(href="#") See more
                    .post-itm
                        p.ct-name Yelp
                        .time-post
                            span.fa.fa-star.active
                            span.fa.fa-star.active
                            span.fa.fa-star.active
                            span.fa.fa-star.active
                            span.fa.fa-star
                            span.date-time 4/15/2017
                        p.ct
                            | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                        a.view-more(href="#") See more
                    .post-itm
                        p.ct-name Yelp
                        .time-post
                            span.fa.fa-star.active
                            span.fa.fa-star.active
                            span.fa.fa-star.active
                            span.fa.fa-star.active
                            span.fa.fa-star
                            span.date-time 4/15/2017
                        p.ct
                            | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                        a.view-more(href="#") See more
                