.hero
    include main-menu.jade
    //END: MAIN MENU
    .container
        .content.text-center
            .img-logo
                img(src="images/logo.png", alt)
            .ct-txt
                p How to get customers coming back AND more Five-Star reviews?
            .link-btn
                a.watch-clip(href="#", data-toggle="modal", data-target="#intro-clip") 
                    i.fa.fa-play
                    | Watch video
                a.free-trial(href="#") Free trial now
    #intro-clip.modal.fade(tabindex='-1', role='dialog', aria-labelledby='introClipLabel')
        .modal-dialog(role='document')
            .modal-content
                .embed-responsive.embed-responsive-16by9
                    video.embed-responsive-item#intro-video(controls, autoplay)
                        source(src="uploads/videos/intro_clip.webm")
                        