.satify-client
    .container
        .ttl.text-center
            h3 We safisfy our clients
        .client-slider
            .client-slick.slider-nav
                .slide-itm
                    img(src="uploads/client/client1.png")
                .slide-itm
                    img(src="uploads/client/client2.png")
                .slide-itm
                    img(src="uploads/client/client3.png")
                .slide-itm
                    img(src="uploads/client/client4.png")
                .slide-itm
                    img(src="uploads/client/client5.png")
            .slider-for.client-cmt
                .slide-cmt-itm
                    .s-cmt-ct.text-center
                        p.cmt-txt "Deliver the ultimate guest experience using the robust interface of Splash, featuring flexible and customizable web design with the full power of CRM and email marketing tools"
                        p.author
                            span.author-name Warren Griffin
                            span.author-pos Lead Design, Airbnb
                .slide-cmt-itm
                    .s-cmt-ct.text-center
                        p.cmt-txt "Featuring flexible and customizable web design with the full power of CRM and email marketing tools"
                        p.author
                            span.author-name Warren Griffin
                            span.author-pos Lead Design, Airbnb
                .slide-cmt-itm
                    .s-cmt-ct.text-center
                        p.cmt-txt "Lorem Ipsum is simply dummy text of the printing and typesetting industry. The full power of CRM and email marketing tools"
                        p.author
                            span.author-name Warren Griffin
                            span.author-pos Lead Design, Airbnb
                .slide-cmt-itm
                    .s-cmt-ct.text-center
                        p.cmt-txt "Deliver the ultimate guest experience using the robust interface of Splash, design with the full power of CRM and email marketing tools"
                        p.author
                            span.author-name Warren Griffin
                            span.author-pos Lead Design, Airbnb
                .slide-cmt-itm
                    .s-cmt-ct.text-center
                        p.cmt-txt "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s"
                        p.author
                            span.author-name Warren Griffin
                            span.author-pos Lead Design, Airbnb