<div class="toas-content {{option.position}}" *ngIf="isShow">
  <div class="alert {{classCss}}" role="alert">
    <h3 *ngIf="option.title">{{option.title}}</h3>
    <p *ngIf="option.message">{{option.message}}</p>
  </div>
</div>
