block vars
  -title="Blog"
extends layouts/layout
block main
    .main-content
        .blog
            include blocks/index/main-menu.jade
            //END: MAIN MENU
            .h-ttl.text-center.text-uppercase
                .container
                    h1 Blog
            //END: TITLE
            include blocks/blog/blog-list.jade