block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        include blocks/index/hero.jade
        // END: HERO BLOCK
        include blocks/index/video-blk.jade
        // END: VIDEO BLOCK
        include blocks/index/how-it-work-v2.jade
        // END: HOW IT WORK BLOCK
        include blocks/index/testimonial.jade
        // END: TESTIMONIAL BLOCK
        include blocks/index/helping.jade
        // END: HELPING BLOCK
        include blocks/index/contact.jade
        // END: CONTACT BLOCK