/*
 *
 * Responsive css
 *
*/ 



// Max-width: 1024px ---------------------

@media (max-width: 1024px) {
    .header-contain{
        .responsive-btn{
            display: block;
        }
    }

    .main-menu{
        left: -215px;
        .transition(all 0.4s ease);
        .box-shadow(1px 0px 5px 0px rgba(0,0,0,1));
        &.shw{
            left: 0;
        }
    }

    .checkout-content{
        margin-left: 0;
    }

}

@media (max-width: 990px) {
    .history-tb, .checkout-tb{
        .col-sm, .col-lg, .col-eq {
            i{
                display: block;
            }
        }
    }
}
