/*
 *
 * Sidebar and header css
 *
*/

header{
  height: 44px;
  background-image: linear-gradient(to right, #473cf8, #2b7fff);
  color: #fff;
  line-height: 44px;
  position: fixed;
  z-index: 400;
  width: 100%;
  p{
    margin-bottom: 0;
  }
}

.main-menu{
  padding-top: 24px;
  width: 208px;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 44px;
  left: 0;
  z-index: 100;
  background-color: #f2f3f6;
}

.menu{
  li{
    p{
      margin-bottom: 0;
      padding-left: 15px;
      height: 24px;
      line-height: 24px;
      margin: 16px 0;
    }
    a{
      display: block;
      width: 208px;
      height: 48px;
      line-height: 48px;
      padding-left: 50px;
      position: relative;
      .transition(all 0.4s ease);
      text-decoration: none;
      i{
        position: absolute;
        top: 50%;
        right: 15px;
        .transform(translateY(-50%));
      }
      img{
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 15px;
        .transform(translateY(-50%));
      }
      &.no-pad-left{
        padding-left: 15px;
      }
      &:hover{
        background-color: rgba(218, 221, 230, 0.5);
      }
    }
  }
  >li{
    >a{
      &.active{
        background-color: #DADDE6;
        &:before{
          content: '';
          display: block;
          width: 4px;
          height: 36px;
          background-color: #4789ff;
          position: absolute;
          left: 0;
          top: 6px;
        }
        i{
          &:before{
            content: '\f106';
          }
        }
      }
    }
  }
}
