<header class="top-header">
  <div class="header-contain">
    <p class="text-center checkout-logo">
      <img src="assets/img/logo.png" alt />
    </p>
    <a href="javascript:;" class="responsive-btn">
      <i class="fa fa-bars"></i>
    </a>
    <div class="notify-wrap">
      <div class="noti-ct">
        <span class="has-new-noti" [ngClass]="{shw: totalUnread > 0}"></span>
        <a href="javascript:;" (click)="showNotiList($event)">
          <i class="fa fa-bell-o"></i>
        </a>
        <div class="noti-list cus-scroll">
          <button type="button" class="checkout-btn pull-right" (click)="setAllAsRead($event)">Mark all as read</button>
          <p *ngIf="noData" class="no-noti">{{noData}}</p>
          <div class="noti-list-ct" *ngIf="notiList.length">
            <p *ngFor="let noti of notiList" [ngClass]="{unread: noti.isRead == 0}">
              <a href="javascript:;" (click)="setIsRead($event, noti.id)">{{noti.content}}</a>
              <span>Created at: {{noti.created_at}}</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="main-menu">
  <ul class="menu">
    <li>
      <p>Main</p>
    </li>
    <li>
      <a routerLink="/checkout/checkout-list" routerLinkActive="active" class="menu-itm" (click)="changeMenuLink($event, 'checkout')">
        <img src="assets/img/checkout.png" alt/>
        Checkout
      </a>
    </li>
    <li>
      <a routerLink="/checkout/history" routerLinkActive="active" class="menu-itm" (click)="changeMenuLink($event, 'history')">
        <img src="assets/img/history.png" alt/>
        History
      </a>
    </li>
    <li *ngIf="isAppoint">
      <a routerLink="/appointment" routerLinkActive="active" class="menu-itm" (click)="changeMenuLink($event, 'appointment')">
        <img src="assets/img/appointment.png" alt/>
        Appointment
      </a>
    </li>
    <li>
      <p>More</p>
    </li>
    <li>
      <a href="#" class="menu-itm no-pad-left" (click)="signout($event)">Sign out</a>
    </li>
  </ul>
</div>
