//- include ../blocks/index/ads.jade
// END: ADS BLOCK    
footer.footer
    .container
        .footer-ct
            .row
                .col-md-3.col-xs-12.ft-col
                    .ft-logo
                        a(href="index.html")
                            img(src="images/logo.png", alt)
                .col-md-3.col-xs-4.ft-col
                    .ft-menu
                        ul
                            li
                                a(href="#") About us
                            li
                                a(href="#") Learn
                            li
                                a(href="#") Recommend
                            li
                                a(href="#") Engage
                            li
                                a(href="#") Free resources
                            li
                                a(href="#") Press kit
                .col-md-3.col-xs-4.ft-col
                    .ft-menu
                        ul
                            li
                                a(href="#") Careers
                            li
                                a(href="#") Contact us
                            li
                                a(href="blog.html") Blog
                            li
                                a(href="#") Help
                            li
                                a(href="#") Terms of Service
                            li
                                a(href="#") Privacy Policy
                .col-md-3.col-xs-4.ft-col
                    .follow-us
                        h3 Follow us:
                        .social-ico
                            a(href="#")
                                i.fa.fa-twitter
                            a(href="#")
                                i.fa.fa-facebook
                            a(href="#")
                                i.fa.fa-google-plus
                        p.copyright
                            | &copy; GoCheckin 2017. All rights reserved.