/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

@import 'stylesheets/bootstrap.scss';
@import 'stylesheets/login.scss';
html, body{
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: relative;
}

a.active {
  background-color: gray;
}
