/*
 *
 * Responsive max-width: 990px
 *
*/ 

@media (max-width: 990px) {
    // Main menu
    .menu-lst{
        padding-top: 5px;
    }
    .menu-itm{
        margin-left: 20px;
    }

    // Main - hero block
    .content {
        top: 30%;
        .ct-txt{
            font-size: 36px;
        }
    }

    // Main - how it work block
    .how-it-work{
        padding: 65px 0 30px 0
    }

    // Main - satify client block
    .s-cmt-ct{
        width: 100%;
        padding: 0 15px;
        p{
            font-size: 20px;
        }
    }

    // Main - how we do it block
    .h-d-itm {
        .ct {
            padding: 15px;
            h3{
                height: auto;
            }
        }
    }

    // Footer - ads block
    .ads-blk {
        .ads-ct {
            h3 {
                span{
                    font-size: 36px;
                }
            }
        }
    }

    // Footer
    .ft-logo{
        text-align: center;
        margin-bottom: 30px;
        img{
            width: 60%;
        }
    }

    // Blog list
    .blog-itm {
        .blog-img {
            img{
                height: auto;
            }
        }
    }

    // Intro clip
    #intro-clip{
        .modal-dialog{
            width: 600px;
        }
    }

    
    // Home v2 - main menu
    .main-menu{
        padding-bottom: 30px;
    }

    // Home v2 - main slider
    .hero{
        // height: auto;
    }
    .main-slider {
        height: auto;
        .m-slide-itm {
            img{
                height: auto;
            }
        }
    }
    .slogan{
        padding-top: 0;
        h1, p{
            font-size: 28px;
        }
    }

    .hero-content{
        .col-xs-12{
            width: 50%;
        }
    }

    .main-contact {
        padding: 15px;
        width: 320px;
        .form-group{
            margin-bottom: 10px;
        }
        .drop-msg{
            margin-bottom: 10px;
        }
        .logo-blk{
            margin-bottom: 10px;
        }
        // .no-need{
            // line-height: 1.4;
            // font-size: 14px;
        // }
        // .form-control{
        //     height: 30px;
        // }
        // button{
        //     height: 30px;
        // }
    }

    .video-blk{
        margin: 130px 0 65px 0;
    }
}