/*
 *
 * Responsive max-width: 1024px
 *
*/ 

@media (max-width: 1024px) {
    .first-blk{
        padding-top: 100px;
    }
    .itm-desc {
        .desc-itm{
            width: auto;
            padding-right: 15px;
        }
    }
    .second-blk{
        padding-left: 30px;
    }
}