.blog-list
    .container
        .row
            .col-md-6.col-xs-12.blog-itm
                a(href="blog-detail.html")
                    .blog-inner
                        .blog-img
                            img(src="uploads/blog/blog1.jpg", alt)
                        .blog-content
                            h3 12 Handy Tips For Generating Leads Through Cold Calling
                            span.date-post May 17, 2015
                            p It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, the industry is fast becoming overcrowded, heaving with agencies offering similar services — on the surface, at least. Producing creative, fresh projects is the key to standing out. Unique side projects are the best place to innovate, but balancing commercially and creatively lucrative work is tricky. So, this article looks at …
            // END: BLOCK ITEM
            .col-md-6.col-xs-12.blog-itm
                a(href="blog-detail.html")
                    .blog-inner
                        .blog-img
                            img(src="uploads/blog/blog2.jpg", alt)
                        .blog-content
                            h3 Promotional Advertising Specialty You Ve Waited Long Enough
                            span.date-post May 17, 2015
                            p I hate peeping Toms. For one thing they usually step all over the hedges and plants on the side of someone’s house killing them and setting back the vegetation’s gardener countless time and effort. Another thing that I don’t really like about them is that they’re such sideline actors, lacking the abilities to participate actively, that I just can’t offer them any respect, whatsoever. Finally, I hate peeping Toms because of the very nature of their field. What is that nature? Its one of intrusiveness. And intrusive, unwelcome company is intolerable in any form. This leads me to internet advertising trends. 
            // END: BLOCK ITEM
            .col-md-6.col-xs-12.blog-itm
                a(href="blog-detail.html")
                    .blog-inner
                        .blog-img
                            img(src="uploads/blog/blog3.jpg", alt)
                        .blog-content
                            h3 Getting Free Publicity For Your Business
                            span.date-post May 17, 2015
                            p It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, the industry is fast becoming overcrowded, heaving with agencies offering similar services — on the surface, at least. Producing creative, fresh projects is the key to standing out. Unique side projects are the best place to innovate, but balancing commercially and creatively lucrative work is tricky. So, this article looks at …
            // END: BLOCK ITEM
            .col-md-6.col-xs-12.blog-itm
                a(href="blog-detail.html")
                    .blog-inner
                        .blog-img
                            img(src="uploads/blog/blog4.jpg", alt)
                        .blog-content
                            h3 Improve Your Business Cards And Enhance Your Sales
                            span.date-post May 17, 2015
                            p It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, the industry is fast becoming overcrowded, heaving with agencies offering similar services — on the surface, at least. Producing creative, fresh projects is the key to standing out. Unique side projects are the best place to innovate, but balancing commercially and creatively lucrative work is tricky. So, this article looks at …
            // END: BLOCK ITEM
            .col-md-6.col-xs-12.blog-itm
                a(href="blog-detail.html")
                    .blog-inner
                        .blog-img
                            img(src="uploads/blog/blog2.jpg", alt)
                        .blog-content
                            h3 Getting Free Publicity For Your Business
                            span.date-post May 17, 2015
                            p It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, the industry is fast becoming overcrowded, heaving with agencies offering similar services — on the surface, at least. Producing creative, fresh projects is the key to standing out. Unique side projects are the best place to innovate, but balancing commercially and creatively lucrative work is tricky. So, this article looks at …
            // END: BLOCK ITEM
            .col-md-6.col-xs-12.blog-itm
                a(href="blog-detail.html")
                    .blog-inner
                        .blog-img
                            img(src="uploads/blog/blog1.jpg", alt)
                        .blog-content
                            h3 Improve Your Business Cards And Enhance Your Sales
                            span.date-post May 17, 2015
                            p It’s no secret that the digital industry is booming. From exciting startups to global brands, companies are reaching out to digital agencies, responding to the new possibilities available. However, the industry is fast becoming overcrowded, heaving with agencies offering similar services — on the surface, at least. Producing creative, fresh projects is the key to standing out. Unique side projects are the best place to innovate, but balancing commercially and creatively lucrative work is tricky. So, this article looks at …
            // END: BLOCK ITEM
            .more.text-center
                button See more