header.top-header
    a.responsvie-btn(href="javascript:;")
        i.fa.fa-bars
    p.text-center
        | GoCheckin
    .setting-blk
        .btn-group
            button.dropdown-toggle(data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                span.sry-only 
                span.fa.fa-cog
            ul.dropdown-menu
                li
                    a(href="#") Business profile
                li
                    a(href="#") General setting
                li.divider(role="separator")
                li
                    a(href="#") Logout
.main-menu
    ul.menu
        li
            p Main
        li 
            a.menu-itm(href="javascript:;")
                img(src="images/dashboard_ico.png", alt)
                | Dashboard
        li
            a.menu-itm(href="javascript:;")
                img(src="images/promotion.png", alt)
                | Promotion & reminder
                i.fa.fa-angle-down
            ul.sub
                li
                    a(href="#") Promotion
                li
                    a(href="#") Reminder
                li
                    a(href="#") Special day offer
        li 
            a.menu-itm(href="javascript:;")
                img(src="images/member_ico.png", alt)
                | Member list
        li 
            a.menu-itm(href="javascript:;")
                img(src="images/review_ico.png", alt)
                | Review
        li 
            a.menu-itm(href="javascript:;")
                img(src="images/account_ico.png", alt)
                | Account Management
        li 
            a.menu-itm(href="appointment.html")
                img(src="images/promotion_ico.png", alt)
                | Appointment
        li
            p More
        li 
            a.menu-itm.no-pad-left(href="javascript:;")
                | Setting
        li 
            a.menu-itm.no-pad-left(href="javascript:;")
                | About us