block vars
  title Home - novaland.biz
  showTop false
doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    //-- Call font
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,700,800,300&subset=latin,vietnamese', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", href="icons/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    //--script(src="js/modernizr.js")
  body
    include ../includes/header.jade
    section.main
        block main
    .question-blk
      .q-ct
        a.shw-question(href="javascript:;")
          i.fa.fa-comments
        .q-list
          .q-l-ct
            a.close-blk(href="javascript:;")
              i.fa.fa-angle-down
            p What’s your #1 sale question right now?
            .q-ul
              ul
                li
                  a.q-itm(href="javascript:;")
                    | I want to upsell and cross sell product’s thus increase order value
                li
                  a.q-itm(href="javascript:;")
                    | I want to increase traffic and conversion rate on my online store
                li
                  a.q-itm(href="javascript:;")
                    | Want to maximize revenue from existing visitor and retain loyal
                li
                  a.q-itm(href="javascript:;")
                    | I want to suggest related products based on customers’ carts
                li
                  a.q-itm(href="javascript:;")
                    | Want to maximize revenue from existing visitor and retain loyal
                li
                  a.q-itm(href="javascript:;")
                    | Want to maximize revenue from existing visitor and retain loyal
                li
                  a.q-itm(href="javascript:;")
                    | I want to suggest related products based on customers’ carts
                li
                  a.q-itm(href="javascript:;")
                    | I want to suggest related products based on customers’ carts
            .q-ft-blk
              button
                | Send
                i.fa.fa-angle-right
    // END: QUESTION BLOCK
    .bg-overlay
    include ../includes/footer.jade
    include ../includes/scripts.jade
