/*
 * Login css
*/

.login-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/img/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.login-frm{
    width: 320px;
    // height: 356px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

.err-msg{
    display: none;
    font-size: 11px;
}
.err-msg.shw{
    display: block;
}

input.err{
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(169,68,66, 0.075);
}

.c-p-logo{
    width: 128px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.c-p-logo img{
    width: 100%;
}

.ipt-phone{
    color: #fff;
}
.ipt-phone p{
    font-size: 16px;
    margin-bottom: 10px;
}
.ipt-phone input{
    display: block;
    width: 260px;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    color: #fff;
    letter-spacing: .6;
    font-size: 32px;
    height: 40px;
    line-height: 40px;
    outline: none;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
}

.btn-grp{
    margin-bottom: 15px;
}

.btn-grp button{
    margin: 0 10px;
    display: inline-block;
    width: 88px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #e4e4e7;
    color: #fff;
    border-radius: 100px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 26px;
    text-shadow: 0 2px 5px rgba(55, 188, 255, 0.15);
    transition: all 0.3s ease;
    outline: none;
}
.btn-grp button:hover{
    background-color: #fff;
    color: #333;
}
.submit-phone{
    outline: none;
    width: 320px;
    height: 56px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #473cf8, #2b7fff);
    color: #fff;
    margin: 0 auto;
    border: none;
    font-size: 18px;
}

.last-btn{
    position: relative;
}

.btn-grp .del-numb{
    position: absolute;
    background-image: url('../../../../assets/img/login-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}
.btn-grp .del-numb:hover{
    background-color: transparent;
}
.c-n-ipt p{
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    opacity: .6;
    margin-bottom: 0;
}
.c-n-ipt input{
    display: block;
    width: 260px;
    margin: 0 auto;
    border: none;
    background-color: transparent;
    color: #fff;
    letter-spacing: 0.6px;
    font-size: 32px;
    height: 64px;
    line-height: 64px;
    outline: none;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

.c-n-ipt button{
    background-color: transparent;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 18px;
    outline: none;
    border: none;
    color: #4789ff;
    text-transform: uppercase;
}

.c-b-slt{
    width: 380px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.c-b-slt select{
    text-align: center;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
}

.c-b-slt select option {
    color: #333;
}
.c-b-slt button{
    position: absolute;
    bottom: 0;
}


.reedem-list{
    padding: 50px 0;
    // height: 520px;
    // overflow: hidden;
}
.reedem-itm{
    margin: 15px 0;
}
.reedem-itm .img img{
    width: 100%;
}
.checkin-success{
    width: 320px;
    margin: 0 auto;
    color: #fff;
    margin-top: 150px;
    p{
        font-size: 16px;
        line-height: 1.5;
    }
    .user-name{
        font-size: 32px;
        letter-spacing: 0.6px;
    }
    .hr-divide{
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.2);
        margin-bottom: 16px;
        margin-top: 12px;
    }
    .curr-point{
        font-size: 32px;
        letter-spacing: 0.6px;
        color: #5cff63;
    }
}

.checkin-email, .checkin-name, .chekin-birth{
    width: 384px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.skip, .next{
    position: absolute;
}
.next{
    right: 60px;
}
.skip{
    left: 60px;
}

.logo-img{
  margin-bottom: 20px;
  margin-top: 0;
  img{
    width: 80%;
  }
}

.login-frm{
  .form-control{
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ddd;
    &:focus, &:active{
      box-shadow: none !important;
      border-bottom-color: #4789ff;
    }
  }
}

.login-btn{
  background-image: linear-gradient(to right, #473cf8, #2b7fff);
  color: #fff;
  display: block;
  width: 100%;
  outline: none;
  padding: 0px 12px;
  font-size: 14px;
  line-height: 48px;
  border-radius: 4px;
  white-space: nowrap;
  cursor: pointer;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  border: none;
  height: 48px;
  &:hover{
    color: #fff;
  }
}
