.ads-blk
    .container
        .ads-ct.text-center
            p No sales team, no marketers, no engineers. Just results & GoCheckin
            h3 
                span.ready Ready to increase
                span.your-sale your sales by
                span.bonus 50%++
            a(href="#") Free trail now!
