.contact-blk
    .container.text-center
        .contact-logo
            img(src="images/logo.png", alt)
        h3 No need to be worry about reputation management and CRM more
        p Drop us a message to se the demo
        .contact-frm
            form
                .form-group
                    input.form-control(type="text", placeholder="Your name")
                .form-group
                    input.form-control(type="text", placeholder="Your company")
                .form-group
                    input.form-control(type="text", placeholder="Your company address")
        .submit-frm-btn
            button(type="submit") Submit