.helping-blk
    .container
        .ttl.text-center
            h3 Some knowledge can help
            p To be confident social media and customer management
        .help-list
            .row
                .col-md-4.col-xs-4.help-itm
                    .help-img
                        img(src="uploads/home/help1.png", alt)
                        a.play-ico(href="javascript:;")
                            i.fa.fa-play
                    .help-ttl
                        h3 Welcome To Desiclassifieds Free Classifieds Free Ads Free Advertisement
                    .help-txt
                        p Our sophisticated artificial intelligence can detect reviews from your customers so you can get an insight into.
                // END: HELP ITM
                .col-md-4.col-xs-4.help-itm
                    .help-img
                        img(src="uploads/home/help2.png", alt)
                        a.play-ico(href="javascript:;")
                            i.fa.fa-play
                    .help-ttl
                        h3 Welcome To Desiclassifieds Free Classifieds Free Ads Free Advertisement
                    .help-txt
                        p Our sophisticated artificial intelligence can detect reviews from your customers so you can get an insight into.
                // END: HELP ITM
                .col-md-4.col-xs-4.help-itm
                    .help-img
                        img(src="uploads/home/help3.png", alt)
                        a.play-ico(href="javascript:;")
                            i.fa.fa-play
                    .help-ttl
                        h3 Welcome To Desiclassifieds Free Classifieds Free Ads Free Advertisement
                    .help-txt
                        p Our sophisticated artificial intelligence can detect reviews from your customers so you can get an insight into.
                // END: HELP ITM