.hero
    include main-menu.jade
    //END: MAIN MENU
    //- .main-slider
    //-     .m-slide
    //-         .m-slide-itm
    //-             img(src="uploads/home/main-slider1.png", alt)
    //-         .m-slide-itm
    //-             img(src="uploads/home/main-slider2.png", alt)
    //-         .m-slide-itm
    //-             img(src="uploads/home/main-slider3.png", alt)
    //END: MAIN SLIDER
    .container
        .hero-content
            .row
                .col-md-7.col-xs-12
                    .slogan
                        h1 Never get
                        p Bad Reviews Again
                .col-md-5.col-xs-12.clearfix
                    .main-contact.pull-right
                        .logo-blk
                            img(src="uploads/home/form-logo.png", alt)
                        p.no-need No need to be worry about reputation management and CRM more
                        span.drop-msg Drop us a message to se the demo
                        form
                            .form-group
                                input.form-control(type="text", placeholder="Your name")
                            .form-group
                                input.form-control(type="text", placeholder="Your company")
                            .form-group
                                input.form-control(type="text", placeholder="Your company address")
                            .form-group
                                button(type="submit") Submit
    //- #intro-clip.modal.fade(tabindex='-1', role='dialog', aria-labelledby='introClipLabel')
    //-     .modal-dialog(role='document')
    //-         .modal-content
    //-             .embed-responsive.embed-responsive-16by9
    //-                 video.embed-responsive-item#intro-video(controls, autoplay)
    //-                     source(src="uploads/videos/intro_clip.webm")
                        