.how-it-work
    .container
        .ttl.text-center
            h3 How it work
            p We involve in every customer’s journey
        .hw-it-wrk
            .row
                .col-md-3.col-xs-6
                    .hw-wrk-itm
                        .ct.text-center
                            .img
                                img(src="images/checkin.png", alt)
                            .ct-dt
                                h3 Check in
                                p Sorrt out Elite to deliver special service
                // END: HOW IT WORK ITEM
                .col-md-3.col-xs-6
                    .hw-wrk-itm
                        .ct.text-center
                            .img
                                img(src="images/checkout.png", alt)
                            .ct-dt
                                h3 Check out
                                p Make customer happy with promotion 
                // END: HOW IT WORK ITEM
                .col-md-3.col-xs-6
                    .hw-wrk-itm
                        .ct.text-center
                            .img
                                img(src="images/review.png", alt)
                            .ct-dt
                                h3 Review
                                p Suggest customer to review and rating
                // END: HOW IT WORK ITEM
                .col-md-3.col-xs-6
                    .hw-wrk-itm
                        .ct.text-center
                            .img
                                img(src="images/reengage.png", alt)
                            .ct-dt
                                h3 Re-engage
                                p Re-taget customer via SMS and Email
                // END: HOW IT WORK ITEM