.how-do-it
    .container
        .ttl.text-center
            h3 How we do it
        .how-do-slide.row
            .h-d-itm
                .col-md-6.col-xs-6
                    .img
                        img(src="uploads/how-we-do-it/h-do-it-1.jpg", alt)
                .col-md-6.col-xs-6
                    .ct
                        h3 Track your customer’s behaviors
                        p We know who’s caming to your website. Gocheckin help you see who they are, know what they do in your store
                        a(href="#") Free trial now!
            .h-d-itm
                .col-md-6.col-xs-6
                    .img
                        img(src="uploads/how-we-do-it/h-do-it-2.jpg", alt)
                .col-md-6.col-xs-6
                    .ct
                        h3 Lorem ipsum
                        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                        a(href="#") Free trial now!
            .h-d-itm
                .col-md-6.col-xs-6
                    .img
                        img(src="uploads/how-we-do-it/h-do-it-3.jpg", alt)
                .col-md-6.col-xs-6
                    .ct
                        h3 Where can I get some?
                        p If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                        a(href="#") Free trial now!
            .h-d-itm
                .col-md-6.col-xs-6
                    .img
                        img(src="uploads/how-we-do-it/h-do-it-4.jpg", alt)
                .col-md-6.col-xs-6
                    .ct
                        h3 Where does it come from?
                        p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                        a(href="#") Free trial now!