.how-it-work
    .ttl.text-center
        h3 How it work
        //- p We involve in every customer’s journey
    .hiw-itm.clearfix
        .itm-blk-ttl.text-center
            h3.text-uppercase REPUTATION MANAGEMENT
        .blk-img-rght
            img(src="uploads/home/img-right.png", alt)
        .itm-desc.pull-left.first-blk
            .desc-itm
                span.numb 1
                h3.title
                    | Online Review Detection
                .desc-ct
                    p Our sophisticated artificial intelligence can detect reviews from your customers so you can get an insight into your customer preference. At this point, it’s your fault to let customers walk away unsatisfied. 
            .desc-itm
                span.numb 2
                h3.title
                    | Online Review Booster
                .desc-ct
                    p Our software will automatically send review request via text message to customers that are online influencers and allow them to leave reviews from within their mobile devices. Negative feedback is flagged and routed directly to the business owner, while positive feedback is asked to share their experience online, creating 5-star reviews. 
    // END: HIW ITM 
    .hiw-itm.clearfix
        .itm-blk-ttl.text-center
            h3.text-uppercase MARKETING AUTOMATION
        .itm-desc.pull-left.second-blk
            .desc-itm
                span.numb 1
                h3.title
                    | Build your own CRM system
                .desc-ct
                    p By asking your customer sign-in up the first time using their name, phone and email, Go check-in automatically create customer database and help business owner building and maintain strong, loyal relationships with their customers and prospects. 
            .desc-itm
                span.numb 2
                h3.title
                    | Do It Yourself (D.I.Y) Loyalty Program
                .desc-ct
                    p Robust, affordable and easy to get up and running, our user-friendly based Dashboard has everything you need to operate your rewards program. Our innovative technology is designed to make it easy for all users to promote and operate your rewards program within minute. 
            .desc-itm
                span.numb 3
                h3.title
                    | Never fail to deliver your Promotion
                .desc-ct
                    p Go-checkin ensures that your loyalty customer will never miss a crucial message from you, no matter where they are, by sending them E-mail and SMS. This is complimentary feature while others charging their customers like cash cow to be milked.  
            .desc-itm
                span.numb 4
                h3.title
                    | Employee tracking system
                .desc-ct
                    p Go checkin captures and record transaction log of each customer and let you know who served them and how your customer rates that employee. 
        .blk-img-left
            img(src="uploads/home/img-left.png", alt)
    // END: HIW ITM 