.main-menu
    .container
        .row
            .col-md-3.col-xs-3.menu-logo
                a(href="index.html")
                    img(src="images/logo.png", alt)
            .col-md-9.col-xs-9.menu-lst.text-right
                a.menu-responsive(href="javascript:;")
                    i.fa.fa-bars
                ul.menu
                    li
                        a.menu-itm.text-center(href="index.html") Our Features
                    li
                        a.menu-itm.text-center(href="#") Our Webinar
                    li
                        a.menu-itm.text-center(href="#") Out knowledge
                    //- li
                    //-     a.menu-itm.text-center.trial(href="#") Free trial now!