.testimonial-blk
    .container
        .ttl.text-center
            h3 Our testimonials
            p Our customers are really happy and easy to manage their business performace
        .video-test
            a.play-test(href="javascript:void(0)")
                i.fa.fa-play
            video.embed-responsive-item#testimonial-video(controls)
                source#src-video(src="uploads/videos/testimonials.webm", type="video/webm")
        .test-slider
            .t-slider.owl-carousel
                .t-itm
                    .t-img
                        img.img-circle(src="uploads/home/ava.jpg", alt)
                    .t-name.text-center
                        p Alice McGee
                    .t-ct
                        p Our sophisticated artificial intelligence can detect reviews from your customers so you can get an insight into your customer preference. At this point, it’s your fault to let customers walk away unsatisfied. 
                // END: T-ITM
                .t-itm
                    .t-img
                        img(src="uploads/home/ava.jpg", alt)
                    .t-name.text-center
                        p John Doe
                    .t-ct
                        p Our sophisticated artificial intelligence can detect reviews from your customers so you can get an insight into your customer preference. At this point, it’s your fault to let customers walk away unsatisfied. 
                // END: T-ITM
                .t-itm
                    .t-img
                        img(src="uploads/home/ava.jpg", alt)
                    .t-name.text-center
                        p Mary Ramos
                    .t-ct
                        p Our sophisticated artificial intelligence can detect reviews from your customers so you can get an insight into your customer preference. At this point, it’s your fault to let customers walk away unsatisfied. 
                // END: T-ITM
                .t-itm
                    .t-img
                        img(src="uploads/home/ava.jpg", alt)
                    .t-name.text-center
                        p Alice McGee
                    .t-ct
                        p Our sophisticated artificial intelligence can detect reviews from your customers so you can get an insight into your customer preference. At this point, it’s your fault to let customers walk away unsatisfied. 
                // END: T-ITM
                .t-itm
                    .t-img
                        img(src="uploads/home/ava.jpg", alt)
                    .t-name.text-center
                        p Phoebe Higgins
                    .t-ct
                        p Our sophisticated artificial intelligence can detect reviews from your customers so you can get an insight into your customer preference. At this point, it’s your fault to let customers walk away unsatisfied. 
                // END: T-ITM