.container
    .video-blk
        .v-itm
            img(src="uploads/home/v-itm1.png", alt)
            a.play-ico(href="javascript:void(0)", data-source="uploads/videos/intro_clip.webm")
                i.fa.fa-play
            p.right.caption REPUTATION MANAGEMENT
        .v-itm
            img(src="uploads/home/v-itm2.png", alt)
            a.play-ico(href="javascript:;", data-source="uploads/videos/smart-detection.webm")
                i.fa.fa-play
            p.left.caption MARKETING AUTOMATION

    #intro-clip.modal.fade(tabindex='-1', role='dialog', aria-labelledby='introClipLabel')
        .modal-dialog(role='document')
            .modal-content
                a.close-modal(href="javascript:;", data-modal="#intro-clip")
                    i.fa.fa-close
                .embed-responsive.embed-responsive-16by9
                    video.embed-responsive-item#intro-video(controls)
                        source#src-video(src="", type="video/webm")
    // END: VIDEO MODAL