/*
 *
 * History css
*/

.sum-itm{
  background-color: #fff;
  min-height: 120px;
  padding: 22px 24px;
  margin-bottom: 24px;
  h3{
    margin: 0;
    font-size: 16px;
    color: #363b4e;
    margin-bottom: 16px;
    .ClanproBold();
  }
  .sum-count{
    font-size: 36px;
    color: #333333;
  }
  .progress{
    margin-bottom: 0;
    margin-top: 26px;
    height: 10px;
    border-radius: 0;
    box-shadow: none;
    overflow: inherit;
  }
  .progress-bar{
    box-shadow: none;
    position: relative;
    &.progress-bar-success{
      background-color: #41bd46;
    }
    &.progress-bar-info{
      background-color: #4789ff;
    }
    &.progress-bar-danger{
      background-color: #f54f3c;
    }
  }
  .count-perc{
    position: absolute;
    width: 56px;
    height: 25px;
    left: 50%;
    .transform(translateX(-50%));
    top: -40px;
    z-index: 100;
    color: #fff;
    margin-bottom: 0;
    background-color: #333;
    .box-shadow(0 2px 4px 0 rgba(0, 0, 0, 0.09));
    span{
      position: relative;
      display: block;
      height: 25px;
      line-height: 24px;
      &:before{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #333;
        position: absolute;
        bottom: -8px;
        left: 50%;
        .transform(translateX(-50%));
      }
    }
  }
}

.customer-survey{
  min-height: 500px;
  width: 60%;
  float: left;
  padding: 24px 32px;
}
.survey-ct{
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 24px;
  .survey-ttl{
    font-size: 11px;
    color: #8f8f9c;
    display: block;
    margin-bottom: 8px;
  }
  .survey-status{
    font-size: 11px;
    color: #f6a623;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .survey-auth{
    margin-bottom: 0;
  }
}
.star-lst{
  span{
    color: #e4e4e7;
    &.active{
      color: #4789ff;
    }
  }
}

.no-survey{
  border-bottom: 1px solid #ddd;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 24px;
}

.cus-pro{
  padding-top: 15px;
  .total{
    position: relative;
    width: 100%;
    height: 20px;
    line-height: 20px;
    .s-ttl, .s-value{
      position: absolute;
      font-size: 16px;
    }
    .s-ttl {
      left:0;
    }
    .s-value {
      right:0;
    }
  }
}
.p-ttl{
  font-size: 11px;
  color: #8f8f9c;
}

.p-itm{
  font-size: 13px;
  span{
    display: block;
  }
}
.r-lst{
  height: 180px;
  border: 1px solid #ddd;
  border-radius: 2px;
  overflow-y: auto;
  padding: 5px;
  .p-itm{
    margin-bottom: 8px;
  }
}
.c-d-f{
  margin-top: 50px;
}



.filter-by-date{
  display: inline-block;
  width: 300px;
  text-align: right;
  margin-right: 15px;
  position: relative;
  .filter-date{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    width: 150px;
    font-size: 13px;
    padding: 0 10px;
    outline: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dddddd;
    &:focus, &:active {
      border-color: #bbbbbb;
    }
  }
  a{
    position: absolute;
    display: block;
    right: 10px;
    top: 50%;
    .transform(translateY(-50%));
  }
}