<div class="login-content">
    <div class="container">
        <div class="login-frm" *ngIf="loginForm">
            <h1 class="text-center">GoChekin</h1>
            <form [formGroup]="loginFrm" *ngIf="loginFrm">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <input class="form-control" type="text" placeholder="Your domain"
                                    [formControl]="loginFrm.controls['domain']"
                                    [class.err]="loginFrm.controls['domain'].touched && !loginFrm.controls['domain'].valid"/>
                            <span class="err-msg text-danger"
                                    *ngIf="loginFrm.controls['domain'].hasError('whitespace')"
                                    [class.shw]="loginFrm.controls['domain'].touched && !loginFrm.controls['domain'].valid">This field is required</span>
                        </div>
                        <div class="col-md-6 col-xs-12">
                            <input class="form-control" type="text" disabled value=".go-checkin.com" [formControl]="loginFrm.controls['host']"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="username"
                            [formControl]="loginFrm.controls['username']"
                            [class.err]="loginFrm.controls['username'].touched && !loginFrm.controls['username'].valid"/>
                    <span class="err-msg text-danger"
                            *ngIf="loginFrm.controls['username'].hasError('whitespace')"
                            [class.shw]="loginFrm.controls['username'].touched && !loginFrm.controls['username'].valid">This field is required</span>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" placeholder="password"
                            [formControl]="loginFrm.controls['password']"
                            [class.err]="loginFrm.controls['password'].touched && !loginFrm.controls['password'].valid"/>
                    <span class="err-msg text-danger"
                            *ngIf="loginFrm.controls['password'].hasError('whitespace')"
                            [class.shw]="loginFrm.controls['password'].touched && !loginFrm.controls['password'].valid">This field is required</span>
                </div>
                <button class="btn" (click)="submitLogin($event, loginFrm.value)">Login</button>
                <p *ngIf="loginStatus.text" class="{{loginStatus.class}}">{{loginStatus.text}}</p>
            </form>
        </div>
        <!-- End login form -->

        <div class="checkin-phone" *ngIf="checkPhone">
            <div class="row">
                <div class="col-md-5 col-xs-12">
                    <!--<div class="reedem-list">
                        <div class="reedem-itm">
                            <div class="img">
                                <img src="../../../assets/img/reedem_bg1.png" alt />
                            </div>
                        </div>
                        <div class="reedem-itm">
                            <div class="img">
                                <img src="../../../assets/img/reedem_bg2.png" alt />
                            </div>
                        </div>
                        <div class="reedem-itm">
                            <div class="img">
                                <img src="../../../assets/img/reedem_bg3.png" alt />
                            </div>
                        </div>
                        <div class="reedem-itm">
                            <div class="img">
                                <img src="../../../assets/img/reedem_bg2.png" alt />
                            </div>
                        </div>
                        <div class="reedem-itm">
                            <div class="img">
                                <img src="../../../assets/img/reedem_bg1.png" alt />
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="col-md-7 col-xs-12">
                    <div class="c-phone-ct text-center">
                        <div class="c-p-logo">
                            <img src="../../../assets/img/checkin_phone_logo.png" />
                        </div>
                        <div class="ipt-phone">
                            <p>Please enter your phone number</p>
                            <input type="text" placeholder="Your number" mask="(000) 000-0000" [(ngModel)]="phone"/>
                        </div>
                        <div class="numb-btn">
                            <div class="btn-grp">
                                <button (click)="enterNumb($event, '1')">1</button>
                                <button (click)="enterNumb($event, '2')">2</button>
                                <button (click)="enterNumb($event, '3')">3</button>
                            </div>
                            <div class="btn-grp">
                                <button (click)="enterNumb($event, '4')">4</button>
                                <button (click)="enterNumb($event, '5')">5</button>
                                <button (click)="enterNumb($event, '6')">6</button>
                            </div>
                            <div class="btn-grp">
                                <button (click)="enterNumb($event, '7')">7</button>
                                <button (click)="enterNumb($event, '8')">8</button>
                                <button (click)="enterNumb($event, '9')">9</button>
                            </div>
                            <div class="btn-grp last-btn">
                                <button class="del-numb" (click)="delNumb($event)">
                                </button>
                                <button (click)="enterNumb($event, '0')">0</button>
                                <button class="submit-phone" (click)="submitPhone($event)">Done</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End checkin pphone -->

        <div class="checkin-name text-center" *ngIf="enterName">
            <div class="c-p-logo">
                <img src="../../../assets/img/checkin_phone_logo.png" />
            </div>
            <div class="c-n-ipt">
                <form [formGroup]="nameFrm" *ngIf="nameFrm">
                    <p>You're almost done.</p>
                    <p>Please enter your name to finish</p>
                    <input type="text" placeholder="Your name"
                            [formControl]="nameFrm.controls['name']"
                            [class.err]="nameFrm.controls['name'].touched && !nameFrm.controls['name'].valid"/>
                    <span class="err-msg text-danger"
                            *ngIf="nameFrm.controls['name'].hasError('whitespace')"
                            [class.shw]="nameFrm.controls['name'].touched && !nameFrm.controls['name'].valid">Please enter your name</span>
                    <button (click)="submitName($event, nameFrm.value)">Next</button>
                </form>
            </div>
        </div>
        <!-- End checkin name-->

        <div class="chekin-birth text-center" *ngIf="enterBirth">
            <div class="c-p-logo">
                <img src="../../../assets/img/checkin_phone_logo.png" />
            </div>
            <div class="c-n-ipt c-b-slt">
                <p>Thank you for check in</p>
                <p>What's your birthday?</p>
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <select class="form-control">
                            <option *ngFor="let m of month" value="{{m}}">{{m}}</option>
                        </select>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <select class="form-control" *ngIf="day">
                            <option *ngFor="let d of day" value="{{d}}">{{d}}</option>
                        </select>
                    </div>
                </div>
                <button class="skip" (click)="skipStep($event)">Skip</button>
                <button class="next">Next</button>
            </div>
        </div>
        <!-- End checkin birthday -->

        <div class="checkin-email text-center" *ngIf="enterMail">
            <div class="c-p-logo">
                <img src="../../../assets/img/checkin_phone_logo.png" />
            </div>
            <div class="c-n-ipt">
                <form *ngIf="mailFrm" [formGroup]="mailFrm">
                    <p>Thank you! One last thing</p>
                    <p>What's your email?</p>
                    <input type="text" placeholder="Your email"
                            [formControl]="mailFrm.controls['mail']"
                            [class.err]="mailFrm.controls['mail'].touched && !mailFrm.controls['mail'].valid"/>
                    <span class="err-msg text-danger"
                            *ngIf="mailFrm.controls['mail'].hasError('whitespace')"
                            [class.shw]="mailFrm.controls['mail'].touched && !mailFrm.controls['mail'].valid">Please enter your email.</span>
                    <span class="err-msg text-danger"
                            *ngIf="mailFrm.controls['mail'].hasError('invalidEmailAddress')"
                            [class.shw]="mailFrm.controls['mail'].touched && !mailFrm.controls['mail'].valid">Please enter valid email.</span>
                    <button (click)="skipStep($event)" class="skip">Skip</button>
                    <button (click)="enterEmail($event, mailFrm.value)" class="next">Next</button>
                </form>
            </div>
        </div>
        <!-- End checkin email -->

        <div class="checkin-success text-center" *ngIf="done">
            <p class="thank">Thank you!</p>
            <p class="user-name">{{fullname}}</p>
            <p>You checked in successfully!</p>
            <div class="hr-divide"></div>
            <p class="text-capitalize">Your current point</p>
            <p class="curr-point">500 Pts</p>
        </div>
        <!-- End checkin success -->
    </div>
</div>
