block vars
  -title="Blog detail - 12 Handy Tips For Generating Leads Through Cold Calling"
extends layouts/layout
block main
    .main-content
        .blog
            include blocks/index/main-menu.jade
            //END: MAIN MENU
            .container
                .blog-detail
                    h1.blog-ttl 12 Handy Tips For Generating Leads Through Cold Calling
                    span.date-post May 17, 2015
                    img(src="uploads/blog/blog2.jpg", alt)
                    p 1. Create a list with all possible keywords that fit to your product, service or business field. The more the better. So you will get also a lot of keywords which you must pay for only the minimal commandment of 5 cents.
                    p 2. Benefit from misspelling in order to find keywords which your competitors did not think of. For example if you have a emergency service , do not only bid for “emergency” but also for “imergency”, “imergensy” or “immergency”.
                    p 3. The first position on Googles search result page achieves usually most clicks. However this is also the most expensive position. Give it a try if the second to fourth display position gives you more visitors and more customers for less money.
                    p 4. The position of the Adwords-ad is determined not only by the maximum click price that you are ready to spend. Google evaluates also the relevancy of the displayed ad in order to position the Adwords-ads. The more clicks your ad receives, the higher it gets listed.
                    p 5. The headline in the Adwords-ad must catch the viewers attention. If you implement the keyword in the header line, you receive considerably more clicks onto your ad.
                    p 6. In the ad-text mention one or two reasons, why the internet user should click on it. Which problem solves your product or service? Do you offer a product at a cheaper price or do you ship without the dispatch charges?
                    p 7. Avoid price wars at which a competitor and you attempt to outdo the click price for a keyword continuously mutually. You only see to it that the click price fires into the sky. It is better to find search-terms which consist of several words and which are more precise.
                    p 8. Google AdWords offers keyword-options which you should absolutely study. If properly set up you can make sure that your AdWords-ad appears only for example if the internet-user has exclusively entered your term and no further.
                    p 9. Use “excluding keywords”. Those ones are keywords for which your ad is supposed not to appear. In this way you do not have to pay for clicks, when somebody is searching for free stuff or only for a pamphlet.
                    p 10. Construct for every keyword and for everyone of your AdWords ads an own landing-page. There you can offer especially that which the internet-user searched for.
                    p 11. An own landing-page beside has also the advantage that you can measure exactly how many customers a specific Keyword and a specific ad brought in. You can optimize your displays continuously in this way and increase the purchase rate.
                    p 12. Update your AdWords-ads at specific events or holidays, for example to the New Year, Valentine, Easter or Christmas.
                    p 13. If you mention the price for a product or a service in the AdWords ad, then you can exclude in front the free- and all-free-searcher from clicking your ad.
                    p 14. Be conservatively in the selections of the countries and the languages’ in which your AdWords ads are supposed to appear. If your product or your service turn only to customers speaking in a German manner, you should tune “Germany” and “Austria” as countries. With corresponding success you can try out also further countries, for example Switzerland, and areas close to the border. This method can also be applied to any other language.
                    p 15. The Google ads are also displayed on partner sites of Google, for example at Focus.de or T-Online.de. If your AdWords ad costs too much and/or goes for too little profit, then interrupt the option that lets announce your ad also on the partner sites of Google. Test wisely. Not all ads run well on the partner sites.
                    p Here you got 15 powerful methods to increase your Adwords profits. All you have to do is to take action and apply them NOW!