block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        include blocks/index/hero.jade
        // END: HERO BLOCK
        include blocks/index/how-it-work.jade
        // END: HOW IT WORK BLOCK
        include blocks/index/satify-client.jade
        // END: SATIFY CLIENT BLOCK
        include blocks/index/how-we-do-it.jade
        // END: HOW WE DO IT BLOCK