/*
 *
 * Index - Hero css
 *
*/

.hero{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    height: 736px;
    width: 100%;
    position: relative;
}

.content{
    width: 584px;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 50%;
    .transform(translateX(-50%));
    .img-logo{
        width: 275px;
        margin: 0 auto;
        margin-bottom: 18px;
        img{
            width: 100%;
        }
    }
    .ct-txt{
        color: #fff;
        font-size: 42px;
        line-height: 1.4;
        letter-spacing: -2px;
        margin-bottom: 44px;
        p{
            margin-bottom: 0;
        }
    }
    .link-btn{
        a{
            display: inline-block;
            width: 200px;
            height: 56px;
            border-radius: 6px;
            line-height: 56px;
            font-size: 16px;
            color: #ffffff;
            i{
                margin-right: 3px;
            }
        }
        .watch-clip{
            background-color: rgba(255, 255, 255, 0.1);
            border: solid 2px rgba(255, 255, 255, 0.11);
            margin-right: 16px;
        }
        .free-trial{
            background-color: #4789ff;
        }
    }
}

#intro-clip{
    .modal-dialog{
        width: 800px;
        margin: 50px auto;
    }
}