/*
 *
 * How it work css
 *
*/ 

.ttl{
    h3{
        font-size: 28px;
        line-height: 1.46;
        letter-spacing: 0.4px;
        color: #242526;
        margin-bottom: 10px;
        margin-top: 0;
    }
    p{
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.5px;
        color: #888888;
    }
}
.how-it-work{
    padding: 65px 0 65px 0;
    .ttl{
        margin-bottom: 65px;
    }
}

.hw-wrk-itm{
    padding: 15px 0;
    margin-bottom: 40px;
    .img {
        margin-bottom: 30px;
        img{
            width: 112px;
            height: 112px;
        }
    }
    .ct-dt{
        h3{
            font-size: 14px;
            color: #242526;
            margin-bottom: 15px;
            .ClanproBold();
        }
        p{
            font-size: 13px;
            line-height: 1.54;
            color: #747474;
            margin-bottom: 15px;
            padding: 0 40px;
        }
    }
}

/*
 *
 * Satisfy client css
 *
*/ 

.satify-client, .how-do-it{
    background-color: #fafafa;
    padding: 65px 0 65px 0;
    .ttl{
        margin-bottom: 65px;
    }
}
.client-slick{
    margin-bottom: 80px;
}
.slide-itm{
    outline: none;
    cursor: pointer;
    img{
        width: 96px;
        margin: 0 auto;
        filter: grayscale(100%);
    }
    &.slick-current{
        img{
            filter: grayscale(0%);
        }
    }
}
.slide-cmt-itm{
    outline: none;
}
.s-cmt-ct{
    width: 944px;
    margin: 0 auto;
    color: #43484c;
    p {
        font-size: 24px;
        line-height: 1.92;
        &.cmt-txt{
            margin-bottom: 30px;
        }
    }
    .author{
        .author-name{
            display: block;
            font-size: 16px;
            line-height: 1.56;
            color: #43484d;
        }
        .author-pos{
            font-size: 14px;
            line-height: 1.79;
            color: #888888;
            display: block;
        }
    }
}

/*
 *
 * How we do it css
 *
*/ 

.how-do-it{
    background-color: #fff;
    .ttl{
        h3{
            margin-bottom: 60px;
        }
    }
}

.h-d-itm{
    .img{
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
    .ct{
        padding: 40px;
        h3{
            font-size: 23px;
            line-height: 1.78;
            letter-spacing: 0.3px;
            color: #242526;
            height: 41px;
            margin-bottom: 10px;
        }
        p{
            width: 456px;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.2px;
            color: #242526;
            margin-bottom: 12px;
        }
        a{
            display: block;
            width: 160px;
            height: 32px;
            border-radius: 8px;
            background-color: #4789ff;
            color: #fff;
            text-align: center;
            line-height: 32px;
            .transition(all 0.4s ease);
            &:hover{
                background-color: darken(#4789ff, 10%);
            }
        }
    }
}

.how-do-slide{
    .slick-list{
        margin-top: 100px;
        z-index: 200;
    }
    .slick-dots{
        bottom: 0;
        top: 0;
        li{
            width: 40px;
            height: 40px;
            margin: 0 15px;
            button{
                .transition(all 0.4s ease);
                width: 40px;
                height: 40px;
                background-color: #4789ff;
                border-radius: 100%;
                display: block;
                font-size: 16px;
                letter-spacing: 0.2px;
                text-align: center;
                color: #ffffff;
                &:before{
                    display: none;
                }
            }
            &.slick-active{
                button{
                    background-color: darken(#4789ff, 15%);
                }
            }
        }
    }
}


/*
 *
 * Ads css
 *
*/ 
.ads-blk{
    background-image: url('../images/ft-bg.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    height: 488px;
    width: 100%;
    position: relative;
    .ads-ct{
        width: 603px;
        position: absolute;
        left: 50%;
        top: 50%;
        .transform(translate(-50%, -50%));
        color: #fff;
        p{
            opacity: 0.6;
            font-size: 18px;
            line-height: 1;
            margin-bottom: 24px;
        }
        h3{
            span{
                display: block;
                font-size: 47px;
                line-height: 1.23;
                margin-bottom: 5px;
                letter-spacing: -1.8px;
            }
            .bonus{
                font-size: 80px;
                letter-spacing: -3.1px;
                height: 102px;
                margin-bottom: 23px;
                line-height: 102px;
            }
        }
        a{
            display: block;
            width: 200px;
            height: 56px;
            border-radius: 6px;
            color: #fff;
            font-size: 16px;
            line-height: 56px;
            margin: 0 auto;
            background-color: #4789ff;
            .transition(all 0.4s ease);
            &:hover{
                background-color: darken(#4789ff, 10%);
            }
        }
    }
}