/*
 *
 * Main menu css
 *
*/ 
.menu-lst {
    padding-top: 15px;
}
.main-menu{
    padding: 40px 0 98px 0;
    width: 100%;
    z-index: 700;
    .transition(all 0.4s ease);
    &.fixed{
        position: fixed;
        padding: 10px 0;
        left: 0;
        top: 0;
        background-color: #333;
    }
}
.menu-logo{
    a{
        display: block;
        img{
            width: 100%;
        }
    }
}

.menu{
    li{
        display: inline-block;
    }
}

.menu-itm{
    display: block;
    height: 32px;
    line-height: 32px;
    padding: 0 6px;
    color: #fff;
    margin-left: 50px;
    font-size: 14px;
    position: relative;
    &:before{
        content: '';
        height: 2px;
        width: 0;
        position: absolute;
        background-color: #fff;
        left: 0;
        .transition(all 0.4s ease);
        top: 32px;
    }
    &:hover, &:focus{
        color: #fff;
    }
    &:hover{
        color: #fff;
        &:before{
            width: 100%;
        }
    }
    &.trial{
        border-radius: 8px;
        font-size: 12px;
        border: solid 1px #ffffff;
        width: 160px;
        .transition(all 0.4s ease);
        &:before{
            display: none;
        }
        &:hover{
            color: #333;
            background-color: #fff;
        }
    }
}

.blog{
    .main-menu{
        background-color: #333;
        padding: 15px 0;
    }
}

.menu-responsive{
    display: none;
    font-size: 24px;
    color: #fff;
    &:focus, &:active{
        color: #fff;
    }
    &.active{
        i{
            &:before{
                content: '\f00d';
            }
        }
    }
}

.bg-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: .9;
    z-index: 800;
    top: 0;
    left: 0;
    display: none;
    &.shw{
        display: block;
    }
}