/*
 * Appointment css
 *
*/

.calender-wrap{
  min-height: 500px;
  position: relative;
}
.fc button {
  height: 55px;
  padding: 0 20px;
}
.fc-button{
  border: none;
  background-color: #e6e6e6;
  .transition(all .4s ease);
  &:hover{
    background-color: darken(#e6e6e6, 10%);
  }
  &.fc-state-default{
    .box-shadow(none);
    text-shadow: none;
    background-image: none;
  }
  &.fc-state-disabled{
    background-color: #bbb;
  }
  &.fc-state-active{
    // background-color: rgba(0,123,255,.5);
    background-image: linear-gradient(to right, #473cf8, #2b7fff);
    color: #fff;
  }
  
}

.fc-new-event-button {
  &.fc-button {
    background-image: linear-gradient(to right, #473cf8, #2b7fff);
    color: #fff;
    &:hover{
      background-color: inherit;
      background-image: linear-gradient(to right, #473cf8, #2b7fff);
    }
  }
  &.fc-state-hover {
    background-position: unset;
  }
}

.fc-scroller {
  &.fc-day-grid-container {
    height: auto !important;
    overflow-y: auto !important;
  }
}
.fc-time-grid {
  .fc-slats {
    td{
      height: 2.5em;
    }
  }
}
.fc-agendaWeek-view{
  .fc-head-container{
    .fc-row{
      margin-right: 17px;
    }
  }
}
.fc-event{
  // width: 70%;
  // background-color: rgba(219,70,143,.7);
  // border-color: #db468f;
  // background-color: #fff;
  // color: #000;
  border-left-width: 5px;
  padding: 5px;
  border-radius: 0px;
  .fc-content{
    height: 100%;
  }
  .event-status{
    position: absolute;
    right: 0;
    bottom: 0;
    display: block;
    padding: 3px 5px;
    text-align: center;
    background-color: rgba(111,66,193,.7);
    font-size: 10px;
  }
  &.done{
    background-color: rgba(40,167,69,.5);
    border-color: #28a745;
  }
  &.pending{
    background-color: rgba(0,123,255,.5);
    border-color: #007bff;
  }
  &.paid{
    background-color: rgba(253,126,20,.5);
    border-color: #fd7e14;
  }
}

.fc-toolbar {
  font-family: 'Roboto', sans-serif;
  button {
    font-family: 'Roboto', sans-serif;
  }
}

.fc-view-container, #booking-modal, #appointment-detail, #appointment-update {
  h1, h2, h3, h4, h5, h6, p, span, a, input, textarea, select {
    outline: none;
    font-family: 'Roboto', sans-serif;
  }
}

.fc-view-container {
  background-color: #fff;
}

// Create appointment modal
.frm-ttl{
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
  position: relative;
  h3{
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
    text-transform: capitalize;
  }
  a{
    display: block;
    position: absolute;
    color: #000;
    right: 0;
    top: -2px;
    font-size: 22px;
  }
}

.create-booking-modal{
  font-family: 'Roboto', sans-serif;
  overflow-y: auto;
  background-color: #fff;
  .box-shadow(2px 2px 5px 0px rgba(42,82,152,0.75));
  // min-height: 100%;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px;
  z-index: -1;
  .transform(scale(0));
  .transition(all .4s ease);
  &.shw{
    .transform(scale(1));
    z-index: 9999;
  }

  .no-service{
    font-weight: 700;
    font-size: 16px;
  }
}

.create-frm{
  position: relative;
  min-height: 400px;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #fff;
    opacity: .8;
    display: none;
  }
  &.shw{
    &:before{
      display: block;
    }
  }
}

.appoint-ipt{
  display: inline-block;
  width: 100%;
  outline: none;
  height: 55px;
  padding: 0 15px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 2px;
  font-size: 16px;
  &:focus{
    border-color: rgba(42,82,152, 1);
  }
  &.err{
    border-color: @red;
  }
  &[readonly] {
    background-color: #ddd;
    &:focus{
      border-color: #ccc;
    }
  }
}

.appoint-area{
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;
  &:focus{
    border-color: rgba(42,82,152, 1);
  }
}

.appoint-lbl{
  display: inline-block;
  text-transform: capitalize;
}

.client-result{
  position: absolute;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  top: 60px;
  display: none;
  &.shw {
    display: block;
  }
  a{
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #000;
    i{
      margin-right: 10px;
    }
    &.create-client-btn{
      color: rgba(39, 195, 187, 0.8);
      strong{
        font-size: 14px;
      }
    }
    &:hover{
      background-color: #bbbbbb;
      color: #fff;
    }
  }
}

.add-client-frm{
  display: none;
  &.shw{
    display: block;
  }
}

.appoint-btn{
  display: inline-block;
  border: none;
  border-radius: 2px;
  color: #fff;
  outline:none;
  padding: 8px 15px;
  text-decoration: none;
  background-image: linear-gradient(to right, #473cf8, #2b7fff);
  .transition(all .4s ease);
  &:hover, &:focus{
    // background-color: darken(rgba(39, 195, 187, 0.8), 10%);
    text-decoration: none;
    color: #fff;
  }
  &.appoint-danger{
    background-color: #DC3546;
    background-image: none;
    &:hover{
      background-color: darken(#DC3546, 10%);
    }
  }
  &.appoint-default{
    background-color: #bbb;
    background-image: none;
    &:hover{
      background-color: darken(#bbb, 10%);
    }
  }
  &.del-appoint{
    right: 35px;
    font-size: 14px;
    padding: 15px;
    top: -13px;
    color: #fff;
    text-decoration: none;
    position: absolute;
    &:hover{
      text-decoration: none;
    }
  }
  &.del-btn{
    font-size: 12px;
    padding: 5px 10px;
  }
}

// Loading
.loading-spin{
  position: absolute;
  top: 50%;
  left: 50%;
  .transform(translate(-50%, -50%));
  display: none;
  z-index: 200;
  &.shw{
    display: block;
  }
}
.sk-fading-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: rgba(39, 195, 187, 0.8);
  border-radius: 100%;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
          animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
.sk-fading-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
}
.sk-fading-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg);
}
.sk-fading-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.sk-fading-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
}
.sk-fading-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg);
}
.sk-fading-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sk-fading-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg);
}
.sk-fading-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg);
}
.sk-fading-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}
.sk-fading-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg);
}
.sk-fading-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg);
}
.sk-fading-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
.sk-fading-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.sk-fading-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
.sk-fading-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
.sk-fading-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
.sk-fading-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
.sk-fading-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
.sk-fading-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
.sk-fading-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
.sk-fading-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
.sk-fading-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% { opacity: 0; }
  40% { opacity: 1; }
}


// Appointment detail
.detail-view{
  .s-lbl{
    display: inline-block;
    width: 25%;
    border-right: 1px solid #bbbbbb;
    font-weight: 600;
    padding: 8px 15px;
    background-color: #F0F1F2;
  }
  .s-value{
    display: inline-block;
    padding: 8px 15px;
  }
  ul{
    &.s-value{
      min-height: 76px;
      li{
        font-weight: 600;
      }
    }
  }
  .status-val{
    display: inline-block;
    margin-left: 15px;
    padding: 4px 6px;
    border-radius: 2px;
    font-size: 11px;
    color: #fff;
    &.confirmed{
      background-color: #6610f2;
    }
    &.scheduled{
      background-color: #007bff;
    }
    &.delay{
      background-color: #fd7e14;
    }
    &.done{
      background-color: #28a745;
    }
    &.canceled {
      background-color: #DC3546;
    }
  }
  .p-view{
    margin-bottom: 15px;
    border: 1px solid #bbb;
    border-radius: 2px;
  }
  .button-group{
    button{
      margin-right: 15px;
    }
  }
  .additional-serv{
    .s-lbl{
      display: block;
      float: left;
      min-height: 76px;
    }
  }
}
.detail-view-content{
  width: 700px;
  margin: 0 auto;
  h3{
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.edit-modal{
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  .box-shadow(2px 2px 5px 0px rgba(42,82,152,0.75));
  // min-height: 100%;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  // margin: 0 auto;
  padding: 30px;
  z-index: -1;
  .transform(scale(0));
  .transition(all .4s ease);
  &.shw{
    .transform(scale(1));
    z-index: 9999;
  }

  .no-service{
    font-weight: 700;
    font-size: 16px;
  }
}

.detail-frm{
  position: relative;
  min-height: 400px;
  // overflow-y: auto;
  &:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: #fff;
    opacity: .8;
    display: none;
  }
  &.shw{
    &:before{
      display: block;
    }
  }
}

.unit{
  position: absolute;
  right: 25px;
  top: 33px;
  font-weight: 600;
  font-size: 12px;
}

.c-s-btn{
  position: absolute;
  right: 15px;
  top: 43px;
}

.del-confirm{
  position: absolute;
  top: 0;
  left: 50%;
  .transform(translateX(-50%));
  background-color: #fff;
  z-index: 500;
  border: 1px solid #ccc;
  padding: 15px;
  border-top:none;
  border-radius: 2px;
  display: none;
  button{
    width: 100px;
    margin-right: 15px;
    padding: 5px 15px;
  }
  h3{
    margin-top: 0;
    font-size: 18px;
  }
  &.shw{
    display: block;
  }
}

.reload-data{
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 99999999;
  background-color: rgba(0,123,255, 0.6);
  padding: 8px;
  width: 300px;
  height: 100px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: rgba(0,123,255, 1);
    .transition(all .4s ease);
    &:hover{
      background-color: darken(rgba(0,123,255, 1), 10%);
    }
    &.close-reload{
      background-color: rgba(253,126,20, 1);
      &:hover{
        background-color: darken(rgba(253,126,20, 1), 10%);
      }
    }
  }
}

.notify-wrap{
  position: absolute;
  right:15px;
  top: 50%;
  .transform(translateY(-50%));
  .noti-ct{
    width: 44px;
    position: relative;
  }
  a{
    display: block;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    &:hover{
      color: #fff;
    }
  }
  .has-new-noti{
    display: none;
    width: 10px;
    height: 10px;
    background-color: rgba(253,126,20, 1);
    border-radius: 100%;
    position: absolute;
    top: 10px;
    right: 12px;
    &.shw{
      display: block;
    }
  }
}

.noti-list{
  display: none;
  position: absolute;
  top: 50px;
  z-index: 200;
  background-color: #fff;
  color: #000;
  right: 0px;
  width: 300px;
  height: 400px;
  overflow-y: auto;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  .box-shadow(0px 2px 5px 0px rgba(0,0,0,0.75));
  &.shw{
    display: block;
  }
  p{
    margin-bottom: 15px;
    line-height: 1.42857143;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    &.no-noti{
      text-align: center;
      border: none;
      font-weight: 600;
    }
    a{
      color: #333;
      text-decoration: none;
      font-size: 14px;
      text-align: left;
      display: block;
      &:hover{
        color: rgba(0,123,255, 1);
      }
    }
    &.unread{
      font-weight: 600;
    }
    span{
      display: block;
      font-size: 12px;
      margin-top: 5px;
      color: rgba(253,126,20, 1);
      font-weight: 600;
    }
  }
}

.selected-list{
  select{
    &.appoint-ipt{
      margin-bottom: 0;
      width: auto;
    }
  }
}

.total-duration{
  position: relative;
  .unit{
    top: 50%;
    .transform(translateY(-50%));
    right: 10px;
  }
  .appoint-ipt{
    width: 150px;
    margin-bottom: 0;
  }
}

#appoint-time{
  height: 0px;
  margin-bottom: 0;
  border: none;
}
.date-mask {
  margin-bottom: 0;
  height: 55px;
  line-height: 55px;
  padding: 0 15px;
  font-weight: normal;
  width: 100%;
  border-radius: 2px;
  border: 1px solid #ddd;
  background-color: #eee;
  display: block;
}