block vars
  -title="Appointment"
extends layouts/layout
block main
    .main-content
        .appointment-container.container-fluid
            .appoint-tab
                h1 Appointments
                ul.tab-list
                    li
                        a.active(href="javascript:;", data-tab="overview-tab") Overview
                    li
                        a(href="javascript:;", data-tab="service-tab") Services
                    li
                        a(href="javascript:;", data-tab="staff-tab") Staff
            // END: APPOINT TAB
            .appoint-content
                .overview-content#overview-tab.appoint-tabpane.active
                    .appoint-ct
                        .appoint-tab-head
                            .row
                                .appoint-h-itm.col-md-3.col-xs-6
                                    .h-itm-ct.text-center
                                        p.time Today
                                        p.numb 33
                                        p.type Appointments
                                .appoint-h-itm.col-md-3.col-xs-6
                                    .h-itm-ct.text-center
                                        p.time Tomorrow
                                        p.numb 33
                                        p.type Appointments
                                .appoint-h-itm.col-md-6.col-xs-12
                                    .h-itm-ct.clearfix
                                        .h-itm-half.text-center
                                            p.time Total appointments
                                            p.numb 300
                                        .h-itm-half
                                            p
                                                span.platform.web Website: 
                                                span.count 12
                                            p
                                                span.platform.landline Landline: 
                                                span.count 12
                                            p
                                                span.platform.phone Phone line: 
                                                span.count 12
                    .row
                        .col-md-6.col-xs-12
                            .head
                                h3.text-capitalize 
                                    | Upcomming appointments
                                    span Total: 40
                            .comming-appoint
                                p.ttl.text-right Today
                                .appoint-itm
                                    table.table.cus-tb.table-hover
                                        tr
                                            td 1. Toan Nguyen
                                            td.text-center Nails - $20
                                            td.text-right 8:45 AM
                                        tr
                                            td 2. Toan Nguyen
                                            td.text-center Nails - $20
                                            td.text-right 8:45 AM
                                        tr
                                            td 3. Toan Nguyen
                                            td.text-center Nails - $20
                                            td.text-right 8:45 AM
                                        tr
                                            td 4. Toan Nguyen
                                            td.text-center Nails - $20
                                            td.text-right 8:45 AM
                            .comming-appoint
                                p.ttl.text-right Tomorrow
                                .appoint-itm
                                    table.table.cus-tb.table-hover
                                        tr
                                            td 1. Toan Nguyen
                                            td.text-center Nails - $20
                                            td.text-right 8:45 AM
                                        tr
                                            td 2. Toan Nguyen
                                            td.text-center Nails - $20
                                            td.text-right 8:45 AM
                                        tr
                                            td 3. Toan Nguyen
                                            td.text-center Nails - $20
                                            td.text-right 8:45 AM
                                        tr
                                            td 4. Toan Nguyen
                                            td.text-center Nails - $20
                                            td.text-right 8:45 AM
                        // END: Upcomming appointments
                        .col-md-6.col-xs-12
                            .head
                                h3.text-capitalize 
                                    | Notifications
                            .notify-appoint
                                .noti-appoint-itm
                                    p
                                        span.noti-txt Toan Nguyen has confirmed
                                        span.time-send 4 mins ago
                                .noti-appoint-itm
                                    p
                                        span.noti-txt Toan Nguyen has confirmed
                                        span.time-send 4 mins ago
                                .noti-appoint-itm.cancel
                                    p
                                        span.noti-txt Boyka has cancelled
                                        span.time-send 4 mins ago
                                .noti-appoint-itm
                                    p
                                        span.noti-txt Toan Nguyen has confirmed
                                        span.time-send 4 mins ago
                        // END: notify
                // END: OVERVIEW
                .service-content#service-tab.appoint-tabpane
                    .service-head
                        .row
                            .col-md-6.col-xs-6.search-service
                                .search-frm
                                    input.appoint-ipt(type="text" placeholder="Enter service")
                                    button
                                        i.fa.fa-search
                            .col-md-6.col-xs-6.create-service.text-right
                                button.appoint-btn.open-create-service(data-show="create-service-modal") Create service
                     p.guide-usr
                         i.fa.fa-info-circle
                         | Click on service name to edit
                    .service-list
                        .table-responsive
                            table.table.cus-tb.table-hover
                                thead
                                    tr
                                        th Name
                                        th.text-center Duration
                                        th.text-center Price
                                tr
                                    td
                                        a.open-create-service.staff-tb-name(href="javascript:;", data-show="create-service-modal") Cut hair
                                    td.text-center 30 mins
                                    td.text-center $15.00
                                tr
                                    td
                                        a.open-create-service.staff-tb-name(href="javascript:;", data-show="create-service-modal") Cut hair
                                    td.text-center 1 hour
                                    td.text-center $15.00
                                tr
                                    td
                                        a.open-create-service.staff-tb-name(href="javascript:;", data-show="create-service-modal") Cut hair
                                    td.text-center 30 mins
                                    td.text-center $15.00
                                tr
                                    td
                                        a.open-create-service.staff-tb-name(href="javascript:;", data-show="create-service-modal") Cut hair
                                    td.text-center 30 mins
                                    td.text-center $15.00
                include blocks/modal/create-service.jade
                // END: Service
                .staff-content#staff-tab.appoint-tabpane
                    .staff-head
                        .row
                            .col-md-6.col-xs-6.search-staff
                                .search-frm
                                    input.appoint-ipt(type="text" placeholder="Enter staff name or phone")
                                    button
                                        i.fa.fa-search
                            .col-md-6.col-xs-6.create-service.text-right
                                button.appoint-btn.open-create-service(data-show="create-staff-modal") Create staff
                    p.guide-usr
                        i.fa.fa-info-circle 
                        | Click on staff name to set their schedule
                    .staff-tb
                        .table-responsive
                            table.table.cus-tb.table-hover
                                thead
                                    tr
                                        th Name
                                        th.text-center Email
                                        th.text-center Phone
                                        th.text-center Visible
                                tr
                                    td 
                                        a.open-create-service.staff-tb-name(href="#", data-show="create-staff-modal") Toan Nguyen
                                    td.text-center xfiremen12345@gmail.com
                                    td.text-center (448) 239 - 3431
                                    td.text-center 
                                        label.control.control-checkbox(for="staff-1")
                                            input#staff-1(type="checkbox") 
                                            .control-indicator.tb-chk
                                tr
                                    td 
                                        a.open-create-service.staff-tb-name(href="#", data-show="create-staff-modal") Toan Nguyen
                                    td.text-center xfiremen12345@gmail.com
                                    td.text-center (448) 239 - 3431
                                    td.text-center 
                                        label.control.control-checkbox(for="staff-2")
                                            input#staff-2(type="checkbox") 
                                            .control-indicator.tb-chk
                                tr
                                    td 
                                        a.open-create-service.staff-tb-name(href="#", data-show="create-staff-modal") Toan Nguyen
                                    td.text-center xfiremen12345@gmail.com
                                    td.text-center (448) 239 - 3431
                                    td.text-center 
                                        label.control.control-checkbox(for="staff-3")
                                            input#staff-3(type="checkbox") 
                                            .control-indicator.tb-chk
                                tr
                                    td 
                                        a.open-create-service.staff-tb-name(href="#", data-show="create-staff-modal") Toan Nguyen
                                    td.text-center xfiremen12345@gmail.com
                                    td.text-center (448) 239 - 3431
                                    td.text-center 
                                        label.control.control-checkbox(for="staff-4")
                                            input#staff-4(type="checkbox") 
                                            .control-indicator.tb-chk
                include blocks/modal/create-staff-modal.jade
                include blocks/modal/manage-staff-hour.jade
                // END: Staff content