block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .content-head.clearfix
                h1.text-capitalize.pull-left
                    | Dashboard
            .dashboard-content
                .general-info
                    .row
                        .col-md-2.col-xs-12
                            .g-img
                                img(src="images/logo1.png", alt)
                        .col-md-10.col-xs-12
                            .info-ct
                                h3 Konald Nails
                                p.st-child 
                                    | Since September 2016 | 
                                    a(href="#") View profile
                                p 
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    | 4.5 (250 rating) | 
                                    a(href="#") See all review
                // END GENERAL INFO
                .overview-blk
                    .ttl.clearfix
                        h3.pull-left Overview
                        .time-range.pull-right.text-right
                            button.time-btn Overall
                            button.time-btn Week
                            button.time-btn Month
                    .overview-list
                        .row
                            .col-md-3.col-xs-6
                                .overview-itm
                                    h3.text-uppercase Total member
                                    strong 5000
                                    p 
                                        | Vip - 
                                        span 250 members
                                    p
                                        | New - 
                                        span 850 members
                                    p
                                        | Regular - 
                                        span 3,500 members
                                    p 
                                        | At risk - 
                                        span 500 members
                            .col-md-3.col-xs-6
                                .overview-itm
                                    h3.text-uppercase Total promo
                                    strong 15
                                    p 
                                        | 15 - 
                                        span Promotion
                                    p
                                        | 20 - 
                                        span Reminder
                                    p
                                        | 3 - 
                                        span Special day offer
                            .col-md-3.col-xs-6
                                .overview-itm
                                    h3.text-uppercase You delivered
                                    strong 40,000
                                    p 
                                        | Claim - 
                                        span 28,000
                                    p
                                        | Redemtion - 
                                        span 19,000
                            .col-md-3.col-xs-6
                                .overview-itm
                                    h3.text-uppercase Your income
                                    strong $200,000
                                    p 
                                        | Expense - 
                                        span $88,000
                                    .chrt-ct
                                        span 62%
                                        .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="62")
                // END: OVERVIEW BLOCK
                .overall-chart.clearfix
                    h3 Customer overall
                    .ttl.clearfix
                        p.pull-left
                            | Jun 1 - Jun 15
                        .time-range.pull-right.text-right
                            button.time-btn Day
                            button.time-btn Week
                            button.time-btn Month
                    #overall-chart
                .reve-chart.clearfix
                    h3 Revenue and expense overall
                    .ttl.clearfix
                        p.pull-left
                            | Jun 1 - Jun 15
                        .time-range.pull-right.text-right
                            button.time-btn Day
                            button.time-btn Week
                            button.time-btn Month
                    #reve-chart