block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Promotion managament
            button.text-center.pull-right.create-nw(data-tg="new-promotion-modal")
                | Create new promotion
                span +
        .table-content
            .table-responsive
                table.table.cus-tb
                    tr
                        th.text-center.text-uppercase Active
                        th.text-uppercase Name
                        th.text-uppercase For
                        th.text-uppercase When
                        th.text-uppercase Reward
                        th.text-uppercase Expired in
                        th.text-center.text-uppercase Notify
                        th
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox")
                                        .slider.round
                        td 
                            p 
                                | Firt checkin reward
                                span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                        td All
                        td First time checkin
                        td OFF 10%
                        td 12/07/2018
                        td.text-center Yes
                        td.text-center 
                            button.tb-btn View
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox")
                                        .slider.round
                  
                        td 
                            p 
                                | Back to school
                                span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                        td Student
                        td Every time
                        td Discount 5$
                        td 12/07/2018
                        td.text-center No
                        td.text-center 
                            button.tb-btn View
        include blocks/modal/create-promotion.jade