block vars
  -title="Home Page"
extends layouts/layout-login
block main
    .login-content
        .login-frm
            h1.text-center GoCheckin
            form
                .row
                    .col-md-6.col-xs-12
                        input.form-control(type="text", placeholder="Domain")
                    .col-md-6.col-xs-12
                        input.form-control(type="text", value=".fastboy.net")
                .form-group
                    input.form-control(type="text", placeholder="Email")
                .form-group
                    input.form-control(type="password", placeholder="Password")
                button.submit-login Login