block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .content-head.clearfix.member-head
                h1.text-capitalize.pull-left
                    | Member list
                .pull-right.filter
                    .filter-slt.tag
                        span.display.tag-disp 
                            b Tag: All
                            i.fa.fa-sort
                        ul.f-lst
                            li
                                a.active.tag-itm(href="javascript:;", data-text="all") 
                                    | All
                                    span.fa.fa-check
                            li
                                a.tag-itm.red-tag.tag-img(href="javascript:;", data-text="red-tag")
                                    span.fa.fa-check
                            li
                                a.tag-itm.yellow-tag.tag-img(href="javascript:;", data-text="yellow-tag")
                                    span.fa.fa-check
                    .filter-slt.type
                        span.display 
                            b Type: All
                            i.fa.fa-sort
                        ul.f-lst
                            li
                                a.active(href="javascript:;", data-text="Type: All") 
                                    | All
                                    span.fa.fa-check
                            li
                                a(href="javascript:;", data-text="Type: Vip")
                                    | Vip
                                    span.fa.fa-check
                            li
                                a(href="javascript:;", data-text="Type: Regular")
                                    | Regular
                                    span.fa.fa-check
                            li
                                a(href="javascript:;", data-text="Type: New")
                                    | New
                                    span.fa.fa-check
                            li
                                a(href="javascript:;", data-text="Type: At risk")
                                    | At risk
                                    span.fa.fa-check
                    .search
                        input(type="text", placeholder="Search by name or phone")
                        button
                            i.fa.fa-search
            // END: CONTENT HEAD
            
            .chart-content
                .row
                    .col-md-6.col-xs-12
                        .col-chrt-itm
                            h2.total
                                span Total member
                                | 5000
                            #chartdiv
                            .hover-chrt
                                .inner-hover
                                    h3.text-uppercase Customer Type Definitions
                                    p.cus-type.vip
                                        span VIP:
                                        | spent more than $1,000
                                    p.cus-type.new
                                        span New:
                                        | first check-in within 14 days
                                    p.cus-type.regular
                                        span Regular:
                                        | check in once a month
                                    p.cus-type.risk
                                        span At Risk:
                                        | no visit in 60 days
                                    p.cus-type.normal
                                        span Normal:
                                        | all other status
                    .col-md-6.col-xs-12
                        .col-chrt-itm
                            h2.total
                                span Total member with tag
                                | 2,500
                            #chartdiv2
                            .hover-chrt
                                .inner-hover
                                    h3.text-uppercase Customer Type Definitions
                                    p.cus-type.vip
                                        span VIP:
                                        | spent more than $1,000
                                    p.cus-type.new
                                        span New:
                                        | first check-in within 14 days
                                    p.cus-type.regular
                                        span Regular:
                                        | check in once a month
                                    p.cus-type.risk
                                        span At Risk:
                                        | no visit in 60 days
                                    p.cus-type.normal
                                        span Normal:
                                        | all other status
            .table-content
                .table-responsive
                    table.table.cus-tb.mem-tb
                        tr
                            th.text-uppercase.col-lg 
                                a(href="#") Member
                            th.text-uppercase.col-eq.text-center
                                a.asc(href="#") Type
                            th.text-uppercase.col-eq 
                                a.desc(href="#") Tag
                            th.text-uppercase.col-eq Already review
                            th.text-uppercase.col-eq Visit
                            th.text-uppercase.col-eq Last visit
                            th.text-uppercase.col-eq Income
                            th.text-center.col-eq
                        tr
                            td
                                .mem-info
                                    .img
                                        img.img-circle(src="images/ava.png", alt)
                                    .content
                                        h3 Alice McGee
                                        p
                                            i.fa.fa-phone
                                            | (987) 654-3210
                            td
                                span.mem-type.vip
                                    | Vip
                            td
                                .tag-red.tag-blk
                            
                            td 
                                p.m-t 4 Review
                            td 
                                p.m-t 10
                            td 
                                p.m-t 10 days ago
                            td 
                                p.m-t
                                    span.blue $39,639
                            td.text-center 
                                button.tb-btn(data-toggle="modal", data-target="#member-detail") See detail
                        tr
                            td
                                .mem-info
                                    .img
                                        img.img-circle(src="images/ava.png", alt)
                                    .content
                                        h3 Alice McGee
                                        p
                                            i.fa.fa-phone
                                            | (987) 654-3210
                            td
                                span.mem-type.new
                                    | New
                            td
                                .tag-red.tag-blk
                            
                            td 4 Review
                            td 10
                            td 10 days ago
                            td 
                                span.blue $39,639
                            td.text-center 
                                button.tb-btn(data-toggle="modal", data-target="#member-detail") See detail
                        tr
                            td
                                .mem-info
                                    .img
                                        img.img-circle(src="images/ava.png", alt)
                                    .content
                                        h3 Alice McGee
                                        p
                                            i.fa.fa-phone
                                            | (987) 654-3210
                            td
                                span.mem-type.regular
                                    | Regular
                            td
                                .tag-yellow.tag-blk
                            
                            td 4 Review
                            td 10
                            td 10 days ago
                            td 
                                span.blue $39,639
                            td.text-center 
                                button.tb-btn(data-toggle="modal", data-target="#member-detail") See detail
                        tr
                            td
                                .mem-info
                                    .img
                                        img.img-circle(src="images/ava.png", alt)
                                    .content
                                        h3 Alice McGee
                                        p
                                            i.fa.fa-phone
                                            | (987) 654-3210
                            td
                                span.mem-type.atrisk
                                    | At risk
                            td
                                .tag-red.tag-blk
                            
                            td 4 Review
                            td 10
                            td 10 days ago
                            td 
                                span.blue $39,639
                            td.text-center 
                                button.tb-btn(data-toggle="modal", data-target="#member-detail") See detail
        include blocks/modal/member-detail.jade
