block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Promotion
            button.text-center.pull-right.create-nw(data-tg="new-promotion-modal")
                | Create new promotion
                span +
        .table-content
            .table-responsive
                table.table.cus-tb.pro-tb
                    tr
                        th.text-center.text-uppercase On/Off
                        th.text-uppercase Promotion
                        th.text-uppercase Delivered & Visit
                        th.text-uppercase Income & Expense
                        th
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox", data-mode="promotion")
                                        .slider.round
                        td 
                            p.blue Everyone
                            p.tooltip-p
                                | Special occasion
                                span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                            p.off-p.text-uppercase
                                | Off 10%
                            p.date-p
                                i.fa.fa-calendar
                                | 12/07/2017 
                                span to 
                                | 12/07/2017
                        td 
                            .row
                                .total-delivered.col-md-6.col-sm-12
                                    span.text-uppercase Total delivered
                                    p 11,850
                                .redeem-col.col-md-6.col-sm-12
                                    span.text-uppercase Redemtion
                                    p 2500
                        td 
                            .row
                                .col-md-6.col-xs-12.income-expense
                                    p
                                        span.text-uppercase Income
                                        | $100,000
                                    p
                                        span.text-uppercase Expense
                                        | $62,420
                                .col-md-6.col-xs-12.canvas-circle
                                    .chrt-ct
                                        span 62%
                                        .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="62")
                        td.text-center 
                            button.tb-btn.open-dt-modal(data-target="prom-dt-modal") See detail
                    // END: PROMOTION TR
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox", data-mode="promotion")
                                        .slider.round
                        td 
                            p.blue Vip
                            p.tooltip-p
                                | Special occasion
                                span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                            p.off-p.text-uppercase
                                | Off 10%
                            p.date-p
                                i.fa.fa-calendar
                                | 12/07/2017 
                                span to 
                                | 12/07/2017
                        td 
                            .row
                                .total-delivered.col-md-6.col-sm-12
                                    span.text-uppercase Total delivered
                                    p 11,850
                                .redeem-col.col-md-6.col-sm-12
                                    span.text-uppercase Redemtion
                                    p 2500
                        td 
                            .row
                                .col-md-6.col-xs-12.income-expense
                                    p
                                        span.text-uppercase Income
                                        | $100,000
                                    p
                                        span.text-uppercase Expense
                                        | $62,420
                                .col-md-6.col-xs-12.canvas-circle
                                    .chrt-ct
                                        span 62%
                                        .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="62")
                        td.text-center 
                            button.tb-btn.open-dt-modal(data-target="prom-dt-modal") See detail
                    // END: PROMOTION TR
        include blocks/modal/create-promotion.jade
        include blocks/modal/promotion-detail-v2.jade
        .modal.fade#active-promotion(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Active promotion
                    .modal-body.clearfix
                        p This promotion has been expired. Pls extend the expired date to active it again
                        .from-date
                            span From
                            .date-pick
                                input#frm-date(type="text", placeholder="Date")
                                i.fa.fa-calendar
                        .to-date
                            span To
                            .date-pick
                                input#to-date(type="text", placeholder="Date")
                                i.fa.fa-calendar
                    .modal-footer
                        button.cancel-del(data-dismiss='modal') Cancel
                        button.accept-del Ok
        .modal.fade#inactive-promotion(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Inactive promotion
                    .modal-body.clearfix
                        p Do you want to make this promotion be inactive? After being inactive, the cashier will not see this promotion and customer will not be able to redeem.
                    .modal-footer
                        button.cancel-del(data-dismiss='modal') Cancel
                        button.accept-del Ok