block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .content-head.clearfix
                h1.text-capitalize.pull-left
                    | Review
                .pull-right.filter
                    .search
                        input(type="text", placeholder="Search by name or phone")
                        button
                            i.fa.fa-search
        // END: CONTENT HEAD
        .container-fluid
            .row
                .col-md-8.col-xs-12
                    .main-review
                        .review-itm
                            .r-head.clearfix
                                .ava
                                    img.img-circle(src="images/ava.png", alt)
                                .head-inf
                                    p.name Lily Coleman
                                    .ico-blk
                                        span.fa.fa-google(title="google")
                                        span.fa.fa-facebook(title="facebook")
                                        span.active.yelp(title="yelp")
                                            img(src="https://cdn.worldvectorlogo.com/logos/yelp.svg", alt)
                                        span.go-checkin
                                            img(src="images/go-checkin.png", alt)
                                    .tag-type
                                        span.type.vip
                                            | Vip
                                        span.tag.tag-yellow
                                    .row
                                        .col-md-6
                                            p
                                                i.fa.fa-phone
                                                span.grey (972) 824-9422
                                            p.no-margin
                                                i.fa.fa-envelope
                                                span.grey lily_coleman@gmail.com
                                        .col-md-6
                                            p
                                                span.grey Last visit: 
                                                | 4/15/2017
                                            p.no-margin
                                                span.grey Visit 
                                                | 12 times
                                //- .star-ic
                                a.show-modal(href="#", data-toggle="modal", data-target="#review-modal")
                                    i.fa.fa-share
                            .r-content
                                p.ct-name Yelp
                                .ico-blk
                                    span.yelp.active(title="yelp")
                                        img(src="https://cdn.worldvectorlogo.com/logos/yelp.svg", alt)
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                            .r-content
                                p.ct-name Facebook
                                .ico-blk
                                    span.fa.fa-facebook.active(title="facebook")
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                            .r-content
                                p.ct-name Google
                                .ico-blk
                                    span.fa.fa-google.active(title="google")
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                            .r-content
                                p.ct-name Go-checkin
                                .ico-blk
                                    span.active.go-checkin
                                        img(src="images/go-checkin.png", alt)
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                            .r-content
                                p.ct-name Yelp
                                .ico-blk
                                    span.active.yelp(title="yelp")
                                        img(src="https://cdn.worldvectorlogo.com/logos/yelp.svg", alt)
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                        //END: REVIEW ITM
                        .review-itm
                            .r-head.clearfix
                                .ava
                                    img.img-circle(src="images/ava.png", alt)
                                .head-inf
                                    p.name Lily Coleman
                                    .ico-blk
                                        span.fa.fa-google(title="google")
                                        span.fa.fa-facebook.active(title="facebook")
                                        span.yelp(title="yelp")
                                            img(src="https://cdn.worldvectorlogo.com/logos/yelp.svg", alt)
                                        span.active.go-checkin
                                            img(src="images/go-checkin.png", alt)
                                    .tag-type
                                        span.type.vip
                                            | Vip
                                        span.tag
                                    .row
                                        .col-md-6
                                            p
                                                i.fa.fa-phone
                                                span.grey (972) 824-9422
                                            p.no-margin
                                                i.fa.fa-envelope
                                                span.grey lily_coleman@gmail.com
                                        .col-md-6
                                            p
                                                span.grey Last visit: 
                                                | 4/15/2017
                                            p.no-margin
                                                span.grey Visit 
                                                | 12 times
                                //- .star-ic
                                a.show-modal(href="#", data-toggle="modal", data-target="#review-modal")
                                    i.fa.fa-share
                            .r-content
                                p.ct-name Facebook
                                .ico-blk
                                    span.fa.fa-facebook.active(title="facebook")
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                            .r-content
                                p.ct-name Facebook
                                .ico-blk
                                    span.fa.fa-facebook.active(title="facebook")
                                .time-post
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star.active
                                    span.fa.fa-star
                                    span.date-time 4/15/2017
                                p.ct
                                    | 5 Stars for my Silk family.. I have been going here for 12 years and I always love their work. T is my go to girl for my waxing. Mani & Pedi here is bomb. com they have a top notch quality service here and amazing nail technicians. I love Aimee & J thank you for always accommodating my busy schedule. I am beyond satisfied with everything at Silk. Cheers to more years to come!
                                a.view-more(href="#") See more
                                .img-blk.clearfix
                                    .img-itm
                                        img(src="uploads/img1.png", alt)
                                    .img-itm
                                        img(src="uploads/img2.jpg", alt)
                            // END: CONTENT ITM LIST
                        //END: REVIEW ITM
                .col-md-4.col-xs-12
                    .sidebar
                        .side-itm.blue
                            p.text-capitalize Total Vip User
                            h3 300
                        //- .side-itm.green
                        //-     p.text-capitalize Total google review
                        //-     h3 3.500
                        //-     span.blue 2 recent reviews
                        .side-itm.red
                            p.text-capitalize Total yelp review
                            h3 1,530
                            span.blue 2 recent reviews
        include blocks/modal/review-modal.jade
        