block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Redemtion
            button.text-center.pull-right.create-nw(data-tg="reminder-modal")
                | Create new redemtion
                span +
        .table-content
            .table-responsive
                table.table.cus-tb.pro-tb
                    tr
                        th.text-center.text-uppercase On/Off
                        th.text-uppercase Name
                        th.text-uppercase For
                        th.text-uppercase Point
                        th.text-uppercase Reward
                        th.text-uppercase Total redemtion
                        th
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox", data-mode="reminder")
                                        .slider.round
                        td 
                            p 
                                | First check in reward 
                                span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                        td
                            p Everyone
                        td 
                            p 100
                        td 
                            p.text-uppercase Off 20%
                        td
                            p 1000
                        td.text-center 
                            button.btn-notify(data-target="#notify-redemtion", data-toggle="modal") Notify
                            button.tb-btn.open-dt-modal(data-target="redemtion-detail") See detail
                    // END: PROMOTION TR
        include blocks/modal/redemtion-detail.jade
        .modal.fade#notify-redemtion(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Notify your customer
                    .modal-body.clearfix
                        .form-group
                            p Which customer you want yo notify
                            select.form-control
                                option Everyone
                                option Everyone
                                option Everyone
                                option Everyone
                        .n-c-left-itm
                            p.col-ttl
                                | Message you want to send
                            span.lim-txt 50 characters left
                            .msg-cus-ct
                                textarea(rows="5") We're offering our customers a special deal all week long. Come in soon!
                        p.student-5000 5000 student will received your message though text and email
                    .modal-footer
                        button.cancel-del(data-dismiss='modal') I'll send it later
                        button.accept-del Send my message