block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Review
            button.text-center.pull-right.create-nw
                | Create new promotion
                span +
        .table-content
            .table-responsive
                table.table.cus-tb
                    tr
                        th.text-uppercase Customer
                        th.text-uppercase Delivered
                        th.text-uppercase Visit
                        th.text-uppercase Revenue
                        th.text-uppercase Spending
                        th.text-uppercase % Spending/Revenue
                    tr.r-click
                        td
                            .customer-td
                                p.st
                                    span.blue Everyone 
                                    | . OFF 10%
                                p.nd
                                    | First checkin reward
                                    span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                                p.rd
                                    span When:
                                    | Everytime
                                p.th
                                    span Expired date:
                                    | 12/07/2018
                        td 
                            p.m-text 1000
                        td 
                            p.m-text 700
                        td 
                            p.m-text $100,000
                        td 
                            p.m-text $62,412
                        td.text-center
                            .chrt-ct
                                span 62%
                                .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="62.66749064447474")
                    tr.r-click
                        td
                            .customer-td
                                p.st
                                    span.blue Student 
                                    | . Discount $5
                                p.nd
                                    | Back to school
                                    span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                                p.rd
                                    span When:
                                    | Everytime
                                p.th
                                    span Expired date:
                                    | 12/07/2018
                        td 
                            p.m-text 1000
                        td 
                            p.m-text 700
                        td 
                            p.m-text $100,000
                        td 
                            p.m-text $62,412
                        td.text-center
                            .chrt-ct
                                span 12%
                                .chrt(data-bgcolor="#ddd", data-linecolor="#eda65a", data-line="5", data-size="70", draw-canvas="", data-percent="12")
                    tr.r-click
                        td
                            .customer-td
                                p.st
                                    span.blue Vip 
                                    | . OFF 25%
                                p.nd
                                    | Special occasion
                                    span.tt-ic(data-toggle="tooltip", data-placement="bottom", title="A promotion exclusively for Student in back to school season. Every student will get 5% per bill") ?
                                p.rd
                                    span When:
                                    | Everytime
                                p.th
                                    span Expired date:
                                    | 12/07/2018
                        td 
                            p.m-text 50
                            .sub-ct
                                p
                                    span.ttl Text
                                    span.text 100%
                                p
                                    span.ttl Email
                                    span.text 90%
                        td 
                            p.m-text 40
                            .sub-ct
                                p
                                    span.ttl Claims
                                    span.text 32
                                p
                                    span.ttl Redem
                                    span.text 28
                        td 
                            p.m-text $50,000
                            .sub-ct
                        td 
                            p.m-text $40,000
                            .sub-ct
                        td.text-center
                            .chrt-ct
                                span 80%
                                .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="80")

        include blocks/modal/promotion-applier-modal.jade