block vars
  -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Special day offer managament
            button.text-center.pull-right.create-nw(data-tg="special-day-modal")
                | Create new special day
                span +
        .table-content
            .table-responsive
                table.table.cus-tb.pro-tb
                    tr
                        th.text-center.text-uppercase On/Off
                        th.text-uppercase Special day offer
                        th.text-uppercase Delivered & Visit
                        th.text-uppercase Income & Expense
                        th
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox", data-mode="special-day")
                                        .slider.round
                        td 
                            p Birthday offer
                            p.off-p.text-uppercase
                                | Off 10%
                            p.date-p
                                i.fa.fa-calendar
                                | 12/07/2017 
                                span to 
                                | 12/07/2017
                        td 
                            .row
                                .total-delivered.col-md-6.col-xs-12
                                    span.text-uppercase Total delivered
                                    p 11,850
                                .redeem-col.col-md-6.col-xs-12
                                    span.text-uppercase Redemtion
                                    p 2500
                        td 
                            .row
                                .col-md-6.col-xs-12.income-expense
                                    p
                                        span.text-uppercase Income
                                        | $100,000
                                    p
                                        span.text-uppercase Expense
                                        | $62,420
                                .col-md-6.col-xs-12.canvas-circle
                                    .chrt-ct
                                        span 62%
                                        .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="62")
                        td.text-center 
                            button.tb-btn.open-dt-modal(data-target="special-day-detail") See detail
                    // END: PROMOTION TR
                    tr
                        td.text-center
                            .switcher
                                .lbl-switch
                                    label.switch
                                        input(type="checkbox", data-mode="special-day")
                                        .slider.round
                        td 
                            p Birthday offer
                            p.off-p.text-uppercase
                                | Off 10%
                            p.date-p
                                i.fa.fa-calendar
                                | 12/07/2017 
                                span to 
                                | 12/07/2017
                        td 
                            .row
                                .total-delivered.col-md-6.col-xs-12
                                    span.text-uppercase Total delivered
                                    p 11,850
                                .redeem-col.col-md-6.col-xs-12
                                    span.text-uppercase Redemtion
                                    p 2500
                        td 
                            .row
                                .col-md-6.col-xs-12.income-expense
                                    p
                                        span.text-uppercase Income
                                        | $100,000
                                    p
                                        span.text-uppercase Expense
                                        | $62,420
                                .col-md-6.col-xs-12.canvas-circle
                                    .chrt-ct
                                        span 62%
                                        .chrt(data-bgcolor="#ddd", data-linecolor="#75db79", data-line="5", data-size="70", draw-canvas="", data-percent="62")
                        td.text-center 
                            button.tb-btn.open-dt-modal(data-target="special-day-detail") See detail
                    // END: PROMOTION TR
        include blocks/modal/create-special-day.jade
        include blocks/modal/special-day-detail-modal-v2.jade
        .modal.fade#active-special-day(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Active this special day offer
                    .modal-body.clearfix
                        p This special day offer has been expired. Pls extend the expired date to make it be active it again
                        .from-date
                            span From
                            .date-pick
                                input#frm-date(type="text", placeholder="Date")
                                i.fa.fa-calendar
                        .to-date
                            span To
                            .date-pick
                                input#to-date(type="text", placeholder="Date")
                                i.fa.fa-calendar
                    .modal-footer
                        button.cancel-del(data-dismiss='modal') Cancel
                        button.accept-del Ok
        .modal.fade#inactive-special-day(role='dialog')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4.modal-title Inactive this special day offer
                    .modal-body.clearfix
                        p Do you want to make this special day offer be inactive? After being inactive, your customer will not receive the notification and redeem
                    .modal-footer
                        button.cancel-del(data-dismiss='modal') Cancel
                        button.accept-del Ok