// Created by User on 6/24/2017
block vars
    -title="Home Page"
extends layouts/layout
block main
    .main-content
        .content-head.clearfix
            h1.text-capitalize.pull-left
                | Staff managament
            button.text-center.pull-right.create-nw(data-tg="new-staff-modal")
                | Create new staff
                span +
        .table-content
            .table-responsive
                table.table.cus-tb.pro-tb
                    tr
                        th.text-uppercase Staff
                        th.text-uppercase Name
                        th.text-uppercase Position
                        th.text-center.text-uppercase Status
                        th.text-center.text-uppercase Access application
                        th.text-center.text-uppercase Access admin page
                        th
                    tr
                        td
                            span 666888
                        td
                            p.staff-name Gussie Jensen
                            p.tb-phone
                                i.fa.fa-phone
                                | (987) 654-3210
                        td
                            span Cashier
                        td.text-center
                            .tb-chk
                                label.lbl-control.chk
                                    input(type="checkbox")
                                    .chk-tick
                        td.text-center
                            span Yes
                        td.text-center
                            span No
                        td.text-center
                            button.tb-btn.open-dt-modal(data-target="edit-staff-modal") See detail
                    // END: PROMOTION TR
        include blocks/modal/create-staff.jade
        include blocks/modal/edit-staff.jade