block vars
  -title="Survey"
extends layouts/layout-survey
block main
    .survey-content.container
        .survey-ct
            a.back-btn.hide(href="javascript:;")
                i.fa.fa-close
            .survey-ttl
                h3.text-center Nail Spa
                p.text-center (832) 234-3421
                h1.text-center Are you satisfied with our services?
            .survey-dt
                //- form
                .is-satisfied
                    .row
                        .col-md-4.col-xs-4
                            .icon-label.happy
                                input#happy(type="radio", name="survey_emo", value="Happy")
                                label(for="happy")
                        .col-md-4.col-xs-4
                            .icon-label.neutral
                                input#nothing(type="radio", name="survey_emo", value="Nothing")
                                label(for="nothing")
                        .col-md-4.col-xs-4
                            .icon-label.unhappy
                                input#unhappy(type="radio", name="survey_emo", value="Sad")
                                label(for="unhappy")
                .happy-frm.hide
                    h3.text-center We really appreciate it.
                    .sad-cmt.hide
                        p.text-center Your comments are important to us
                        textarea(name="survey-comment", placeholder="Your comment", rows="5")
                    .submit-frm.text-center
                        button Submit
            // END: VOTE FORM
            .final-step.text-center.hide
                .step-ttl
                    h3.text-center Thank you for taking the time to give us feedback. We really appreciate it.
                .review-link
                    a.gg(href="#") Review us on Google
                    a.yelp(href="#") Review us on Yelp
                    a.fb(href="#") Review us on Facebook
                a.no-acc(href="#") I don't have these accounts
                .no-account-cmt.hide
                    .step-ttl
                        h3.text-center Your feedback matters to us. Tell us what we did well.
                    textarea(name="no-acc-comment", placeholder="Your feedback", rows="5")
                    .submit-no-acc.text-center
                        button Submit
    // END: SURVEY-CONTENT