block vars
  -title="Appointment"
extends layouts/layout-survey
block main
    .web-book-container.container
        .row
            .col-md-3.w-b-sidebar
                .shop-inf
                    .avatar
                        a(href="#")
                            img.img-circle(src="images/gravatar.png", alt="Shop nails 1")
                    .shop-name
                        a.text-capitalize(href="#") The Nails Pro Shop
                    p.shop-info
                        a(href="mailto:xfiremen12345@gmail.com") xfiremen12345@gmail.com
                    p.shop-info (979) 217-2012
                .shop-w-hour
                    p
                        span.ttl Mon:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Tue:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Wed:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Thu:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Fri:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Sat:
                        span.w-hour 9:00 AM - 5:00 PM
                    p
                        span.ttl Sun:
                        span.w-hour 9:00 AM - 5:00 PM
                    strong Open today until 5:00 PM
                    a.text-uppercase.appoint-btn(href="web-booking.html") Booking an appointment
                // END: SHOP WORK HOURS
                //- .side-menu
                //-     .side-menu-itm
                //-         p.active Select service
                //-         .service-selected.hide
                //-             span.service Nail - 1hour
                //-             a.reselect(href="#") Edit your selection
                //-     .side-menu-itm
                //-         p Select date & time
                //-         .date-selected.hide
                //-             a.reselect-time(href="#") 
                //-                 span.date-book Wednesday, October 18, 2017
                //-                 span.time-book 12:00 PM - 12:30 PM US Central
                //-                 span.staff-book Toan Nguyen
                //-     .side-menu-itm
                //-         p Your info
            // END: SIDEBAR
            .col-md-9.w-b-content.w-b-inf-ct
                h3.w-ttl Our Services
                include blocks/web-booking/select-service.jade
                .w-b-our-staff
                    h3.w-ttl Our Staff
                    .staff-a-list
                        .staff-a-itm.clearfix
                            .staff-ava
                                img.img-circle(src="images/staff-ava.png", alt="")
                            .staff-dt
                                p Toan Nguyen
                                button.text-uppercase.appoint-btn.select-staff(data-staff="Toan Nguyen") Book with Toan
                        .staff-a-itm.clearfix
                            .staff-ava
                                img.img-circle(src="images/staff-ava.png", alt="")
                            .staff-dt
                                p Alexander Petrov
                                button.text-uppercase.appoint-btn.select-staff(data-staff="Alexander Petrov") Book with Alex
                        .staff-a-itm.clearfix
                            .staff-ava
                                img.img-circle(src="images/staff-ava.png", alt="")
                            .staff-dt
                                p Artour Babaev
                                button.text-uppercase.appoint-btn.select-staff(data-staff="Artour Babaev") Book with Artour
            // END: WEB BOOKING CONTENT
        