block vars
  -title="Appointment"
extends layouts/layout-survey
block main
    .web-book-container.container
        .row
            .col-md-3.w-b-sidebar
                .shop-inf
                    .avatar
                        a(href="#")
                            img.img-circle(src="images/gravatar.png", alt="Shop nails 1")
                    .shop-name
                        a.text-capitalize(href="#") The Nails Pro Shop
                .side-menu
                    .side-menu-itm
                        p.active Select service
                        .service-selected.hide
                            span.service Nail - 1hour
                            a.reselect(href="#") Edit your selection
                    .side-menu-itm
                        p Select date & time
                        .date-selected.hide
                            a.reselect-time(href="#") 
                                span.date-book Wednesday, October 18, 2017
                                span.time-book 12:00 PM - 12:30 PM US Central
                                span.staff-book Toan Nguyen
                    .side-menu-itm
                        p Your info
            // END: SIDEBAR
            .col-md-9.w-b-content
                include blocks/web-booking/select-service.jade
                include blocks/web-booking/select-date.jade
                include blocks/web-booking/client-info.jade
            // END: WEB BOOKING CONTENT
        include blocks/web-booking/confirm-book.jade
        