/**
 *
 * Appointment css
 *
**/ 

.appoint-tab{
    position: relative;
    height: 58px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
    h1{
        position: absolute;
        font-size: 24px;
        left: 0;
        top: 50%;
        .transform(translateY(-50%));
    }
}

.tab-list{
    float: right;
    li{
        display: inline-block;
        a{
            display: block;
            position: relative;
            height: 58px;
            line-height: 58px;
            padding: 0 25px;
            .transition(all .4s ease);
            .ClanproBold();
            &:hover{
                color: #2b7fff;
            }
            &.active{
                color: #2b7fff;
                &:before{
                    display: block;
                }
            }
            &:before{
                content: '';
                display: none;
                width: 100%;
                height: 3px;
                background-color: #2b7fff;
                position: absolute;
                left: 0;
                bottom: 1px;
            }
        }
    }
}

.appoint-tab-head{
    margin-bottom: 50px;
}
.appoint-h-itm{
    margin-bottom: 30px;
}

.h-itm-ct{
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 2px;
    padding: 15px;
    height: 145px;
    p{
        &.time, &.type{
            font-size: 15px;
        }
        &.numb{
            font-size: 28px;
            .ClanproBold();
        }
    }
    .h-itm-half{
        width: 50%;
        float: left;
    }
    .platform{
        display: inline-block;
        width: 120px;
        font-size: 14px;
        .ClanproBold();
    }
    .web{
        color: #2b7fff;
    }
    .landline{
        color: #41bd45;
    }
    .phone{
        color: #ff5522;
    }
    .count{
        display: inline-block;
        font-size: 14px;
    }
}

.overview-content{
    .head{
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        h3{
            font-size: 15px;
            margin-bottom: 10px;
            span{
                float: right;
            }
        }
    }
}

.appoint-itm{
    background-color: #fff;
}
.comming-appoint{
    margin-bottom: 30px;
    .ttl{
        background-color: #949494;
        border-radius: 2px;
        color: #fff;
        padding: 5px 8px;
    }
}

.notify-appoint{
    position: relative;
    padding: 15px 15px 15px 25px;
    background-color: #fff;
}

.noti-appoint-itm{
    position: relative;
    &:before{
        content: '';
        display: block;
        background-color: #2b7fff;
        width: 8px;
        height: 8px;
        position: absolute;
        left: -20px;
        border-radius: 100%;
        top: 50%;
        .transform(translateY(-50%));
    }
    &.cancel{
        color: #ff5522;
        &:before{
            background-color: #ff5522;
        }
    }
    p{
        margin-bottom: 15px;
    }
    .time-send{
        float: right;
    }
}

.appoint-tabpane{
    padding: 15px 0;
    display: none;
    &.active{
        display: block;
    }
}

.service-head{
    margin-bottom: 30px;
}

.search-frm{
    position: relative;
    .appoint-ipt{
        width: 300px;
        padding-right: 35px;
    }
    button {
        background-color: transparent;
        display: block;
        width: 32px;
        height: 32px;
        border: none;
        position: absolute;
        left: 268px;
        top: 0;
        outline: none;
    }
}

.service-list, .staff-tb{
    .control{
        display: block;
    }
    .table{
        background-color: #fff;
        >thead{
            >tr{
                th{
                    .ClanproBold();
                    font-size: 14px;
                }
            }
        }
    }
}

.appoint-ipt{
    outline: none;
    display: inline-block;
    padding: 0 15px;
    height: 32px;
    min-width: 200px;
    border: 1px solid #bec3c8;
    border-radius: 2px;
    &:focus{
        border-color: #2996cc;
    }
}

.appoint-btn {
    border: none;
    background-color: #2996cc;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 8px 20px;
    outline: none;
    .transition(all .4s ease);
    i{
        font-size: 16px;
    }
    &:hover{
        background-color: darken(#2996cc, 10%);
    }
    &.appoint-default{
        background-color: #a2a2a2;
        &:hover{
            background-color: darken(#a2a2a2, 10%);
        }
    }
    &.appoint-danger{
        color: #222;
        background-color: #bbbbbb;
        &:hover{
            background-color: darken(#bbbbbb, 5%);
        }
    }
}
.c-s-content{
    overflow-y: auto;
    padding: 50px 15px;
    height:100%;
}
.create-service-modal, .create-staff-modal{

    .box-shadow(1px 0px 2px 0px rgba(0,0,0,0.75));
    width: 400px;
    position: fixed;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
    top: 0;
    right: -500px;
    //overflow-y: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    /* display: flex; */
    -ms-box-orient: vertical;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    .transition(all .4s ease);
    &.shw{
        right: 0;
    }
    .appoint-ipt{
        width: 100%;
    }
    select{
        display: inline-block;
        width: 100px;
        height: 32px;
        margin-right: 10px;
        outline: none;
        &:focus{
            border-color: #2996cc;
        }
    }
    .el-ttl{
        .ClanproBold();
        font-size: 14px;
    }
    .form-group{
        position: relative;
        .currency{
            position: absolute;
            .ClanproBold();
            right: 15px;
            top: 36px;
        }
    }
}

.head-ttl{
    border-bottom: 1px solid #bbb;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.appoint-lbl{
    display: block;
}

.appoint-area{
    width: 100%;
    display: inline-block;
    padding: 15px;
    border: 1px solid #bec3c8;
    outline: none;
    border-radius: 2px;
    &:focus{
        border-color: #2996cc;
    }
}

.table-hover {
    > tbody{
        > tr{
            &:hover{
                background-color: #d9edf7 ;
            }
        }
    }
}
.frm-hr{
    height: 1px;
    background-color: #bbb;
    margin-bottom: 30px;
    margin-top: 30px;
}

.control {
	font-size: 14px;
	position: relative;
	display: inline-block;
	// margin-bottom: 15px;
    padding-left: 30px;
    padding-top: 3px;
	cursor: pointer;
}

.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.control-indicator {
	position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
    background: #ccc;
    &.tb-chk{
        left: 50%;
        top: 50%;
        .transform(translate(-50%, -50%));
    }
}

/* Hover and focus states */
.control:hover input ~ .control-indicator,
.control input:focus ~ .control-indicator {
	background: #bbb;
}

/* Checked state */
.control input:checked ~ .control-indicator {
	background: #2aa1c0;
}

.control:hover input:not([disabled]):checked ~ .control-indicator,
.control input:checked:focus ~ .control-indicator {
	background: #0e647d;
}

/* Check mark */
.control-indicator:after {
	position: absolute;
	display: none;
	content: '';
}

/* Show check mark */
.control input:checked ~ .control-indicator:after {
	display: block;
}

/* Checkbox tick */
.control-checkbox .control-indicator:after {
	top: 4px;
	left: 8px;
	width: 5px;
	height: 10px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

.guide-usr{
    margin: 20px 0;
    color: #2aa1c0;
    i{
        display: inline-block;
        margin-right: 10px;
    }
}

.staff-tb-name{
    .ClanproBold();
    color: #2aa1c0;
    &:hover{
        color: darken(#2aa1c0, 10%);
    }
}

.staff-hour{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    p{
        margin-bottom: 15px;
    }
    .day{
        display: inline-block;
        .ClanproBold();
        width: 100px;
    }
    .manage-stff-hr{
        color: #fff;
    }
}


.manage-staff-hour{
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));
    z-index: 99999;
    background-color: #fff;
    border: 1px solid #333;
    min-height: 500px;
    border-radius: 2px;
    display: none;
    .box-shadow(1px 1px 2px 0px rgba(0,0,0,0.75));
    &.shw{
        display: block;
    }
    .m-s-head{
        border-bottom: 1px solid #ccc;
        padding: 15px;
        h3{
            font-size: 18px;
        }
    }

    .m-s-content{
        padding: 15px;
    }
}

.m-s-content{
    .shop-name{
        margin: 10px 0 10px 0;
        color: #41bd45;
        .ClanproBold();
        font-size: 15px;
    }
}

.hour-itm{
    margin-bottom: 15px;
    .day-chk{
        width: 30%;
        float: left;
        height: 32px;
        line-height: 27px;
        .control-indicator{
            top: 6px;
        }
    }
    .set-time{
        width: 70%;
        float: left;
    }
}

.set-time{
    .from, .to {
        padding: 0 15px;
        width: 50%;
        float: left;
        .from-frm{
            border: 1px solid #ccc;
            border-radius: 2px;
            &:focus{
                border-color: #2aa1c0;
            }
        }
        input, select{
            height: 32px;
            padding: 0 8px;
            outline: none;
            width: 50%;
            float: left;
            border: none;
        }
        input{
            border-right: 1px solid #ccc;
        }
    }
}

.m-s-ft{
    padding: 15px;
    border-top: 1px solid #ccc;
}
.create-service-modal{
    display: flex;
}
.create-service-frm{
    overflow-y: auto;
}
.divide-div{
    position: relative;
    color: #fff;
    line-height: 1.5;
     height: 0;
    overflow: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -moz-transition: opacity .2s linear;
    -o-transition: opacity .2s linear;
    -webkit-transition: opacity .2s linear;
    ransition: opacity .2s linear;
    flex: auto 0 0;
}
.button-group{
    flex: auto 0 0;
    padding: 15px 30px;
    background-color: #f0f1f2;
    margin-bottom: 0;
}