/*
    Header css
*/ 

.top-header{
    position: relative;
    height: 44px;
    line-height: 44px;
    background-image: -webkit-linear-gradient(left, #473cf8, #2b7fff);
    background-image: -moz-linear-gradient(left, #473cf8, #2b7fff);
    background-image: -o-linear-gradient(left, #473cf8, #2b7fff);
    background-image: linear-gradient(to right, #473cf8, #2b7fff);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 700;
    p{
        margin-bottom: 0;
        color: #fff;
        font-size: 14px;
        position: relative;
    }
    .btn-group{
        z-index: 999;
    }
}
.setting-blk{
    position: absolute;
    top: 0;
    right: 48px;
    .dropdown-menu{
        right: 0;
        left: inherit;
        border-radius: 0;
        font-size: 12px;
    }
    .btn{
        border-radius: 0;
        outline: none;
    }
    .dropdown-toggle{
        border: none;
        color: #fff;
        font-size: 18px;
        background-color: transparent;
        display: inline-block;
        height: 44px;
        width: 44px;
        text-align: center;
        outline: none;
    }
}
.responsvie-btn{
    font-size: 18px;
    color: #fff;
    display: block;
    position: absolute;
    left: 15px;
    top: 50%;
    .transform(translateY(-50%));
    z-index: 999;
    display: none;
    &:hover, &:focus, &:active{
        color: #fff;
    }
}

.main-menu{
    padding-top: 24px;
    width: 208px;
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 44px;
    left: 0;
    z-index: 100;
}

.menu{
    li{
        p{
            margin-bottom: 0;
            padding-left: 15px;
            height: 24px;
            line-height: 24px;
            margin: 16px 0;
            font-size: 14px;
        }
        a{
            display: block;
            width: 208px;
            height: 48px;
            line-height: 48px;
            padding-left: 50px;
            position: relative;
            font-size: 14px;
            .transition(all 0.4s ease);
            i{
                position: absolute;
                top: 50%;
                right: 15px;
                .transform(translateY(-50%));
            }
            img{
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                left: 15px;
                .transform(translateY(-50%));
            }
            &.no-pad-left{
                padding-left: 15px;
            }
            &:hover{
                background-color: rgba(218, 221, 230, 0.5);
            }
        }
    }
    >li{
        &.active{
            >a{
                background-color: #DADDE6;
                &:before{
                    content: '';
                    display: block;
                    width: 4px;
                    height: 36px;
                    background-color: #4789ff;
                    position: absolute;
                    left: 0;
                    top: 6px;
                }
                i{
                    &:before{
                        content: '\f106';
                    }
                }
            }
        }
    }
}

.sub{
    // display: none;
    .opacity(0);
    visibility: hidden;
    height: 0;
    .transition(all 0.4s ease);
    &.active{
        .opacity(1);
        visibility: visible;
        height: auto;
    }
    li{
        &.active{
            a{
                background-color: #DADDE6;
                &:before{
                    content: '';
                    display: block;
                    width: 4px;
                    height: 36px;
                    background-color: #4789ff;
                    position: absolute;
                    left: 0;
                    top: 6px;
                }
            }
        }
    }
}

.main-content{
    margin-left: 208px;
    padding: 20px 48px;
    margin-top: 44px;
}

.content-head{
    margin-top: 20px;
    height: 32px;
    margin-bottom: 30px;
    h1{
        font-size: 20px;
    }
    .create-nw{
        height: 32px;
        line-height: 32px;
        position: relative;
        border: none;
        background-image: -webkit-linear-gradient(left, #473cf8, #2b7fff);
        background-image: -moz-linear-gradient(left, #473cf8, #2b7fff);
        background-image: -o-linear-gradient(left, #473cf8, #2b7fff);
        background-image: linear-gradient(to right, #473cf8, #2b7fff);
        color: #fff;
        padding: 0 15px 0 38px;
        span{
            display: inline-block;
            width: 13px;
            height: 13px;
            text-align: center;
            line-height: 13px;
            background-color: #fff;
            color: #333;
            font-size: 14px;
            .ClanproBold();
            border-radius: 100%;
            position: absolute;
            left: 15px;
            margin-right: 10px;
            top: 50%;
            .transform(translateY(-50%));
        }
    }
}

.cus-tb{
    background-color: #fff;
    
    >tbody{
        >tr{
            >th{
                border-top: none;
                // height: 48px;
                // line-height: 48px;
                padding: 14px 8px;
            }
            >td{
                border-top: 8px solid #eff1f5;
                // height: 76px;
                padding: 20px 8px;
                // line-height: 76px;
                vertical-align: middle;
            }
        }
    }
}
.cus-tb{
    .m-text{
        font-size: 24px;
    }
    p{
        margin-bottom: 0;
    }
    .tt-ic{
        display: inline-block;
        height: 16px;
        width: 16px;
        border-radius: 100%;
        text-align: center;
        line-height: 16px;
        background-color: #eff1f5;
        margin-left: 10px;
        cursor: default;
        font-size: 11px;
    }

    .tb-btn{
        height: 28px;
        line-height: 28px;
        padding: 0 20px;
        // width: 60px;
        outline: none;
        display: inline-block;
        margin: 0 auto;
        border: 1px solid #4789ff;
        color: #4789ff;
        background-color: #fff;
        .transition(all 0.4s ease);
        &:hover{
            color: #fff;
            background-color: #4789ff;
        }
    }
}

.switcher{
    position: relative;
    height: 84px;
    .lbl-switch{
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
        height: 22px;
        width: 45px;
        label{
            margin-bottom: 0;
        }
    }
}
.switch {
//   position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.customer-td{
    line-height: normal;
    p{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
        .blue{
            font-size: 13px;
            color: #4789ff;
            font-weight: normal;
        }
    }
    .st, .nd{
        .ClanproBold();
        font-size: 15px;
    }
    .rd, .th{
        span{
            margin-right: 10px;
            color: #8f8f9d;
        }
    }
}
.chrt-ct{
    line-height: normal;
    width: 70px;
    height: 70px;
    position: relative;
    span{
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
        font-size: 16px;
    }
}
.sub-ct{
    line-height: normal;
    height: 50px;
    p{
        margin-bottom: 15px;
        span{
            display: inline-block;
            width: 50%;
            font-size: 13px;
        }
        .ttl{
            color: #8f8f9d;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.cus-modal{
    border-radius: 0;
    .tt-ic{
        display: inline-block;
        height: 16px;
        width: 16px;
        border-radius: 100%;
        text-align: center;
        line-height: 16px;
        background-color: #e4e4e7;
        margin-left: 10px;
        cursor: default;
        font-size: 11px;
    }
    .modal-head{
        position: relative;
        height: 44px;
        line-height: 44px;
        padding: 0 30px 0 15px;
        border-bottom: 1px solid #ddd;
        h3{
            line-height: 44px;
            font-size: 15px;
        }
        button{
            width: 74px;
            height: 28px;
            line-height: 28px;
            background-color: #4789ff;
            color: #fff;
            border: none;
            position: relative;
            margin-top: 8px;
            outline: none;
            i{
                margin-right: 6px;
            }
        }
        .close-modal{
            position: absolute;
            display: block;
            outline: none;
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            background-color: #fff;
            color: #333;
            z-index: 999;
            top: -18px;
            right: -18px;
            border-radius: 100%;
            font-size: 20px;
        }
    }
}

.cus-modal{
    .modal-body{
        padding: 0;
        background-color: #f2f3f6;
    }
    .ct-left{
        width: 35%;
        // padding: 15px;
    }
    .ct-ight{
        width: 65%;
        padding: 15px 25px;
        background-color: #fff;
    }
}

.info-head{
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    p{
        .ClanproBold();
        font-size: 13px;
    }
    .blue{
        color: #4789ff;
        font-weight: normal;
    }
    .rd, .th{
        font-weight: normal;
        span{
            margin-right: 10px;
            color: #8f8f9d;
        }
    }
}

.numb-blk{
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
    .h-ttl{
        span{
            color: #9a9a9a;
            font-size: 12px;
            margin-bottom: 8px;
            display: block;
        }
        h3{
            font-size: 24px;
            color: #161616;
        }
        margin-bottom: 15px;
    }
    p{
        span{
            width: 50%;
            font-size: 13px;
            display: inline-block;
        }
        .ttl{
            color: #8f8f9d;
        }
    }
    .diliverd{
        width: 50%;
    }
    .visit{
        width: 50%;
    }
}

.revenue{
    padding: 10px 15px 25px 15px;
    .reven, .spend{
        width: 50%;
        span{
            color: #9a9a9a;
            font-size: 12px;
            margin-bottom: 8px;
            display: block;
        }
        h3{
            font-size: 24px;
            color: #161616;
        }
    }
}

.modal-tb{
    margin-bottom: 70px;
    font-size: 14px;
    >tbody{
        >tr{
            >th{
                border-top: none;
                background-color: #f2f3f6;
                height: 27px;
                line-height: 27px;
                font-size: 12px;
                padding: 0 8px;
                span{
                    font-weight: normal;
                }
            }
            &:nth-child(2){
                td{
                    border-top: none;
                }
            }
            >td{
                height: 48px;
                .box-shadow(inset 0 -1px 0 0 rgba(53, 54, 74, 0.07));
                line-height: 48px;
                vertical-align: middle;
                padding: 0 8px;
            }
        }
    }
    span{
        &.blue{
            color: #4789ff;
        }
    }
    .tag-blk{
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: cover
    }
    .tag-red{
        background-image: url('../images/red_star.png');
    }
    .tag-yellow{
        background-image: url('../images/yellow_star.png');
    }
}

.mem-tb{
    span{
        &.blue{
            color: #4789ff;
        }
    }
    .tag-blk{
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: cover
    }
    .tag-red{
        background-image: url('../images/red_star.png');
    }
    .tag-yellow{
        background-image: url('../images/yellow_star.png');
    }
    .mem-type{
        display: block;
        width: 74px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin: 0 auto;
        cursor: default;
        &.vip{
            background-color: rgba(245,79,60, .1);
            color: #ff5522;
        }
        &.new{
            background-color: rgba(65,189,69, .1);
            color: #41bd45;
        }
        &.regular{
            background-color: rgba(71,137,255, .1);
            color: #4789ff;
        }
        &.atrisk{
            background-color: rgba(240, 173, 78, .1);
            color: rgb(240, 173, 78);
        }
        &.normal{
            background-color: rgba(66,82,105, .1);
            color: #425269;
        }
    }

    .mem-info{
        float: left;
        position: relative;
        .img{
            float: left;
            width: 44px;
            margin-top: 10px;
            img{
                width: 44px;
                height: 44px;
            }
        }
        .content{
            width: 250px;
            padding: 0 16px;
            float: left;
            line-height: normal;
            margin-top: 18px;
            min-height: auto;
            h3{
                font-size: 14px;
                .ClanproBold();
                margin-bottom: 10px;
            }
            p{
                color: #8f8f9d;
                font-size: 13px;
                i{
                    margin-right: 6px;
                }
            }
        }
    }
    .m-t{
        margin-bottom: 0;
        font-size: 14px;
    }
}

.filter{
    width: 590px;
}
.filter-slt, .search{
    display: inline-block;
    margin-left: 16px;
}
.filter-slt{
    border: solid 1px #dcdcdc;
    background-color: #fff;
    position: relative;
    &.tag{
        width: 104px;
    }
    &.rev{
        width: 240px;
    }
    &.type{
        width: 144px;
    }
    .display{
        display: block;
        padding: 7px 10px;
        font-size: 13px;
        position: relative;
        cursor: pointer;
        i{
            position: absolute;
            top: 50%;
            right: 10px;
            .transform(translateY(-50%));
        }
    }
}

.f-lst{
    display: none;
    position: absolute;
    background-color: #fff;
    z-index: 200;
    width: 100%;
    top: 35px;
    .box-shadow(0px 2px 2px 0px rgba(221,221,221,1));
    &.shw{
        display: block;
    }
    li{
        a{
            display: block;
            height: 44px;
            line-height: 44px;
            padding: 0 15px;
            border-bottom: 1px solid #ddd;
            position: relative;
            .transition(all 0.4s ease);
            .fa{
                position: absolute;
                right: 15px;
                color: #679FFA;
                top: 50%;
                .transform(translateY(-50%));
                display: none;
            }
            &.active{
                .fa{
                    display: block;
                }
            }
            &:hover{
                background-color: #eee;
            }
        }
    }

    .tag-img{
        &:before{
            position: absolute;
            left: 15px;
            top: 50%;
            .transform(translateY(-50%));
            content: '';
            display: block;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            background-size: cover
        }
    }
    .red-tag{
        &:before{
            background-image: url('../images/red_star.png');
        }
    }
    .yellow-tag{
        &:before{
            background-image: url('../images/yellow_star.png');
        }
    }
    
}

.tag-disp{
    &:before{
        position: absolute;
        left: 15px;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-size: cover
    }
    &.red-tag{
        &:before{
            background-image: url('../images/red_star.png');
        }
    }
    &.yellow-tag{
        &:before{
            background-image: url('../images/yellow_star.png');
        }
    }
}

.search{
    float: right;
    width: 290px;
    position: relative;
    input{
        display: block;
        height: 33px;
        line-height: 32px;
        width: 100%;
        border: 1px solid #ddd;
        outline: none;
        padding: 0 10px 0 35px;
    }
    button{
        // display: none;
        position: absolute;
        background-color: transparent;
        outline: none;
        border: none;
        top: 50%;
        left: 5px;
        .transform(translateY(-50%));
    }
}



		
.col-chrt-itm{
    margin-bottom: 25px;
    position: relative;
    background-color: #fff;
    .total{
        // width: 180px;
        padding: 8px 15px;
        // position: absolute;
        right: 15px;
        top: 25px;
        span{
            font-size: 12px;
            color: #9a9a9a;
            display: block;
            margin-bottom: 8px;
            font-weight: normal;
        }
        .ClanproBold();
        font-size: 24px;
    }
    &:hover{
        .hover-chrt{
            .opacity(1);
            visibility: visible;
            bottom: -198px;
        }
    }
}
#chartdiv, #chartdiv2{
    width: 100%;
    height: 350px;
    background-color: #fff;
}


.login-content{
    background-image: url('../images/login_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login-frm{
    width: 320px;
    height: 356px;
    border-radius: 10px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));
    padding: 40px 15px;
    h1{
        .ClanproBold();
        font-size: 24px;
        margin-bottom: 30px;
    }
    .form-group{
        margin: 0;
    }
    .form-control{
        margin-bottom: 15px;
    }
    .submit-login{
        height: 48px;
        line-height: 48px;
        display: block;
        color: #fff;
        width: 100%;
        border: none;
        border-radius: 5px;
        background-image: linear-gradient(to right, #473cf8, #2b7fff);
    }
}

.review-itm{
    padding: 25px 15px;
    background-color: #fff;
    margin-bottom: 20px;
    position: relative;
}
.r-head{
    border-bottom: 1px solid #ddd;
    padding-bottom: 25px;
    margin-bottom: 25px;
    .ava{
        float: left;
        width: 64px;
        height: 64px;
        img{
            width: 64px;
            height: 64px;
        }
    }
    .head-inf{
        float: left;
        width: 500px;
        padding: 0 15px;
        .no-margin{
            margin-bottom: 0;
        }
        .name{
            .ClanproBold();
            font-size: 14px;
            display: inline-block;
            margin-right: 20px;
        }
        p{
            font-size: 13px;
            i{
                margin-right: 10px;
            }
            .grey{
                color: #8f8f9d;
            }
        }
        .tag-type{
            margin-bottom: 15px;
            height: 24px;
            position: relative;
            .type{
                position: absolute;
                left: 0;
                top: 0;
                display: inline-block;
                text-align: center;
                width: 72px;
                height: 24px;
                line-height: 24px;
                font-size: 13px;
                cursor: default;
                &.vip{
                    background-color: rgba(245,79,60, .1);
                    color: #ff5522;
                }
                &.new{
                    background-color: rgba(65,189,69, .1);
                    color: #41bd45;
                }
                &.regular{
                    background-color: rgba(71,137,255, .1);
                    color: #4789ff;
                }
                &.atrisk{
                    background-color: rgba(240,173,78, .4);
                    color: #F0AD4E;
                }
                &.normal{
                    background-color: rgba(66,82,105, .1);
                    color: #8F9AAA;
                }
            }
            .tag{
                background-repeat: no-repeat;
                background-image: url('../images/red_star.png');
                background-size: cover;
                width: 24px;
                height: 24px;
                display: inline-block;
                position: absolute;
                top: 0;
                left: 82px;
                &.tag-yellow{
                    background-image: url('../images/yellow_star.png');
                }
            }
        }
        .ico-blk{
            display: inline-block;
            span{
                // .opacity(.5);
                &.active{
                    &.fa-google{
                        background-color: #EA4335;
                    }
                    &.yelp{
                        background-color: transparent;
                        img{
                            filter: grayscale(0);
                        }
                    }
                    &.fa-facebook{
                        background-color: #3B5998;
                    }
                    &.go-checkin{
                        background-color: transparent;
                        img{
                            filter: grayscale(0);
                        }
                    }
                }
            }
        }
    }
    .star-ic{
        width: 24px;
        height: 24px;
        background-image: url('../images/red_star.png');
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 15px;
        top: 25px;
    }

    .show-modal{
        width: 32px;
        height: 32px;
        display: block;
        border: 1px solid #4789ff;
        border-radius: 100%;
        line-height: 32px;
        text-align: center;
        position: absolute;
        top: 25px;
        right: 15px;
        color: #4789ff;
        outline: none;
    }
}

.ico-blk{
    display: inline-block;
    span{
        display: inline-block;
        width: 48px;
        height: 24px;
        line-height: 24px;
        text-align: center;
        background-color: #ddd;
        color: #fff;
        margin-right: 10px;
        &.fa-google{
            // background-color: #EA4335;
        }
        &.yelp{
            background-color: transparent;
            img{
                width: 100%;
                // height: 24px;
                filter: grayscale(100%);
                margin-top: -5px;
            }
        }
        &.fa-facebook{
            // background-color: #3B5998;
        }

        &.go-checkin{
            background-color: transparent;
            img{
                width: 100%;
                // height: 24px;
                filter: grayscale(100%);
                margin-top: -5px;
            }
        }

        &.active{
            &.fa-google{
                background-color: #EA4335;
            }
            &.yelp{
                img{
                    filter: grayscale(0);
                }
            }
            &.go-checkin{
                img{
                    filter: grayscale(0);
                }
            }
            &.fa-facebook{
                background-color: #3B5998;
            }
        }
    }
}

.r-content{
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #498CFA;
    .ct-name{
        font-size: 14px;
        .ClanproBold();
        display: inline-block;
        margin-right: 20px;
    }
    .time-post{
        font-size: 13px;
        margin-bottom: 8px;
        .fa{
            margin-right: 5px;
            color: #8f8f9d;
            &.active{
                color: #498CFA;
            }
        }
        .date-time{
            margin-left: 10px;
            color: #8f8f9d;
        }
    }
    .ct{
        font-size: 13px;
        line-height: 1.69;
        text-align: left;
        color: #333333;
    }
    .view-more{
        font-size: 13px;
        line-height: 1.69;
        text-align: left;
        color: #4789ff;
        &:hover{
            text-decoration: underline;
        }
    }
    .img-blk{
        margin-top: 10px;
        .img-itm{
            width: 96px;
            height: 96px;
            margin-right: 16px;
            float: left;
            img{
                width: 96px;
                height: 96px;
            }
        }
    }
    &:last-child{
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }
}

.side-itm{
    background-color: #fff;
    margin-bottom: 32px;
    height: 132px;
    padding: 24px;
    p{
        font-size: 16px;
        text-align: left;
        color: #363b4e;
    }
    h3{
        font-size: 30px;
        .ClanproBold();
        margin-bottom: 10px;
    }
    span{
        font-size: 14px;
        text-align: left;
        color: #4789ff;
    }
    &.red{
        border-top: 2px solid #d01100;
    }
    &.green{
        border-top: 2px solid #299f47;
    }
    &.blue{
        border-top: 2px solid #4789ff;
    }
}

.review-modal{
    .modal-head{
        .close-modal{
            position: absolute;
            display: block;
            outline: none;
            width: 36px;
            height: 36px;
            line-height: 36px;
            text-align: center;
            background-color: #fff;
            color: #333;
            z-index: 999;
            top: -18px;
            right: -18px;
            border-radius: 100%;
            font-size: 20px;
        }
        padding: 20px;
        background-color: #f2f3f6;
    }
    .ava{
        float: left;
        width: 64px;
        height: 64px;
        img{
            width: 64px;
            height: 64px;
        }
    }
    .head-info{
        float: left;
        width: 700px;
        padding: 0 30px;
        .name{
            .ClanproBold();
            font-size: 14px;
        }
        p{
            font-size: 13px;
            i{
                margin-right: 10px;
            }
            .grey{
                color: #8f8f9d;
            }
        }
    }
    .no-margin{
        margin-bottom: 0;
    }
    .tag-type{
        margin-bottom: 15px;
        height: 24px;
        position: relative;
        .type{
            position: absolute;
            left: 0;
            top: 0;
            display: inline-block;
            text-align: center;
            width: 72px;
            height: 24px;
            line-height: 24px;
            font-size: 13px;
            cursor: default;
            &.vip{
                background-color: rgba(245,79,60, .1);
                color: #ff5522;
            }
            &.new{
                background-color: rgba(65,189,69, .1);
                color: #41bd45;
            }
            &.regular{
                background-color: rgba(71,137,255, .1);
                color: #4789ff;
            }
            &.atrisk{
                background-color: rgba(240,173,78, .4);
                color: #F0AD4E;
            }
            &.normal{
                background-color: rgba(66,82,105, .1);
                color: #8F9AAA;
            }
        }
        .tag{
            background-repeat: no-repeat;
            background-image: url('../images/red_star.png');
            background-size: cover;
            width: 24px;
            height: 24px;
            display: inline-block;
            position: absolute;
            top: 0;
            left: 82px;
            &.tag-yellow{
                background-image: url('../images/yellow_star.png');
            }
        }
    }
}

.post-itm{
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: relative;
    .ct-name{
        font-size: 14px;
        .ClanproBold();
    }
    .time-post{
        font-size: 13px;
        margin-bottom: 8px;
        .fa{
            margin-right: 5px;
            color: #8f8f9d;
            &.active{
                color: #498CFA;
            }
        }
        .date-time{
            margin-left: 10px;
            color: #8f8f9d;
        }
    }
    .ct{
        font-size: 13px;
        line-height: 1.69;
        text-align: left;
        color: #333333;
    }
    .view-more{
        font-size: 13px;
        line-height: 1.69;
        text-align: left;
        color: #4789ff;
        &:hover{
            text-decoration: underline;
        }
    }
    .show-modal{
        width: 32px;
        height: 32px;
        display: block;
        border: 1px solid #4789ff;
        border-radius: 100%;
        line-height: 32px;
        text-align: center;
        position: absolute;
        top: 20px;
        right: 0px;
        color: #4789ff;
        outline: none;
    }
}

.cre-pro-modal{
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    left: 0;
    top: 0;
    z-index: 9999;
    position: fixed;
    padding-bottom: 64px;
    .opacity(0);
    visibility: hidden;
    .transition(all 0.4s ease);
    &.shw{
        .opacity(1);
        visibility: visible;
        z-index: 9999;
    }
}

.lbl-control{
    font-size: 12px;
	position: relative;
	display: block;
	margin-bottom: 15px;
    height: 20px;
	cursor: pointer;
    input{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    span{
        position: absolute;
        top: 4px;
        left: 30px;
    }
}
.chk-tick {
    position: absolute;
	top: 2px;
	left: 0;
	width: 20px;
	height: 20px;
	background: #e6e6e6;
}
.rd{
    .chk-tick {
        border-radius: 50%;
    }
}

.lbl-control input:checked ~ .chk-tick {
	background: #4789ff;
}

.chk-tick:after {
	position: absolute;
	display: none;
	content: '';
}

.lbl-control input:checked ~ .chk-tick:after {
	display: block;
}

.chk .chk-tick:after{
    top: 3px;
	left: 8px;
	width: 5px;
	height: 10px;
	transform: rotate(45deg);
	border: solid #fff;
	border-width: 0 2px 2px 0;
}

.rd .chk-tick:after{
    top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
}

.n-pro-head{
    margin-bottom: 30px;
    height: 96px;
    line-height: 96px;
    position: relative;
    h1{
        line-height: 96px;
    }
}

.cre-head-right{
    
    p{
        font-size: 13px;
        color: #4789ff;
        margin-right: 70px;
        span{
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 100%;
            text-align: center;
            line-height: 16px;
            background-color: #e4e4e7;
            margin-right: 5px;
            color: #333;
        }
    }
    .close-c-modal{
        display: block;
        width: 36px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        position: absolute;
        right: 0;
        top: 50%;
        .transform(translateY(-50%));
        .box-shadow(0px 0px 5px 0px rgba(0,0,0,1));
        border-radius: 100%;
        font-size: 18px;
    }
}

.n-c-left-itm{
    position: relative;
    margin-bottom: 30px;
    .col-ttl{
        font-size: 15px;
        margin-bottom: 18px;
        .ClanproBold();
    }
    .switcher{
        margin-bottom: 20px;
        height: 24px;
        line-height: 24px;
        .c-switch{
            width: auto;
        }
    }
    .ipt{
        display: block;
        height:44px;
        line-height: 44px;
        padding: 0 16px;
        border: 1px solid #dcdcdc;
        width: 100%;
        &:active, &:focus{
            border-color: #bbbbbb;
        }
    }
}
.prom-offer{
    border: 1px solid #333;
    padding: 8px;
    width: 220px;
    input{
        display: inline-block;
        width: 60px;
        height: 30px;
        padding: 0 5px;
        .ClanproBold();
        font-size: 16px;
        outline: none;
        border: 1px solid #333;
    }
    .c-chk{
        float: right;
        padding-top: 3px;
        width: 50px;
        height: 30px;
        .lbl-control{
            margin-bottom: 0;
            font-size: 16px;
            .ClanproBold();
            span{
                top: 2px;
            }
        }
    }
    .switch-btn{
        float: right;
        border: 1px solid #333;
        a{
            display: inline-block;
            height: 28px;
            width: 40px;
            text-align: center;
            line-height: 28px;
            font-size: 20px;
            .transition(all 0.4s ease);
            &:hover{
                background-color: rgba(0,0,0,.5);
                color: #fff;
            }
            &.active{
                background-color: #333;
                color: #fff;
            }
        }
    }
}

.pick-blk{
    position: relative;
    width: 160px;
    p{
        font-size: 13px;
    }
    input{
        display: block;
        height: 44px;
        line-height: 44px;
        width: 160px;
        outline: none;
        padding: 0 16px;
    }
    i{
        position: absolute;
        right: 16px;
        top: 40px;
        font-size: 16px;
    }
}

.lim-txt{
    color: #41bd45;
    position: absolute;
    top: 0;
    right: 0;
}

.msg-cus-ct{
    textarea{
        display: block;
        height: 160px;
        width: 100%;
        padding: 14px 16px;
        font-size: 14px;
        line-height: 1.57;
        resize: none;
        outline: none;
    }
}

.save-draft, .create-now{
    display: block;
    margin-bottom: 15px;
    width: 100%;
    height: 44px;
    text-align: center;
    line-height: 44px;
    outline: none;
    font-size: 14px;
    color: #fff;
    border: none;
    .transition(all 0.4s ease);
    &:hover{
        color: #fff;
    }
}

.save-draft{
    background-color: #cdd4e1;
    &:hover{
        background-color: darken(#cdd4e1, 10%);
    }
}

.create-now{
    background-color: #4789ff;
    &:hover{
        background-color: darken(#4789ff, 10%);
    }
}

.n-col-right{
    position: relative;
}
.col-r-ct{
    width: 400px;
    height: 320px;
    margin-top: 150px;
    float: right;
    .logo-img{
        width: 128px;
        height: 80px;
        margin: 0 auto;
        margin-bottom: 20px;
        img{
            width: 128px;
            height: 80px;
        }
    }
    h3{
        font-size: 15px;
        .ClanproBold();
        margin-bottom: 16px;
    }
    p{
        width: 294px;
        font-size: 15px;
        line-height: 1.6;
        margin-left: auto;
        margin-right: auto;
    }
    .date{
        display: block;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .claim-now{
        display: inline-block;
        height: 40px;
        background-color: #4789ff;
        line-height: 40px;
        color: #fff;
        padding: 0 28px;
        font-size: 14px;
        margin-bottom: 24px;
    }
    .c-ft{
        border-top: 1px solid #ddd;
        padding-top: 16px;
        a{
            display: inline-block;
            color: #a8b1c2;
            margin: 0 24px;
            font-size: 28px;
            .transition(all 0.4s ease);
            &:hover{
                color: rgba(21,21,36,.5);
                span{
                    color: rgba(21,21,36,.5);
                }
            }
            span{
                display: block;
                margin-top: 8px;
                font-size: 13px;
            }
            &.active{
                color: #151524;
                &:hover{
                    color: #151524;
                    span{
                        color: #151524;
                    }
                }
            }
        }
    }
}

.cus-select{
    select{
        height: 44px;
        width: 160px;
        display: block;
        outline: none;
        line-height: 44px;
        padding: 0 12px;
    }
    &.slt-birth{
        select{
            width: 100%;
        }
    }
}

.instruction{
    background-color: #f2f3f6;
    padding: 15px 16px 68px 16px;
    //width: 400px;
    //float: right;
    margin-bottom: 30px;
    h3{
        margin-bottom: 20px;
        .ClanproBold();
        font-size: 15px;
    }
    p{
        line-height: 20px;
    }
}

.iphone-blk{
    position: relative;
    display: none;
    &.active{
        display: block;
    }
    img{
        width: 262px;
    }
    .iphone-ct{
        text-align: left;
        position: absolute;
        width: 262px;
        z-index: 9999;
        left: 100px;
        top: 90px;
    }
}
.mail-mode{
    display: none;
    &.active{
        display: block;
    }
}

.hover-chrt{
    position: absolute;
    width: 400px;
    // height: 255px;
    z-index: 200;
    background-color: #333;
    color: #fff;
    left: 50%;
    .transform(translateX(-50%));
    bottom: -208px;
    .transition(all 0.4s ease);
    visibility: hidden;
    .opacity(0);
    h3{
        font-size: 16px;
        margin-bottom: 20px;
        .ClanproBold();
    }
    .cus-type{
        color: #fff;
        position: relative;
        padding-left: 24px;
        &:before{
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background-color: #fff;
            position: absolute;
            left: 0;
            top: 0;
        }
        span{
            .ClanproBold();
            display: inline-block;
            width: 90px;
        }
        &.vip{
            &:before{
                background-color: #F26858;
            }
        }
        &.new{
            &:before{
                background-color: #41BD45;
            }
        }
        &.regular{
            &:before{
                background-color: #4789FF;
            }
        }
        &.risk{
            &:before{
                background-color: #8F9AAA;
            }
        }
        &.normal{
            &:before{
                background-color: #F0AD4E;
            }
        }
    }
    .rev-numb{
        font-size: 16px;
    }
}
.inner-hover{
    padding: 15px 24px;
    position: relative;
    &:before{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid #333;
        position: absolute;
        top: -5px;
        left: 50%;
        .transform(translateX(-50%));
    }
}



.pro-tb{
    p{
        margin-bottom: 10px;
        font-size: 13px;
        color: #161616;
        &:last-child{
            margin-bottom: 0;
        }
    }
    .blue{
        color: #4789ff;
    }
    .off-p{
        font-size: 16px;
        .ClanproBold();
    }
    .date-p{
        i{
            margin-right: 5px;
        }
        span{
            color: #8f8f9d;
        }
    }
}

.total-delivered, .redeem-col{
    span{
        font-size: 10px;
        color: #9a9a9a;
        display: block;
        margin-bottom: 8px;
    }
    p{
        font-size: 18px;
        color: #161616;
    }
}

.income-expense{
    p{
        font-size: 18px;
        color: #161616;
        span{
            display: block;
            font-size: 10px;
            color: #9a9a9a;
            margin-bottom: 6px;
        }
    }
}


#prom-dt-modal{
}

.m-content{
    padding: 100px 0 30px 0;
    .m-head{
        padding: 12px 24px;
        position: relative;
        border-bottom: 1px solid #ddd;
        h3{
            font-size: 15px;
            line-height: 28px;
        }
    }
    .head-btn{
        button{
            display: inline-block;
            border: none;
            color: #fff;
            padding: 0px 15px;
            font-size: 14px;
            line-height: 28px;
            height: 28px;
            .transition(all 0.4s ease);
            outline: none;
        }
        .del-btn{
            background-color: #cdd4e1;
            &:hover{
                background-color: darken(#cdd4e1, 10%);
            }
        }
        .edit-btn{
            background-color: #4789ff;
            i{
                margin-right: 5px;
            }
            &:hover{
                background-color: darken(#4789ff, 10%);
            }
        }
    }
}

.m-body{
    position: relative;
    padding: 12px 24px 12px 0;
    &:before{
        // content: '';
        // position: absolute;
        // left: 275px;
        // top: 12px;
        // width: 1px;
        // height: 100%;
        // background-color: #ddd;
        // display: block;
    }
    .prm-rght{
        // border-left: 1px solid #ddd;
    }
    .span-ttl{
        font-size: 10px;
        color: #9a9a9a;
        display: block;
        margin-bottom: 8px;
    }
}

.st-blk{
    padding: 16px 0;
    padding-left: 24px;
    border-bottom: 1px solid #ddd;
    .blue{
        color: #4789ff;
        font-size: 13px;
    }
    .off-p{
        font-size: 16px;
        .ClanproBold();
    }
    .date-p{
        i{
            margin-right: 5px;
        }
        span{
            color: #8f8f9d;
        }
    }
}

.second-blk{
    padding: 16px 0;
    padding-left: 24px;
    border-bottom: 1px solid #ddd;
    p{
        font-size: 18px;
        margin-bottom: 14px;
        i{
            font-size: 16px;
            margin: 0 10px;
        }
        span{
            font-size: 13px;
        }
    }
}

.third-blk{
    padding: 16px 0;
    padding-left: 24px;
    p{
        font-size: 18px;
    }
}

.tb-list{
    .tag-blk{
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-size: cover
    }
    .tag-red{
        background-image: url('../images/red_star.png');
    }
    .tag-yellow{
        background-image: url('../images/yellow_star.png');
    }
    .cus-tb{
        > tbody {
            > tr {
                > th{
                    background-color: #f2f3f6;
                    padding: 8px;
                }
                >td{
                    border-top: none;
                    padding: 10px 8px;
                    border-bottom: 1px solid #f2f3f6;
                }
            }
        }
    }
}

.tb-select{
    display: block;
    height: 28px;
    line-height: 28px;
    width: 200px;
    border: 1px solid #dcdcdc;
    outline: none;
}

.no-visit, .expire{
    font-size: 13px;
    color: #151524;
    span{
        color: #8f8f9d;
    }
}

.tb-chk{
    .lbl-control{
        display: inline-block;
    }
    .chk-tick{
        left:50%;
        .transform(translateX(-50%));
    }
}
.pro-tb {
    .tb-phone {
        color: rgba(221, 221, 221, 1);
        i {
            margin-right: 5px;
            color: #000000;
        }
    }
}
.staff-name{
    .ClanproBold();
}

.modal{
    .modal-footer{
        button{
            height:36px;
            line-height:36px;
            color: #fff;
            text-align: center;
            padding: 0 20px;
            border: none;
            outline:none;
            margin-right: 10px;
        }
        .cancel-del{
            background-color: #ccd3e0;
        }
        .accept-del{
            background-color: #4789ff;
        }
    }
}
.modal-backdrop{
    //z-index: auto;
}

.from-date, .to-date{
    width: 220px;
    float: left;
    .date-pick{
        display: inline-block;
        width: 160px;
        position: relative;
        i{
            position: absolute;
            top:50%;
            .transform(translateY(-50%));
            right: 16px;
        }
        input{
            display: block;
            width: 100%;
            padding: 0 16px;
            height: 34px;
            line-height:34px;
        }
    }
    span{
        margin-right: 16px;
    }
}
.to-date{
    padding-left: 16px;
}

.g-img{
    img{
        width: 128px;
        height: 80px;
    }
}

.info-ct{
    h3{
        font-size: 32px;
        line-height: 32px;
        margin-bottom: 6px;
    }
    p{
        font-size: 13px;
        margin-bottom: 0;
        &.st-child {
            margin-bottom: 6px;
        }
        a{
            color: #4789ff;
            &:hover{
                text-decoration: underline;
            }
        }
        span{
            margin-right: 4px;
            color: #ddd;
            &.active{
                color: #4789ff;
            }
        }
    }
}
.general-info{
    margin-bottom: 24px;
}

.overview-blk{
    background-color: #fff;
    padding: 22px 24px;

    .ttl{
        margin-bottom: 16px;
        h3{
            font-size: 16px;
            line-height: 32px;
        }

        .time-range {
            button{
                display: inline-block;
                background-color: #fff;
                border: 1px solid #ddd;
                height: 32px;
                outline: none;
                padding: 0 10px;
                width: 98px;
                .transition(all 0.4s ease);
                &:hover{
                    background-color: rgba(71, 137, 255, .7);
                    color: #fff;
                }
                &.active{
                    color: #fff;
                    background-color: #4789ff;
                }
            }
        }
    }
}

.overview-blk{
    margin-bottom: 24px;
}
.overview-itm{
    padding: 15px 24px;
    .box-shadow(0px 1px 1px 1px rgba(221,221,221,.7));
    height: 220px;
    h3{
        font-size: 14px;
        color: #9a9a9a;
        margin-bottom: 10px;
    }
    strong{
        .ClanproBold();
        margin-bottom: 14px;
        font-size: 24px;
        display: block;
        font-weight: normal;
    }
    p{
        font-size: 13px;
        span{
            color: #8f8f9d;
        }
    }
}

.overall-chart, .reve-chart{
    background-color: #fff;
    padding: 22px 24px;
    margin-bottom: 24px;
    h3{
        margin-bottom: 24px;
        font-size: 16px;
    }
    .ttl{
        margin-bottom: 16px;
        p{
            font-size: 13px;
            line-height: 30px;
            margin-bottom: 0;
        }

        .time-range {
            button{
                display: inline-block;
                background-color: #fff;
                border: 1px solid #ddd;
                height: 32px;
                outline: none;
                padding: 0 10px;
                width: 98px;
                .transition(all 0.4s ease);
                &:hover{
                    background-color: rgba(71, 137, 255, .7);
                    color: #fff;
                }
                &.active{
                    color: #fff;
                    background-color: #4789ff;
                }
            }
        }
    }
}

#overall-chart, #reve-chart{
    height: 500px;
}

.mem-dt-head{
    position: relative;
    .close-modal{
        position: absolute;
        width: 24px;
        height: 24px;
        // line-height: 24px;
        text-align: center;
        border: 2px solid #333;
        border-radius: 100%;
        top: -12px;
        right: -12px;
        background-color: #fff;
        opacity: 1;
        margin: 0;
        font-size: 14px;
        padding: 0;
    }
    .head-ava{
        img{
            width: 44px;
            height: 44px;
        }
        h3{
            font-size: 18px;
            .ClanproBold();
            color: #4789ff;
            position: absolute;
            top: 20px;
            left: 64px;
        }
        .since{
            display: block;
            color: #8f8f9d;
            position: absolute;
            top: 40px;
            left: 64px;
        }
        .point{
            font-size: 14px;
            .ClanproBold();
            color: #4789ff;
            position: absolute;
            top: 20px;
            right: 15px;
        }
    }
}

.add-point{
    height: 32px;
    margin-bottom: 15px;
    p{
        margin-bottom: 0;
        line-height: 32px;
    }
    .add-pts-ipt{
        position: relative;
        input{
            display: inline-block;
            height: 32px;
            width: 80px;
            line-height: 32px;
            padding: 0 10px;
            outline: none;
            border: 1px solid #ddd;
            margin-left: 35px;
            &:focus, &:active{
                border-color: #bbb;
            }
        }
        button{
            position: absolute;
            height: 32px;
            width: 32px;
            // line-height: 32px;
            text-align: center;
            background-color: #4789ff;
            color: #fff;
            font-size: 14px;
            border: none;
            outline: none;
            &:hover{
                background-color: darken(#4789ff, 10%);
            }
        }
        .decrease{
            top: 0;
            left: 0;
        }
        .increase{
            left: 118px;
            top: 0;
        }
    }
}
p{
    &.count-visit{
        font-size: 12px;
        color: #8f8f9d;
        span{
            color: #333;
            font-size: 16px;
            .ClanproBold();
        }
    }
}
.birthday{
    margin-bottom: 15px;
    .form-control{
        margin-bottom: 15px;
    }
}
#member-detail{
    label{
        .ClanproBold();
    }
    .form-control{
        border-radius: 2px;
        font-size: 12px;
    }
}
.modal-content{
    border-radius: 2px;
}
.cre-pro-modal{
    .tt-ic{
        display: inline-block;
        height: 16px;
        width: 16px;
        border-radius: 100%;
        text-align: center;
        line-height: 16px;
        background-color: #e4e4e7;
        margin-left: 10px;
        cursor: default;
        font-size: 11px;
    }
}

#notify-redemtion{
    .form-control{
        border-radius: 2px;
        box-shadow: none;
        &:focus, &:active{
            border-color: #bbb;
        }
    }
    .student-5000{
        font-size: 14px;
        color: #8f8f9d;
    }
    .form-group{
        p{
            .ClanproBold();
            font-size: 14px;
            margin-bottom: 18px;
        }
    }
    .n-c-left-itm{
        .col-ttl{
            font-size: 14px;
        }
    }
}
.btn-notify{
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    outline: none;
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #e7e9ee;
    color: #000;
    background-color: #fff;
    .transition(all 0.4s ease);
    &:hover{
        background-color: #e7e9ee;
    }
}
.cus-tb{
    th{
        a{
            display: block;
            position: relative;

            &:before{
                position: absolute;
                right: 0;
                top: 2px;
                content: '\f0dc';
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            &.asc{
                &:before{
                    content: '\f160';
                }
            }
            &.desc{
                &:before{
                    content: '\f161';
                }
            }
        }
    }
}
.cus-tb{
    .col-lg{
        width: 300px;
        a{
            width: 300px;
        }
    }
    .col-eq{
        width: 130px;
        a{
            width: 130px;
        }
    }
}