/**
 *
 * Survey css
 *
*/

.survey-bd{
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.survey-ct{
    position: relative;
    color: #000;
    background-color: #fff;
    padding: 30px 15px;
    width: 640px;
    margin: 30px auto;
    border-radius: 2px;
    .box-shadow(1px 1px 5px 0px rgba(0,0,0,0.75));
    .back-btn{
        display: block;
        font-size: 18px;
        width: 18px;
        position: absolute;
        right: 0px;
        top: 0px;
        color: #5090fe;
        outline: none;
    }
}
.survey-ttl{
    margin-bottom: 30px;
    h3{
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 26px;
    }
    p{
        margin-bottom: 30px;
    }
    h1{
        font-size: 18px;
        font-weight: 600;
    }
}
.icon-label{
    text-align: center;
    input[type="radio"]{
        display: none;
    }
    &.happy{
        label{
            background-image: url('../uploads/survey/happiness.png');
        }
        input:checked + label {
            background-image: url('../uploads/survey/happiness_hover.png');
        }
    }
    &.unhappy{
        label{
            background-image: url('../uploads/survey/unhappiness.png');
        }
        input:checked + label {
            background-image: url('../uploads/survey/unhappiness_hover.png');
        }
    }
    &.neutral{
        label{
            background-image: url('../uploads/survey/neutral.png');
        }
        input:checked + label {
            background-image: url('../uploads/survey/neutral_hover.png');
        }
    }
    label{
        display: inline-block;
        width: 128px;
        height: 128px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        background-size: 64px;
    }
    
}

.happy-frm{
    margin-top: 50px;
    h3{
        margin-bottom: 40px;
        font-weight: 600;
    }
}
.sad-cmt{
    textarea{
        display: block;
        width: 100%;
        padding: 15px;
        outline: none;
        border-radius: 2px;
        border: 2px solid #838383;
        &:active, &:focus{
            border-color: #ee3e48;
        }
    }
}
.happy-frm{
    h3{
        font-size: 18px;
    }
    &.sad-frm{
        label{
            &:hover{
                border-color: #ee3e48;
            }
        }
        input:checked + label {
            background-color: #ee3e48;
            border-color: #ee3e48;
            color: #fff;
        }
    }
}

.submit-frm, .submit-no-acc{
    margin-top: 30px;
    button{
        display: inline-block;
        outline: none;
        padding: 8px 35px;
        font-size: 14px;
        font-weight: 600;
        background-color: #5090fe;
        color: #fff;
        border: none;
        border-radius: 2px;
        height: 35px;
        .transition(all .3s ease);
        &:hover{
            background-color: darken(#5090fe, 10%);
        }
    }
}

.final-step{
    .step-ttl{
        h3{
            margin-bottom: 40px;
            font-weight: 600;
            font-size: 18px;
            line-height: 1.4;
        }
    }
    .no-acc{
        color: #0C96FC;
        font-weight: 600;
        &:hover{
            text-decoration: underline;
        }
    }
}

.review-link{
    a{
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 0px 30px;
        width: 200px;
        height: 35px;
        line-height: 36px;
        outline: none;
        color: #fff;
        border-radius: 2px;
        .transition(all .3s ease);
    }
    .gg{
        background-color: #FBB335;
        &:hover{
            background-color: darken(#FBB335, 10%);
        }
    }
    .fb{
        background-color: #4968A6;
        &:hover{
            background-color: darken(#4968A6, 10%);
        }
    }
    .yelp{
        background-color: #CF2528;
        &:hover{
            background-color: darken(#CF2528, 10%);
        }
    }
}

.no-account-cmt{
    textarea{
        display: block;
        width: 100%;
        padding: 15px;
        outline: none;
        border-radius: 2px;
        border: 2px solid #ddd;
        &:active, &:focus{
            border-color: #bbb;
        }
    }
}

@media (max-width: 768px) {
    .survey-ct{
        width: 100%;
    }
}