/**
 *
 * Web booking css
 *
 *
**/ 
.web-book-container{
    padding: 50px 0;
}

.w-b-sidebar{
    margin-bottom: 30px;
}
.shop-inf{
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 15px;
    a{
        display: inline-block;
        img{
            width: 200px;
            height: 200px;
            margin-bottom: 30px;
        }
    }
    .shop-name{
        a{
            font-size: 24px;
        }
    }
}

.side-menu{
    p{
        font-size: 18px;
        font-weight: 600;
        color: #ddd;
        cursor: default;
        &.active{
            color: #000;
        }
    }
}

.w-b-content{
    // padding-top: 230px;
    padding-bottom: 50px;
}

// Service itm
.service-itm{
    margin-bottom: 30px;
    position: relative;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    p{
        font-size: 18px;
        font-weight: 600;
    }
    span{
        font-size: 14px;
    }
    .book-btn{
        position: absolute;
        top: 50%;
        .transform(translateY(-50%));
        right: 0px;
    }
}

// Select date time
.datepicker-wrap{
    position: relative;
    min-height: 25em;
    margin-bottom: 50px;
    .picker{
        min-height: 25em;
    }
    .picker__footer{
        display: none;
    }
    .picker--opened {
        .picker__holder{
            .box-shadow(none);
            min-height: 25em;
            border: none;
            overflow-y: unset;
            &:focus{
                .box-shadow(none);
                outline: none;
            }
        }
    }
    .picker__weekday{
        text-align: center;
        font-size: 14px;
        color: #000;
    }
    .picker__header{
        margin-bottom: 30px;
        .picker__month, .picker__year{
            font-size: 22px;
            font-style: normal;
            color: #000;
            font-weight: 600;
        }
    }
    .picker--focused{
        .picker__day--disabled{
            color: darken(#bbb, 10%);
        }
    } 
    .picker__day{
        font-weight: 600;
        padding: 12px;
        height: 72px;
        line-height: normal;
        text-align: left;
    }
    .picker__table{
        td{
            border: 1px solid #e9e9e9;
        }
    }
}

.work-hours{
    h3{
        font-weight: 600;
        margin-bottom: 15px;
    }
    .notes{
        span{
            font-weight: 600;
            display: inline-block;
            width: 125px;
        }
        a{
            color: #0089ec;
            font-weight: 600;
        }
    }
}

.work-hour-list{
    padding: 20px 0;
}

.work-hour-col{
    p{
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .work-h-itm{
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 2px;
        border: none;
        height: 32px;
        padding: 0 10px;
        color: #fff;
        background-color: #2996cc;
        .transition(all .4s ease);
        outline: none;
        &:hover{
            background-color: darken(#2996cc, 10%);
        }
        &.disabled{
            background-color: #bbb;
            pointer-events: none;
            cursor: default;
        }
    }
}

.client-inf{
    h3{
        font-weight: 600;
        margin-bottom: 15px;
    }
    p{
        font-size: 14px;
        margin-bottom: 30px;
    }
}
.client-frm{
    .appoint-ipt{
        width: 100%;
        margin-bottom: 15px;
    }
}

.service-selected, .date-selected {
    padding-left: 15px;
    font-size: 14px;
    span{
        display: block;
    }
    a{
        display: block;
        padding: 8px 0;
        color: #2996cc;
    }
}
.date-selected{
    .staff-book{
        font-weight: 600;
    }
}

.staff-avai{
    margin-bottom: 50px;
    h3{
        font-weight: 600;
        margin-bottom: 30px;
    }
}
.staff-a-itm{
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
    .staff-ava{
        width: 100px;
        float: left;
        img{
            width: 100px;
            height: 100px;
        }
    }
    .staff-dt{
        float: left;
        height: 100%;
        padding-top: 15px;
        width: ~'calc(100% - 100px)';
        padding-left: 15px;
        padding-right: 15px;
        p{
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.confirm-book{

}
.confirm-head{
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 30px;
    .ava{
        width: 100px;
        float: left;
        img{
            width: 100px;
            height: 100px;
        }
    }
    .inf{
        float: left;
        width: ~'calc(100% - 200px)';
        padding: 15px;
        p{
            font-size: 14px;
        }
    }
}

.confirm-date{
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 30px;
    p{
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 600;
    }
}
.confirm-dt{
    margin-bottom: 30px;
    .itm{
        margin-bottom: 30px;
        h3{
            margin-bottom: 15px;
            font-weight: 600;
        }
        p{
            font-size: 14px;
        }
    }
}

.confirm-btn{
    .appoint-btn{
        width: 100%;
        margin-bottom: 15px;
    }
}

.shop-info{
    font-size: 13px;
    a{
        color: #2996cc;
        display: inline-block;
        margin-top: 10px;
        &:hover{
            text-decoration: underline;
        }
    }
}

.w-b-inf-ct{
    // padding-top: 100px;
}
.shop-w-hour{
    p{
        font-size: 14px;
        .ttl{
            display: inline-block;
            width: 100px;
            font-weight: 600;
        }
    }
    strong{
        display: block;
        font-size: 14px;
        margin-bottom: 15px;
    }
    a{
        color: #fff;
    }
}

.w-ttl{
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 22px;
}

.w-b-our-staff{
    padding-top: 30px;
}