/*
 *
 * Footer css
 *
*/ 

.footer{
    background-color: #151524;
}

.footer-ct{
    padding: 40px 0;
}

.ft-logo{
    a{
        display: inline-block;
    }
    img{
        width: 80%;
    }
}

.ft-menu{
    li{
        a{
            display: inline-block;
            color: #fff;
            height: 32px;
            line-height: 32px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.follow-us{
    color: #fff;
    h3{
        height: 17px;
        font-size: 13px;
        margin-bottom: 24px;
        letter-spacing: 0.5px;
    }
    .social-ico{
        margin-bottom: 24px;
        a{
            display: inline-block;
            width: 36px;
            height: 36px;
            border: solid 1px #ffffff;
            line-height: 36px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            border-radius: 100%;
            margin-right: 20px;
            .transition(all 0.4s ease);
            &:hover{
                background-color: #fff;
                color: #333;
            }
        }
    }
    .copyright{
        font-size: 12px;
        letter-spacing: 0.4px;
        color: #fff;
    }
}

.question-blk{
    position: fixed;
    right: 50px;
    bottom: 100px;
    z-index: 500;
    .q-ct{
        position: relative;
        z-index: 500;
    }
    .shw-question{
        display: block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        background-color: #F69833;
        color: #fff;
        font-size: 24px;
        border-radius: 100%;
    }
}

.q-list{
    background-color: #fff;
    width: 352px;
    z-index: 500;
    position: fixed;
    right: 60px;
    bottom: 170px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #ddd;
    padding: 14px 0 0 0;
    display: none;
    &.shw{
        display: block;
    }
}

.q-l-ct{
    position: relative;
    p{
        border-bottom: 1px solid #ddd;
        padding: 0 16px 14px 16px;
        font-size: 13px;
        .ClanproBold();
        margin-bottom: 0;
    }
    .close-blk{
        position: absolute;
        z-index: 500;
        display: block;
        height: 24px;
        width: 50px;
        text-align: center;
        line-height: 24px;
        font-size: 18px;
        top: -38px;
        background-color: #fff;
        right: 18px;
        border: 1px solid #ddd;
        border-bottom: 1px solid #fff;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

.q-ul{
    height: 350px;
    overflow-y: auto;
    .q-itm{
        display: block;
        padding: 12px 16px 12px 56px;
        border-bottom: 1px solid #ddd;
        position: relative;
        &:before{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            .transform(translateY(-50%));
            left: 16px;
            width: 24px;
            height: 24px;
            background-image: url('../images/check.png');
            background-repeat: no-repeat;
            background-size: 24px 24px;
            background-position: top left;
        }
        &.selected{
            .ClanproBold();
            &:before{
                background-image: url('../images/checked.png');
            }
        }
    }
}

.q-ft-blk{
    position: relative;
    height: 56px;
    button{
        position: absolute;
        right: 16px;
        top: 50%;
        .transform(translateY(-50%));
        width: 88px;
        height: 32px;
        border-radius: 8px;
        display: block;
        color: #fff;
        line-height: 32px;
        text-align: center;
        background-color: #4789ff;
        border: none;
        i{
            margin-left: 10px;
            font-size: 16px;
        }
    }
}