/*
 *
 * Index - Hero css
 *
*/

.hero{
    background-image: url('../uploads/home/main-slider2.png');
    background-size: cover;
    height: 672px;
    // width: 100%;
    position: relative;
}

.main-slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 672px;
    .m-slide-itm{
        img{
            // height: 672px;
            width: 100%;
        }
    }
}
.content{
    width: 584px;
    margin: 0 auto;
    position: absolute;
    top: 35%;
    left: 50%;
    .transform(translateX(-50%));
    .img-logo{
        width: 275px;
        margin: 0 auto;
        margin-bottom: 18px;
        img{
            width: 100%;
        }
    }
    .ct-txt{
        color: #fff;
        font-size: 42px;
        line-height: 1.4;
        letter-spacing: -2px;
        margin-bottom: 44px;
        p{
            margin-bottom: 0;
        }
    }
    .link-btn{
        a{
            display: inline-block;
            width: 200px;
            height: 56px;
            border-radius: 6px;
            line-height: 56px;
            font-size: 16px;
            color: #ffffff;
            i{
                margin-right: 3px;
            }
        }
        .watch-clip{
            background-color: rgba(255, 255, 255, 0.1);
            border: solid 2px rgba(255, 255, 255, 0.11);
            margin-right: 16px;
        }
        .free-trial{
            background-color: #4789ff;
        }
    }
}

#intro-clip{
    .modal-dialog{
        width: 800px;
        margin: 50px auto;
    }
}

.slogan {
    margin-bottom: 15px;
    color: #fff;
    padding-top: 75px;
    h1{
        font-size: 60px;
        height: 76px;
        line-height: 76px;
        .Clanpro();
    }
    p{
        font-size: 60px;
        font-weight: 800;
    }
}

.main-contact{
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    width: 352px;

    .logo-blk{
        margin-bottom: 28px;
        text-align: center;
        img{
            width: 188px;
            height: 28px;
        }
    }

    .no-need{
        font-size: 16px;
        line-height: 1.75;
        font-weight: 600;
        margin-bottom: 8px;
        letter-spacing: -0.6px;
        text-align: center;
        color: #333333;
    }

    .drop-msg{
        font-size: 14px;
        letter-spacing: -0.5px;
        text-align: center;
        color: #8f8f9d;
        margin-bottom: 18px;
        display: block;
    }

    .form-control{
        border-radius: 6px;
        border: solid 1px #dcdcdc;
        box-shadow: none;
        height: 44px;
        outline: none;
        &:focus, &:active{
            box-shadow: none;
            border-color: #bbb;
        }
    }

    button {
        border-radius: 6px;
        background-color: #4789ff;
        display: block;
        outline: none;
        height: 44px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        width: 100%;
        border: none;
        .transition(all 0.4s ease);
        &:hover{
            background-color: darken(#4789ff, 10%);
        }
    }
}