/*
 *
 * How it work css
 *
*/ 

.ttl{
    h3{
        font-size: 28px;
        line-height: 1.46;
        letter-spacing: 0.4px;
        color: #242526;
        margin-bottom: 10px;
        margin-top: 0;
    }
    p{
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.5px;
        color: #888888;
    }
}
.how-it-work{
    padding: 65px 0 65px 0;
    .ttl{
        margin-bottom: 65px;
    }
}

.hiw-itm{
    margin-bottom: 30px;
    .blk-img-rght{
        width: 50%;
        float: left;
        margin-top: -26px;
        img{
            width: 100%;
        }
    }
    .blk-img-left{
        width: 50%;
        margin-top: 80px;
        float: left;
        img{
            width: 100%;
            // height: 634px;
        }
    }
    .itm-blk-ttl{
        font-size: 22px;
        line-height: 1.86;
        letter-spacing: 0.3px;
        text-align: center;
        color: #4789ff;
    }
    
}
.first-blk{
    padding-top: 240px;
}
.second-blk{
    padding-left: 160px;
    padding-top: 90px;
}
.itm-desc{
    width: 50%;

    .desc-itm{
        width: 512px;
        position: relative;
        &:before{
            content: '';
            width: 2px;
            height: 100%;
            display: block;
            background-color: #e4e4e7;
            top: 25px;
            left: 16px;
            position: absolute;
        }
        .numb{
            position: absolute;
            display: block;
            width: 32px;
            height: 32px;
            background-color: #ffffff;
            border: solid 2px #e4e4e7;
            border-radius: 100%;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            color: #333333;
            font-weight: 700;
            top: 5px;
            z-index: 100;
        }
        .title{
            font-size: 18px;
            line-height: 2.28;
            letter-spacing: 0.2px;
            color: #242526;
            padding-left: 60px;
        }
        .desc-ct{
            padding-left: 60px;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.2px;
            color: #8f8f9d;
        }
        &:last-child{
            &:before{
                display: none;
            }
        }
    }
}

/*
 *
 * Satisfy client css
 *
*/ 

.satify-client, .how-do-it{
    background-color: #fafafa;
    padding: 65px 0 65px 0;
    .ttl{
        margin-bottom: 65px;
    }
}
.client-slick{
    margin-bottom: 80px;
}
.slide-itm{
    outline: none;
    cursor: pointer;
    img{
        width: 96px;
        margin: 0 auto;
        filter: grayscale(100%);
    }
    &.slick-current{
        img{
            filter: grayscale(0%);
        }
    }
}
.slide-cmt-itm{
    outline: none;
}
.s-cmt-ct{
    width: 944px;
    margin: 0 auto;
    color: #43484c;
    p {
        font-size: 24px;
        line-height: 1.92;
        &.cmt-txt{
            margin-bottom: 30px;
        }
    }
    .author{
        .author-name{
            display: block;
            font-size: 16px;
            line-height: 1.56;
            color: #43484d;
        }
        .author-pos{
            font-size: 14px;
            line-height: 1.79;
            color: #888888;
            display: block;
        }
    }
}

/*
 *
 * How we do it css
 *
*/ 

.how-do-it{
    background-color: #fff;
    .ttl{
        h3{
            margin-bottom: 60px;
        }
    }
}

.h-d-itm{
    .img{
        img{
            width: 100%;
            border-radius: 10px;
        }
    }
    .ct{
        padding: 40px;
        h3{
            font-size: 23px;
            line-height: 1.78;
            letter-spacing: 0.3px;
            color: #242526;
            height: 41px;
            margin-bottom: 10px;
        }
        p{
            width: 456px;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.2px;
            color: #242526;
            margin-bottom: 12px;
        }
        a{
            display: block;
            width: 160px;
            height: 32px;
            border-radius: 8px;
            background-color: #4789ff;
            color: #fff;
            text-align: center;
            line-height: 32px;
            .transition(all 0.4s ease);
            &:hover{
                background-color: darken(#4789ff, 10%);
            }
        }
    }
}

.how-do-slide{
    .slick-list{
        margin-top: 100px;
        z-index: 200;
    }
    .slick-dots{
        bottom: 0;
        top: 0;
        li{
            width: 40px;
            height: 40px;
            margin: 0 15px;
            button{
                .transition(all 0.4s ease);
                width: 40px;
                height: 40px;
                background-color: #4789ff;
                border-radius: 100%;
                display: block;
                font-size: 16px;
                letter-spacing: 0.2px;
                text-align: center;
                color: #ffffff;
                &:before{
                    display: none;
                }
            }
            &.slick-active{
                button{
                    background-color: darken(#4789ff, 15%);
                }
            }
        }
    }
}


/*
 *
 * Ads css
 *
*/ 
.ads-blk{
    background-image: url('../images/ft-bg.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
    height: 488px;
    width: 100%;
    position: relative;
    .ads-ct{
        width: 603px;
        position: absolute;
        left: 50%;
        top: 50%;
        .transform(translate(-50%, -50%));
        color: #fff;
        p{
            opacity: 0.6;
            font-size: 18px;
            line-height: 1;
            margin-bottom: 24px;
        }
        h3{
            span{
                display: block;
                font-size: 47px;
                line-height: 1.23;
                margin-bottom: 5px;
                letter-spacing: -1.8px;
            }
            .bonus{
                font-size: 80px;
                letter-spacing: -3.1px;
                height: 102px;
                margin-bottom: 23px;
                line-height: 102px;
            }
        }
        a{
            display: block;
            width: 200px;
            height: 56px;
            border-radius: 6px;
            color: #fff;
            font-size: 16px;
            line-height: 56px;
            margin: 0 auto;
            background-color: #4789ff;
            .transition(all 0.4s ease);
            &:hover{
                background-color: darken(#4789ff, 10%);
            }
        }
    }
}


/*
 *
 * Video block css
 *
*/ 

.video-blk{
    margin: 65px 0;
    position: relative;
    height: 317px;
    &:after{
        content: '';
        height: 317px;
        width: 1px;
        background-color: #fff;
        display: block;
        position: absolute;
        left: 50%;
    }
    &:before{
        content: '';
        display: block;
        background-image: url('../uploads/home/logo.png');
        background-repeat: no-repeat;
        width: 64px;
        height: 64px;
        background-size: cover;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 100;
        .transform(translate(-50%, -50%));
    }
    .v-itm{
        width: 50%;
        position: relative;
        float: left;
        img{
            width: 100%;
            height: 317px;
        }
        a{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            .transform(translate(-50%, -50%));
            width: 88px;
            height: 88px;
            border: 2px solid #fff;
            border-radius: 100%;
            text-align: center;
            line-height: 88px;
            color: #fff;
            font-size: 44px;
        }
    }
    .caption{
        font-size: 22px;
        letter-spacing: 0.3px;
        text-align: left;
        color: #ffffff;
        position: absolute;
        bottom: 30px;
        &.left{
            left: 30px;
        }
        &.right {
            right: 30px;
        }
    }
}


/*
 *
 * Testimonial css
 *
*/ 
.testimonial-blk{
    background-color: #f8f9fa;
    padding: 70px 0;
}
.test-slider{
    margin-top: 50px;
}
.t-itm{
    .t-img{
        text-align: center;
        margin-bottom: 15px;
        img{
            width: 88px !important;
            height: 88px;
            display: block;
            border-radius: 100%;
            margin: 0 auto;
        }
    }
    .t-name{
        p{
            font-size: 14px;
            color: #161616;
            font-weight: 700;
        }
    }

    .t-ct{
        border-radius: 8px;
        background-color: #ffffff;
        padding: 18px 24px;
        p{
            font-size: 13px;
            line-height: 1.85;
            letter-spacing: 0.2px;
            color: #333333;
        }
    }
}

.video-test{
    text-align: center;
    position: relative;
    height: 450px;
    width: 100%;
    video{
        width: 70% !important;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
        z-index: 20;
    }
    .play-test{
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        .transform(translate(-50%, -50%));
        width: 88px;
        height: 88px;
        border: 2px solid #fff;
        border-radius: 100%;
        text-align: center;
        line-height: 88px;
        color: #fff;
        font-size: 44px;
        z-index: 50;
    }
}

// Owl carousel dots
.owl-dots{
    text-align: center;
    margin-top: 24px;
}
.owl-dot {
    display: inline-block;
    margin: 0 6px;
    span{
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #cdd4e1;
    }
    &.active{
        span {
            background-color: #4789ff;
        }
    }
}


/*
 *
 * Help block css
 *
*/ 
.helping-blk{
    padding: 70px 0;
    .help-list{
        margin-top: 50px;
    }
    .help-img{
        position: relative;
        margin-bottom: 20px;
        img{
            width: 100%;
            height: 234px;
        }
        a{
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            .transform(translate(-50%, -50%));
            width: 88px;
            height: 88px;
            border: 2px solid #fff;
            border-radius: 100%;
            text-align: center;
            line-height: 88px;
            color: #fff;
            font-size: 44px;
        }
    }
    .help-ttl{
        h3{
            font-size: 14px;
            font-weight: 700;
            line-height: 1.71;
            letter-spacing: 0.2px;
            color: #333333;
            margin-bottom: 15px;
        }
    }
    .help-txt{
        p{
            font-size: 13px;
            line-height: 1.85;
            letter-spacing: 0.2px;
            color: #333333;
        }
    }
}


/*
 *
 * Contact block css
 *
*/ 
.contact-blk{
    background-image: url('../uploads/home/contact-bg.png');
    background-repeat: no-repeat;
    min-height: 620px;
    background-size: cover;
    padding: 50px 0;
    .contact-logo{
        margin-bottom: 30px;
        img{
            width: 164px;
        }
    }

    h3{
        font-size: 26px;
        line-height: 1.54;
        letter-spacing: -1px;
        color: #ffffff;
        width: 544px;
        margin: 0 auto 20px auto;
    }

    p{
        font-size: 16px;
        letter-spacing: -0.6px;
        color: #ffffff;
        margin-bottom: 20px;
    }

    .contact-frm{
        width: 544px;
        margin: 0 auto;
        margin-bottom: 15px;
        padding: 16px;
        border-radius: 8px;
        background-color: #ffffff;
        .form-control{
            border-radius: 0;
            box-shadow: inset 0 -1px 0 0 rgba(53, 54, 74, 0.07);
            border: none;
            // border-bottom: 1px solid #ddd;
        }
        .form-group{
            &:last-child{
                .form-control{
                    border-bottom: none;
                    box-shadow: none;
                }
            }
        }
    }
    .submit-frm-btn{
        width: 224px;
        height: 44px;
        margin: 0 auto;
        button{
            background-color: #4789ff;
            color: #fff;
            display: block;
            width: 100%;
            height: 44px;
            border: none;
            border-radius: 8px;
            .transition(all 0.4s ease);
            font-size: 15px;
            &:hover{
                background-color: darken(#4789ff, 10%);
            }
        }
    }
}

.modal-content{
    .close-modal{
        position: absolute;
        display: block;
        border-radius: 100%;
        background-color: #fff;
        color: #4789ff;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        outline: none;
        right: -15px;
        top: -15px;
        z-index: 99999;
        font-size: 18px;
    }
}
