/*
 *
 * Responsive max 1280px
 *
*/

@media (max-width: 1024px){
    .setting-blk{
        right: 15px;
    }
    .responsvie-btn{
        display: block;
    }
    .main-menu{
        // display: none;
        left: -208px;
        .transition(all 0.4s ease);
        .box-shadow(0px 2px 2px 0px rgba(0, 0, 0, .7));
        background-color: #fff;
        &.shw{
            left: 0;
        }
    }
    .main-content{
        margin-left: 0;
        padding: 20px 15px;
    }
    .content-head{
        margin-bottom: 15px;
        margin-top: 0;
    }
    .member-head {
        height: auto;
        margin-bottom: 15px;
        h1{
            float: none !important;
            margin-bottom: 10px;
        }
        .filter{
            float: none !important;
            width: 100%;
            .filter-slt{
                margin-left: 0;
                margin-right: 15px;
                margin-bottom: 15px;
            }
            .search{
                float: none !important;
                margin-left: 0;
            }
        }
    }
} 

@media (max-width: 990px){
    .col-r-ct{
        width: 100%;
        height: auto;
        float: none;
        margin-top: 50px;
    }
    .iphone-blk {
        .iphone-ct{
            width: 208px;
            left: 255px;
        }
    }
}

@media (max-width: 860px){
    .total-delivered , .redeem-col {
        margin-bottom: 10px;
    }

    .cus-tb {
        .tb-btn{
            width: 80px;
            padding: 0 5px;
        }
    }
}

@media (max-width: 540px){
    .cre-pro-modal{
        padding-top: 30px;
    }
    .n-pro-head{
        height: auto;
        line-height: normal;
        h1{
            float: none !important;
            width: 350px;
            line-height: normal;
            font-size: 30px;
        }
        .cre-head-right{
            float: none !important;
        }
    }

    .iphone-blk {
        .iphone-ct{
            width: 208px;
            left: 150px;
        }
    }

    .review-modal {
        .modal-head {
            .close-modal{
                top: 15px;
                right: 15px;
            }
        }
        .ava{
            float: none;
            margin-bottom: 15px;
        }
        .head-info {
            float: none;
            width: auto;
            padding: 0 15px;
        }
    }

    .r-head {
        .ava{
            float: none;
            margin-bottom: 15px;
        }
        .head-inf{
            width: auto;
            float: none;
        }
    }

    // Web booking
    .web-book-container{
        width: 100%;
        padding: 0 15px;
    }
    .shop-inf{
        .avatar{
            padding-top: 30px; 
            text-align: center;
        }
        a{
            img{
                width: 100px;
                height: 100px;
            }
        }
    }
    .shop-name{
        text-align: center;
    }

    .confirm-head {
        padding-top: 30px;
        .ava{
            float: none;
            width: 100%;
            text-align: center;
        }
        .inf{
            width: 100%;
            float: none;
            text-align: center;
        }
    }
    .shop-info{
        text-align: center;
    }
    .shop-w-hour{
        border-bottom: 1px solid #ccc;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px){
    .member-head {
        .filter{
            .filter-slt{
                width: 100% !important;
                margin-left: 0;
                margin-right: 0px;
                margin-bottom: 15px;
            }
            .search{
                float: none !important;
                margin-left: 0;
                width: 100% !important;
            }
        }
    }
    .filter{
        width: 100%;
        float: left !important;
        margin-bottom: 10px;
        .search{
            float: left;
            margin-left: 0;
            width: 100%;
        }
    }

    .range{
        .range-itm{
            height: 28px;
            span{
                display: none;
                width: 28px;
                height: 28px;
            }
            &.range-risk{
                width: 25%;
                background-color: rgb(240, 173, 78);
            }
            &.range-new{
                width: 14%;
                background-color: #33b636;
            }
            &.range-regular{
                width: 16%;
                background-color: #3a7bff;
            }
            &.range-normal{
                width: 20%;
                background-color: #848fa1;
            }
        }
    }

    // Appointment menu
    .appoint-tab {
        height: auto;
        h1{
            position: static;
            margin-top: 15px;
        }
    }
    .tab-list{
        float: none;
        li{
            a{
                padding: 0 15px;
            }
        }
    }
    .search-frm {
        .appoint-ipt{
            width: 100%;
            min-width: 100%;
        }
        button {
            left: auto;
            right: 0;
        }
    }
    .create-service-modal, .create-staff-modal{
        width: 100%;
    }
    .manage-staff-hour{
        overflow-y: auto;
        width: 400px;
        height: 400px;
        .hour-itm {
            .set-time{
                width: 100%;
            }
            .day-chk{
                padding-left: 15px;
            }
        }
    }
}

@media (max-width: 380px){
    .content-head {
        height: auto;
        h1, .create-nw{
            float: none !important;
        }
    }

    .cre-head-right{
        .close-c-modal {
            height: 25px;
            width: 25px;
            line-height: 24px;
            .transform(none);
            top: -25px;
            right: 15px;
        }
    }

    .iphone-blk {
        .iphone-ct{
            width: 208px;
            left: 70px;
        }
    }

    .lim-txt{
        position: static;
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 320px){
    .date-picker{
        .col-xs-6{
            width: 100%;
        }
    }
    .pick-blk {
        width: 100%;
        margin-bottom: 10px;
        input{
            width: 100%;
        }
    }

    .n-pro-head{
        h1{
            width: auto;
        }
    }

    // Appointment menu
    .appoint-h-itm, .h-itm-ct .h-itm-half, .search-staff, .search-service, .create-service{
        width: 100%;
    }
    .h-itm-ct{
        min-height: 145px;
        height: auto;
        .h-itm-half{
            margin-bottom: 10px;
            text-align: center;
        }
    }

    .create-service{
        text-align: left;
        margin-top: 15px;
        button{
            width: 100%;
        }
    }

    .manage-staff-hour{
        overflow-y: auto;
        width: 300px;
        height: 400px;
        .set-time {
            .from{
                margin-bottom: 10px;
            }
        }
        .set-time .from, .set-time .to {
            width: 100%;
            padding: 0;
        }
        .hour-itm {
            .day-chk{
                padding-left: 0px;
            }
        }
    }
    
}