/*
 *
 * Responsive max-width: 520px
 *
*/ 

@media (max-width: 520px) {
    // Main menu
    .menu-responsive{
        display: block;
    }
    .menu-lst{
        padding-top: 12px;
        width: 50%;
    }
    .menu {
        display: none;
        position: fixed;
        width: 100%;
        z-index: 850;
        left: 0;
        background-color: #333;
        li{
            display: block;
            padding: 10px 0;
        }
        .menu-itm{
            &.trial{
                margin: 10px auto;
            }
        }
        &.shw{
            display: block;
        }
    }

    .menu-logo {
        width: 50%;
    }

    // Main - hero block
    .content{
        width: 100%;
        .ct-txt{
            font-size: 28px;
            padding: 0 30px;
        }
    }

    // Footer - ads block
    .ads-blk {
        .ads-ct{
            width: 100%;
            p{
                padding: 0 40px;
                line-height: 1.4;
            }
        }
    }

    // Main - how we do it block
    .how-do-it{
        padding: 65px 0 30px 0;
    }
    .h-d-itm {
        .col-xs-6{
            width: 100%;
        }
        .img{
            margin-bottom: 30px;
        }
        .ct {
            h3{
                line-height: 1.4;
                font-size: 20px;
            }
            p{
                width: 100%;
            }
        }
    }

    // Footer
    .ft-col{
        width: 100%;
        text-align: center;
        .ft-menu, .ft-logo{
            margin-bottom: 25px;
        }
    }

    // Intro clip
    #intro-clip{
        .modal-dialog{
            width: 480px;
        }
    }
}

@media (max-width: 480px) {
    // Intro clip
    #intro-clip{
        .modal-dialog{
            width: 380px;
        }
    }
}

@media (max-width: 380px) {
    // Main - hero block
    .content {
        .link-btn {
            a{
                margin-bottom: 15px;
            }
            .watch-clip{
                margin-right: 0;
            }
        }
    }

    // Main - how it work block
    .hw-it-wrk{
        [class*="col"] {
            width: 100%;
        }
        .hw-wrk-itm{
            margin-bottom: 20px;
            padding: 5px 0;
        }
    }

    .s-cmt-ct {
        p{
            font-size: 18px;
        }
    }

    .question-blk{
        right: 10px;
    }
    .q-list{
        right: 10px;
        width: 280px;
    }

    // Intro clip
    #intro-clip{
        .modal-dialog{
            width: 300px;
        }
    }
}