/**
 * Media 1200px+
 *
 * description: css rules for screen of desktop
 */
@media (max-width: 1670px){
    // Machine view header
    .mc-header{
        .ttl-left{
            margin-bottom: 30px;
        }
        .ttl-right{
            float: left !important;
        }
    }

    .mc-noti{
        margin-bottom: 30px;
        ul{
            float: left;
        }
    }
}

@media (max-width: 1440px){
    // Tiles page
    .tiles-wrap{
        .tile-itm{
            width: 33.33%;
        }
    }

    // Notify head
    .notify-ct{
        .scroll-noti{
            max-height: 400px;
        }
    }

     &.no-height{
        .scroll-noti{
            height: auto !important;
        }
    }
}

@media (max-width: 1300px) {
    .margin-lft {
        margin-left: 0;
    }
    // login page
    .text{
        h1{
            width: 600px;
            img{
                width: 100%;
            }
        }
    }

    // navigation
    .navigation{
        display: block;
        height: 64px;
        .box-shadow(0px 2px 2px 0px rgba(0,0,0, 0.2));
        &.show-menu{
            height: 100%;
            .nav-menu{
                display: block;
            }
        }
        .nav-menu{
            display: none;
        }
    }

    // header
    .header{
        margin-left: 64px;
        .togle-menu{
            a{
                &.toggle-btn{
                    display: block;
                }
            }
        }
    }

    //  Custom tab
    .nav-tabs{
        >li{
            >a{
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }

    // Machine view
    // Station tab
    .st-trend, .st-top-10{
        width: 100%;
    }
    .drawing-opt{
        right: 0px;
    }

    // Noti tab
    .noti-lst{
        li{
            a{
                font-size: 11px;
                padding: 15px 5px;
            }
        }
    }
}

@media (max-width: 1280px){
    // Machine station tab
    .station-tab
    {
        .w-full{
            // width: 100%;
        }
        .station-lst{
            width: 90%;
            float: right;
        }
    }

    .overview-tab{
        .w-full{
            width: 100%;
        }
        .w-half{
            width: 50%;
        }
    }

    // Noti tab
    .notification-tab{
        .col-md-2{
            width: 25%;
        }
        .col-md-10{
            width: 75%;
        }
    }

    // Notify header
    .notify-ct{
        .scroll-noti{
            height: 450px;
        }
    }

     &.no-height{
        .scroll-noti{
            height: auto !important;
        }
    }

    .n-record-td {
        .n-record-btn {
            a{
                position: static;
                display: block;
                &.btn-default{
                    margin-bottom: 15px;
                }
            }
        }
    }

    .manage-header{
        padding: 15px;
    }
    .k-h{
        margin-bottom: 30px;
    }

    // Grid tile full screen
    .tile-full-scr{
        .tile-itm{
            width: 50%;
        }
        .oee-full-scr{
            left: 25%;
            span{
                top: 12px;
                right: -36px;
                &:last-child{
                    top: 30px;
                    right: -24px
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    // login page
    .login-page{
        .text{
            padding-left: 30px;
            h1{
                width: 550px;
            }
        }
    }

    // content header
    .content-header {
        .title {
            .search-frm{
                width: 400px;
            }
        }
    }
    
    // Machine view header
    .ttl-right{
        .ttl-ipt{
            margin-right: 15px;
        }
    }

    // Machine view tab
    .station-tab{
        .w-full{
            width: 100%;
        }
        .r-st-lst{
            display: none;
            /*width: 0;
            .opacity(0);
            visibility: hidden;*/
            &.station-shw{
                display: block;
                width: 370px;
                /*.opacity(1);
                visibility: visible;*/
                z-index: 100;
                position: absolute;
                right: -15px;
                top: 55px;
                .station-lst{
                    width: 100%;
                }
            }
        }
    }
    .machine-drawing{
        .drawing-opt{
            width: 55px;
            height: 180px;
            right: 5px;
            z-index: 50;
            a{
                border-left: none;
                border-right: none;
                border-bottom: 1px solid #ddd;
                &:last-child{
                    border-bottom: none;
                }
            }
        }
        .open-st-lst{
            display: inline-block;
        }
    }

    .station-lst{
        >h2{
            .st-close{
                display: block;
            }
        }
    }
    
}

@media (max-width: 1170px){
    // Machine view header canvas
    .chrt-itm{
        padding-top: 40px;
        canvas{
            width: 160px;
            height: 160px;
        }
        .oee{
            p{
                margin-bottom: 0;
                span{
                    &:first-child{
                        right: 50%;
                        .transform(translateX(50%));
                    }
                }
            }
        }
    }
    .chrt-itm{
        &.big{
            padding-top: 15px !important;
            width: 200px;
            canvas{
                width: 200px;
                height: 200px;
            }
            .oee{
                top: 33%;
                left: 42%;
                p{
                    font-size: 50px;
                    span{
                        &:first-child{
                            font-size: 16px;
                            top: 12px;
                            right: -18px;
                        }
                        &:last-child{
                            font-size: 20px;
                            top: 28px;
                            right: -20px;
                        }
                    }
                }
            }
        }
    }

    // machine view header
    .ttl-right {
        .time-picker{
            width: 100%;
            margin-bottom: 15px;
        }
    }
    .ttl-range {
        p {
            span{
                &:first-child{
                    margin-left: 15px;
                }
            }
        }
    }

    // Table responsive
    .c-tb-th{
        .table-cus{
            th{
                span{
                    i{
                        display: block;
                    }
                }
            }
        }
    }

    // Admin manage user
    .m-ttl, .u-search-frm{
        width: 50%;
    }
}

@media (max-width: 1024px){
    // login page
    .text{
        h1{
            width: 450px;
        }
        p{
            width: 450px;
            font-size: 14px;
        }
    }
    .login-frm{
        width: 340px;
        &:after{
            width: 340px;
        }
        .login-ct{
            .btn-login{
                padding: 10px 12px;
            }
        }
    }

    // tiles page
    .tiles-wrap{
        .tile-itm{
            width: 50%;
        }
    }

    //  Custom tab
    .nav-tabs{
        >li{
            >a{
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }

    // Admin manage user
    .m-ttl, .u-search-frm{
        width: 100%;
    }
    .m-ttl{
        margin-bottom: 30px;
    }
    .u-search-frm{
        .filter-user{
            text-align: left;
        }
    }
    .client-search{
        float: left !important;
    }
}

@media (max-width: 990px){
    .notification-tab{
        .col-md-2{
            width: 100%;
        }
        .col-md-10{
            width: 100%;
        }
    }
    .noti-type{
        margin-bottom: 30px;
        border-bottom: 1px solid #ddd;
        padding-bottom: 30px;
        padding-top: 0px;
    }
    
    // Admin manage user
    .u-search-frm{
        .col-md-6{
            width: 50%;
        }
    }
    .user-tb{
        .col-eq{
            width: 25%;
        }
        .col-sm{
            width: 5%;
        }
        .t-hide{
            display: none;
        }
        td{
            .expand-tr{
                display: inline-block;
            }
        }
        tr{
            &.active{
                display: table-row;
            }
        }
    }

    .define-st-blk{
        .warn-itm{
            .col-xs-12{
                width: 100%;
            }
            .attr-btn-blk{
                margin-bottom: 15px;
            }
        }
    }

    .key-header{
        .k-h{
            margin-bottom: 30px;
        }
        .k-act{
            text-align: left;
            a{
                margin-left: 0;
                margin-right: 15px;
            }
        }
    }
}