/**
 * Media 480px-
 *
 * description: css rules for screen of old school smartphone
 */
@media (max-width: 480px) {
    //login page
    .login-page{
        background-image: none;
        background-color: #000000;
    }
    .login-frm{
        &:after{
            opacity: 1;
        }
        .logo{
            width: 250px;
        }
    }

    // header
    .header{
        .usr-account {
            .usr-name{
                padding-left: 15px;
                padding-right: 15px;
                .usr-status{
                    left: 48px;
                }
                img{
                    margin-right: 0;
                }
                span{
                    display: none;
                }
            }
            .usr-menu{
                ul{
                    li{
                        a{
                            padding: 10px 5px;
                            font-size: 12px;
                            i{
                                width: 15px;
                                height: 15px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}