/*
 *
 * Blog css
 *
*/ 

.h-ttl{
    padding: 40px 0;
    h1{
        margin: 0;
        font-size: 32px;
        .ClanproBold();
    }
}
.blog-itm{
    margin-bottom: 30px;
    a{
        display: block;
        color: #333;
    }
    .blog-img{
        img{
            width: 100%;
            height: 272px;
        }
    }
    .blog-inner{
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.09);
    }
}

.blog-content{
    background-color: #fff;
    padding: 24px;
    min-height: 290px;
    h3{
        font-size: 16px;
        line-height: 1.63;
        margin-bottom: 10px;
        margin-top: 0;
        font-weight: bold;
    }
    .date-post{
        font-size: 13px;
        line-height: 1.54;
        color: #888888;
        display: block;
        margin-bottom: 10px;
    }
    p{
        font-size: 13px;
        line-height: 1.54;
    }
}

.more{
    margin-bottom: 64px;
    button{
        display: block;
        width: 200px;
        height: 56px;
        border-radius: 6px;
        background-color: #4789ff;
        line-height: 56px;
        color: #fff;
        border: none;
        margin: 0 auto;
        font-size: 16px;
        .transition(all 0.4s ease);
        &:hover{
            background-color: darken(#4789ff, 10%);
        }
    }
}

/*
 *
 * Blog detail css
 *
*/ 

.blog-detail{
    padding: 50px 0 100px 0;
    .blog-ttl{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .date-post{
        font-size: 13px;
        line-height: 1.54;
        color: #888888;
        display: block;
        margin-bottom: 20px;
    }
    img{
        width: 100%;
        margin-bottom: 30px;
    }
    p{
        font-size: 13px;
        line-height: 1.54;
        margin-bottom: 20px;
    }
}