/**
 * Base settings
 *
 * Description: fast setting for bootstrap and rules. Use to store variable that use in <selectors> and <mixins>
 */


//** ------ {{ color and cusotmiaztion variables }} ------------------------------------
//** application color table
@blue : #005aff;
@yellow : #ffe44d;
@green : #1cc861;
@red: #e81a3c;
@l_dark : #181c26;
@dark : #11141c;

//** ------ {{ variable settings }} ------------------------------------
//
// note: uncomment to apply/edit new rules
//

//** ------ {{ font setting }} ------------------------------------

.fontAwesome {
    font-family: 'Fontawesome';
}

//** ------ {{ bootstrap components }} ------------------------------------ */
//
// note: uncomment to include new components
//

// End bootstrap

@import "bootstrap/labels.less";
@import "bootstrap/close.less";


@font-face {
  font-family: 'ClanPro-Book';
  src: url("../fonts/ClanPro-Book.otf");
}

@font-face{
    font-family: 'ClanPro-Book-Bold';
    src: url('../fonts/ClanPro-Medium.otf');
}

@font-face{
    font-family: 'ClanPro-Book-New';
    src: url("../fonts/ClanPro-News.otf");
}

.Clanpro(){
    font-family: 'ClanPro-Book';
}
.ClanproBold(){
    font-family: 'ClanPro-Book-Bold';
}
.ClanproNew(){
    font-family: 'ClanPro-Book-New';
}