<div class="login-content">
  <div class="container">
    <div class="login-frm">
      <!-- <h1 class="text-center">GoChekin</h1> -->
      <h1 class="text-center logo-img">
        <img src="assets/img/login-logo.png" alt />
      </h1>
      <form [formGroup]="loginFrm" *ngIf="loginFrm">
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Domain"
                    [formControl]="loginFrm.controls['domain']"
                    [class.err]="loginFrm.controls['domain'].touched && !loginFrm.controls['domain'].valid"/>
              <span class="err-msg text-danger"
                    *ngIf="loginFrm.controls['domain'].hasError('whitespace')"
                    [class.shw]="loginFrm.controls['domain'].touched && !loginFrm.controls['domain'].valid">This field is required</span>
            </div>
          </div>
          <div class="col-md-6 col-xs-12">
            <div class="form-group">
              <input class="form-control" type="text" readonly value=".go-checkin.com" [formControl]="loginFrm.controls['subdomain']"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Username"
                 [formControl]="loginFrm.controls['username']"
                 [class.err]="loginFrm.controls['username'].touched && !loginFrm.controls['username'].valid"/>
          <span class="err-msg text-danger"
                *ngIf="loginFrm.controls['username'].hasError('whitespace')"
                [class.shw]="loginFrm.controls['username'].touched && !loginFrm.controls['username'].valid">This field is required</span>
        </div>
        <div class="form-group">
          <input class="form-control" type="password" placeholder="Password"
                 [formControl]="loginFrm.controls['password']"
                 [class.err]="loginFrm.controls['password'].touched && !loginFrm.controls['password'].valid"/>
          <span class="err-msg text-danger"
                *ngIf="loginFrm.controls['password'].hasError('whitespace')"
                [class.shw]="loginFrm.controls['password'].touched && !loginFrm.controls['password'].valid">This field is required</span>
        </div>
        <button class="login-btn" (click)="submitLogin($event, loginFrm.value)">Login</button>
      </form>

      <p *ngIf="loginStatus" class="text-danger">{{loginStatus}}</p>
    </div>
    <!-- End login form -->

  </div>
</div>
