<sidebar-block></sidebar-block>

<toas [option]="option" [isShow]="isShow"></toas>

<div class="checkout-content">
  <div class="container-fluid">
    <div class="ttl clearfix">
      <h1 class="pull-left">Checkout</h1>
      <div class="ttl-filter pull-right">
        <select (change)="filterList($event, '')">
          <option value="">All members</option>
          <option value="vip">Vip</option>
          <option value="regular">Regular</option>
          <option value="new">New</option>
          <option value="normal">Normal</option>
        </select>
        <div class="srch-box">
          <form [formGroup]="frmSearch" *ngIf="frmSearch">
            <input type="text" placeholder="Search by name or phone" [formControl]="frmSearch.controls['searchTxt']" class="ipt search-ipt"
            />
            <button (click)="search($event, frmSearch.value)">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <table class="table cus-tb checkout-tb" *ngIf="checkinList">
    <tr>
      <th class="text-uppercase text-center col-id" style="width: 5%;" (click)="sortCol($event, 'id')">
        No.
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="text-uppercase col-name" style="width: 25%;" (click)="sortCol($event, 'name')">
        Name
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="text-uppercase" style="width: 10%;">
        Last reviewed
      </th>
      <th class="text-uppercase text-center col-checkintime" style="width: 10%;" (click)="sortCol($event, 'checkintime')">
        Check in time
        <i class="fa fa-caret-down"></i>
      </th>
      <th *ngIf="isServ" class="text-uppercase" style="width: 20%;">Services</th>
      <th *ngIf="isAppoint" class="text-uppercase text-center col-appointment" style="width: 10%;" (click)="sortCol($event, 'appointment')">
        Appointment
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="text-uppercase text-center col-point" (click)="sortCol($event, 'point')" style="width: 5%;">
        Current points
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="text-uppercase text-center col-mem-type" (click)="sortCol($event, 'mem-type')" style="width: 10%;">
        Member type
        <i class="fa fa-caret-down"></i>
      </th>
      <th class="text-uppercase text-center col-tag" style="width: 5%;" (click)="sortCol($event, 'tag')">
        Tag
        <i class="fa fa-caret-down"></i>
      </th>
    </tr>

    <tr *ngIf="dataStatus.text">
      <td colspan="7" class="text-center">
        <span class="no-data {{dataStatus.class}}">{{dataStatus.text}}</span>
      </td>
    </tr>
    <tr *ngFor="let itm of checkinList">
      <td class="text-center" (click)="showInfo($event, itm.id)">{{itm.id}}</td>
      <td>
        <div class="td-info" (click)="showInfo($event, itm.id)">
          <div class="ava-img">
            <img class="img-circle img-responsive" src="{{itm.customerInfo.customerImg}}" *ngIf="itm.customerInfo.customerImg" />
            <ngx-avatar name="{{itm.customerInfo.name}}" *ngIf="itm.customerInfo.customerImg == ''"></ngx-avatar>
          </div>
          <p class="usr-name">{{itm.customerInfo.name}}</p>
          <p class="usr-phone">
            <i class="fa fa-phone"></i>
            {{itm.customerInfo.maskPhone}}
          </p>
        </div>
      </td>
      <td (click)="showInfo($event, itm.id)">
        <p class="rate-blk">
          <span innerHtml="{{itm.customerInfo.lastReviewStarRender}}"></span>
          <span class="date-reviewed"> {{itm.customerInfo.lastReviewDate}}</span>
        </p>
        <p class="review-note">
          <span class="brief">{{itm.customerInfo.lastReviewContent}} </span>
          <span class="full hide">{{itm.customerInfo.full_review}} </span>
          <a href="javascript:;" *ngIf="itm.customerInfo.full_review" (click)="viewMore($event, itm.id)">view more</a>
        </p>
      </td>
      <td class="text-center" (click)="showInfo($event, itm.id)">
        <p>{{itm.createAtTime}}</p>
        <p>{{itm.createAtDate}}</p>
      </td>
      <td *ngIf="isServ">
        <span class="serv-itm" *ngFor="let serv of itm.serviceName; let i = index" [attr.data-full-name]="serv.name" (click)="showFullNameServ($event)"
          [attr.data-tmp-name]="serv.tmpName">{{serv.tmpName | uppercase}}</span>
      </td>
      <td *ngIf="isAppoint" class="text-center" (click)="showInfo($event, itm.id)">
        <p *ngIf="itm.start">{{itm.start}}</p>
        <p *ngIf="itm.start_date">{{itm.start_date}}</p>
      </td>
      <td class="text-center" (click)="showInfo($event, itm.id)">{{itm.customerInfo.point | number:'.0-0'}} Pts</td>
      <td class="text-center" (click)="showInfo($event, itm.id)">
        <span class="member-type {{itm.customerInfo.type}}">{{itm.customerInfo.type}}</span>
      </td>
      <td class="text-center" (click)="showInfo($event, itm.id)">
        <div class="tag {{itm.customerInfo.tag}}"></div>
      </td>
    </tr>
  </table>
</div>

<div class="modal fade" id="user-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" [ngClass]="{'two-col': checkout_feature == 0}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content cus-modal" *ngIf="userDetail">
      <div class="modal-body clearfix" [ngClass]="{sending: sending}">

        <div class="left-col">
          <div class="detail-head">
            <div class="ava-img">
              <img class="img-circle img-responsive" src="{{userDetail.customerInfo.customerImg}}" *ngIf="userDetail.customerInfo.customerImg"
              />
              <ngx-avatar name="{{userDetail.customerInfo.name}}" *ngIf="userDetail.customerInfo.customerImg == ''" size="80"></ngx-avatar>
            </div>
            <p class="usr-name">{{userDetail.customerInfo.name}}</p>
            <p class="usr-phone">
              <i class="fa fa-phone"></i> {{userDetail.customerInfo.maskPhone}}
            </p>
            <span class="member-type {{userDetail.customerInfo.type}}">{{userDetail.customerInfo.type}}</span>
            <div class="tag {{userDetail.customerInfo.tag}}"></div>
          </div>
          <div class="detail-body">
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <p>
                  Points
                  <span>{{userDetail.customerInfo.point | number:'.0-0'}} Pts</span>
                </p>
              </div>
              <div class="col-md-6 col-xs-12">
                <p>
                  Visit
                  <span>{{userDetail.customerInfo.numberCheckin}} times</span>
                </p>
              </div>
            </div>
            <p>
              Check in
              <span>{{userDetail.createAtTime}} {{userDetail.createAtDate}}</span>
            </p>
            <!-- <button *ngIf="userDetail.services.length != 0" class="appoint-btn del-btn" (click)="showServPopup($event)">View {{userDetail.services.length}} service(s)</button> -->
            <div class="service-popup">
              <p>Services list:</p>
              <ul class="cus-scroll">
                <li *ngFor="let serv of userDetail.services; let i = index">{{serv.name}}</li>
              </ul>
              <button class="appoint-btn del-btn pull-right" (click)="closeServPopup($event)">Close</button>
            </div>
          </div>
          <div class="note-frm">
            <form [formGroup]="noteFrm" *ngIf="noteFrm">
              <div class="form-group">
                <label>Note</label>
                <textarea class="ipt form-control" placeholder="Your note..." [formControl]="noteFrm.controls['note']"></textarea>
                <p *ngIf="noteStatus" class="text-success">{{noteStatus}}</p>
              </div>
              <div class="sub-div form-group clearfix">
                <!-- <button class="btn btn-default">Refresh</button> -->
                <button class="checkout-btn save-note pull-right" [ngClass]="{disabled: isSending}" (click)="saveNote($event, noteFrm.value, userDetail.customerInfo.phone)">Save</button>
              </div>
            </form>
          </div>
        </div>
        <!-- End left col -->

        <div class="checkout-frm" [ngClass]="{sending: sending}">
          <div class="calc-frm">
            <div class="form-group">
              <label>Total amount</label>
              <p type="text" placeholder="Enter total amount" class="ipt form-control total-amount">{{amountInput}}</p>
              <input type="hidden" placeholder="Enter total amount" class="ipt form-control hidden" [(ngModel)]="amountInput" (keypress)="$event.preventDefault()"
              />
              <span class="err-msg">This field is required</span>
              <span class="text-danger hide">Your point is not enough!</span>
            </div>

            <div class="numb-btn amount-btn">
              <div class="row">
                <div class="col-md-4">
                  <button value="1" (click)="clickAmount($event, '1')">1</button>
                </div>
                <div class="col-md-4">
                  <button value="2" (click)="clickAmount($event, '2')">2</button>
                </div>
                <div class="col-md-4">
                  <button value="3" (click)="clickAmount($event, '3')">3</button>
                </div>
                <div class="col-md-4">
                  <button value="4" (click)="clickAmount($event, '4')">4</button>
                </div>
                <div class="col-md-4">
                  <button value="5" (click)="clickAmount($event, '5')">5</button>
                </div>
                <div class="col-md-4">
                  <button value="6" (click)="clickAmount($event, '6')">6</button>
                </div>
                <div class="col-md-4">
                  <button value="7" (click)="clickAmount($event, '7')">7</button>
                </div>
                <div class="col-md-4">
                  <button value="8" (click)="clickAmount($event, '8')">8</button>
                </div>
                <div class="col-md-4">
                  <button value="9" (click)="clickAmount($event, '9')">9</button>
                </div>
                <div class="col-md-4">
                  <button value="." (click)="clickAmount($event, '.')" [ngClass]="{disabled: checkHasDot}">.</button>
                </div>
                <div class="col-md-4">
                  <button value="0" (click)="clickAmount($event, '0')">0</button>
                </div>
                <div class="col-md-4">
                  <button class="del-numb" (click)="delAmount($event)"></button>
                </div>
              </div>
            </div>

            <p>
              <span class="s-ttl">Pay</span>
              <span class="s-value">${{total}}</span>
            </p>
            <p>
              <span class="s-ttl">Point</span>
              <span class="s-value text-success">+{{total | number:'.0-0'}}</span>
            </p>
            <div class="row">
              <div class="col-md-6">
                <button class="cancel-btn" (click)="closeModal($event)">Cancel</button>
              </div>
              <div class="col-md-6">
                <button class="checkout-btn {{disabled}}" (click)="goCheckOut($event)">Checkout</button>
              </div>
            </div>

          </div>
          <!-- End enter amoun -->
          <div class="staff-code hide text-center">
            <div class="loading" [ngClass]="{shw: sending}">
              <div class="cssload-thecube">
                <div class="cssload-cube cssload-c1"></div>
                <div class="cssload-cube cssload-c2"></div>
                <div class="cssload-cube cssload-c4"></div>
                <div class="cssload-cube cssload-c3"></div>
              </div>
            </div>
            <p class="staff-head">
              Staff code
              <i class="fa fa-angle-left" (click)="cancelConfirm($event)"></i>
            </p>
            <!-- <input class="ipt form-control staff-code-ipt" placeholder="Staff code" [(ngModel)]="staffCode" (keypress)="enterStaffCode($event)"/> -->
            <div class="s-code">
              <input class="s-code-1 ipt" (keypress)="$event.preventDefault()" />
            </div>
            <div class="s-code">
              <input class="s-code-2 ipt" (keypress)="$event.preventDefault()" />
            </div>
            <div class="s-code no-dash">
              <input class="s-code-3 ipt" (keypress)="$event.preventDefault()" />
            </div>
            <p *ngIf="checkoutStatus.text" class="{{checkoutStatus.class}}">{{checkoutStatus.text}}</p>
            <div class="numb-btn">
              <div class="row">
                <div class="col-md-4">
                  <button value="1" (click)="clickNumb($event, '1')">1</button>
                </div>
                <div class="col-md-4">
                  <button value="2" (click)="clickNumb($event, '2')">2</button>
                </div>
                <div class="col-md-4">
                  <button value="3" (click)="clickNumb($event, '3')">3</button>
                </div>
                <div class="col-md-4">
                  <button value="4" (click)="clickNumb($event, '4')">4</button>
                </div>
                <div class="col-md-4">
                  <button value="5" (click)="clickNumb($event, '5')">5</button>
                </div>
                <div class="col-md-4">
                  <button value="6" (click)="clickNumb($event, '6')">6</button>
                </div>
                <div class="col-md-4">
                  <button value="7" (click)="clickNumb($event, '7')">7</button>
                </div>
                <div class="col-md-4">
                  <button value="8" (click)="clickNumb($event, '8')">8</button>
                </div>
                <div class="col-md-4">
                  <button value="9" (click)="clickNumb($event, '9')">9</button>
                </div>
                <div class="col-md-4 col-md-offset-4">
                  <button value="0" (click)="clickNumb($event, '0')">0</button>
                </div>
                <div class="col-md-4">
                  <button class="del-numb" (click)="delNumb($event)"></button>
                </div>
              </div>

              <button class="confirm-code" (click)="sendCheckout($event)">Confirm</button>
            </div>
          </div>

        </div>
        <!-- End checkout form -->

        <div class="right-col">
          <div class="loading" [ngClass]="{shw: sending}">
            <div class="cssload-thecube">
              <div class="cssload-cube cssload-c1"></div>
              <div class="cssload-cube cssload-c2"></div>
              <div class="cssload-cube cssload-c4"></div>
              <div class="cssload-cube cssload-c3"></div>
            </div>
          </div>
          <div class="form-group clearfix">
            <label>Promotion</label>
            <a href="javascript:;" (click)="clearSelectPromotion($event)" class="pull-right">Clear</a>
            <!-- <select class="form-control ipt prom-slt {{noAmount}}" (change)="selectPromotion($event)">
                <option value="">Select promotion</option>
                <option *ngFor="let pro of userDetail.promotion" value="{{pro.code}}" >{{ pro.campaign_name}}</option>
              </select> -->
            <div class="slt-redeem">
              <label class="control control--radio" *ngFor="let pro of userDetail.promotion">{{ pro.campaign_name}}
                <input type="radio" name="radio-promotion" value="{{pro.code}}" (click)="selectPromotion($event)" />
                <div class="control__indicator"></div>
              </label>
            </div>
          </div>
          <!-- End promotion list -->
          <div class="form-group">
            <label>Redemption</label>
            <div class="cus-slt">
              <!-- <a href="javascript:;" class="open-slt-redeem {{noAmount}}" (click)="showRedeem($event)" (clickOutside)="onClickedOutside($event)">
                  {{sltRedemMsg}}
                </a> -->
              <div class="slt-redeem">
                <ul *ngIf="redeemList">
                  <li *ngFor="let redeem of redeemList" [attr.data-id]="redeem.id">
                    <label class="control control--checkbox">
                      <span class="redeem-pts">{{redeem.point}}pts</span>
                      <span class="redeem-content">{{ redeem.content}}</span>
                      <input type="checkbox" (click)="selectRedem($event, redeem.id)" />
                      <div class="control__indicator"></div>
                    </label>
                  </li>
                </ul>
              </div>
              <p class="text-danger" *ngIf="warning">{{warning}}</p>
            </div>
          </div>
          <div class="sub-div form-group clearfix">
            <!-- <button class="btn btn-default">Refresh</button> -->
            <p *ngIf="checkout_msg">{{checkout_msg}}</p>
            <button class="checkout-btn save-note pull-right" *ngIf="checkout_feature == 0" (click)="updateCheckout($event)">Redeem</button>
          </div>
          <!-- End redeem list -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End checkout modal -->


<div class="modal fade" id="review-dt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content cus-modal" *ngIf="review">
      <div class="modal-header review-head clearfix">
        <a href="javascript:;" class="close-btn" (click)="closeReview($event)">
          <i class="fa fa-close"></i>
        </a>
        <div class="ava-img">
          <img class="img-circle img-responsive" src="{{review.customerInfo.customerImg}}" *ngIf="review.customerInfo.customerImg"
          />
          <ngx-avatar name="{{review.customerInfo.name}}" *ngIf="review.customerInfo.customerImg == ''"></ngx-avatar>
        </div>
        <div class="usr-review">
          <h3>{{review.customerInfo.name}}</h3>
          <div class="general-inf">
            <p>
              <span class="ttl">Phone: </span>
              <span class="txt">{{review.customerInfo.maskPhone}}</span>
            </p>
            <p>
              <span class="ttl">Visit: </span>
              <span class="txt">{{review.customerInfo.numberCheckin}}</span>
            </p>
          </div>
          <div class="general-inf">
            <p>
              <span class="ttl">Email: </span>
              <span class="txt">{{review.customerInfo.email}}</span>
            </p>
            <p>
              <span class="ttl">Last visit: </span>
              <span class="txt">{{review.createAtTime}} {{review.createAtDate}}</span>
            </p>
          </div>
        </div>
      </div>
      <div class="modal-body clearfix">
        <p class="rate-blk">
          <span innerHtml="{{review.customerInfo.lastReviewStarRender}}"></span>
          <span class="date-reviewed"> {{review.customerInfo.lastReviewDate}}</span>
        </p>
        <p>
          {{review.customerInfo.full_review}}
        </p>
        <img src="{{review.customerInfo.last_review.content_img1}}" />
        <img src="{{review.customerInfo.last_review.content_img2}}" />
        <img src="{{review.customerInfo.last_review.content_img3}}" />
      </div>
    </div>
  </div>
</div>
