<sidebar-block></sidebar-block>

<div class="checkout-content">
  <div class="container-fluid">
    <div class="ttl clearfix">
      <h1 class="pull-left">History</h1>
      <div class="ttl-filter pull-right">
        <div class="filter-by-date">
          <span>Filter date: </span>
          <input class="filter-date" id="filter-date" [(ngModel)]="date" placeholder="mm/dd/yyyy" type="text" value="" (blur)="update()" (keypress)="$event.preventDefault()"/>
          <a href="javascript:;" (click)="filterDate($event)"><i class="fa fa-calendar"></i></a>
        </div>
        <select (change)="filterHistory($event)">
          <option value="">All members</option>
          <option value="vip">Vip</option>
          <option value="regular">Regular</option>
          <option value="new">New</option>
          <option value="normal">Normal</option>
        </select>
        <div class="srch-box">
          <form [formGroup]="frmSearch" *ngIf="frmSearch">
            <input type="text" placeholder="Search by name or phone" [formControl]="frmSearch.controls['searchTxt']" class="ipt search-ipt"/>
            <button (click)="search($event, frmSearch.value)">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- End ttl -->

    <div class="row">
      <div class="col-md-3 col-xs-6">
        <div class="sum-itm">
          <h3>Total checkout members</h3>

          <span class="sum-count" *ngIf="summary">{{summary.total_checkout}}</span>
        </div>
      </div>
      <div class="col-md-9 col-xs-6">
        <div class="sum-itm">
          <h3>Checked in members</h3>
          <div class="row">
            <div class="col-md-2 col-xs-12">
              <span class="sum-count" *ngIf="summary">{{summary.today_checkout}}</span>
            </div>
            <div class="col-md-10 col-xs-12">
              <div class="progress">
                <div class="progress-bar progress-bar-success" [style.width]="typeNew + '%'">
                  <p class="count-perc">
                    <span class="sr-onl">{{typeNew | number:'.0-0'}}%</span>
                  </p>
                </div>
                <div class="progress-bar progress-bar-info" [style.width]="typeRegular + '%'">
                  <p class="count-perc">
                    <span class="sr-onl">{{typeRegular | number:'.0-0'}}%</span>
                  </p>
                </div>
                <div class="progress-bar progress-bar-danger" [style.width]="typeVip + '%'">
                  <p class="count-perc">
                    <span class="sr-onl">{{typeVip | number:'.0-0'}}%</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End summary -->

    <div class="table-responsive">
      <table class="table cus-tb history-tb" *ngIf="checkinList">
        <tr>
          <th class="text-uppercase text-center col-id" style="width: 5%" (click)="sortCol($event, 'id')">
            No.
            <i class="fa fa-caret-down"></i>
          </th>
          <th class="text-uppercase col-name" style="width: 30%" (click)="sortCol($event, 'name')">
            Name
            <i class="fa fa-caret-down"></i>
          </th>
          <th class="text-uppercase text-center col-checkintime" style="width: 15%" (click)="sortCol($event, 'checkintime')">
            Check out time
            <i class="fa fa-caret-down"></i>
          </th>
          <th class="text-uppercase" style="width: 15%">
            Services
          </th>
          <th class="text-uppercase text-center col-point" style="width: 15%" (click)="sortCol($event, 'point')">
            Current points
            <i class="fa fa-caret-down"></i>
          </th>
          <th class="text-uppercase text-center col-mem-type" style="width: 15%" (click)="sortCol($event, 'mem-type')">
            Member type
            <i class="fa fa-caret-down"></i>
          </th>
          <th class="text-uppercase text-center col-tag" style="width: 5%" (click)="sortCol($event, 'tag')">
            Tag
            <i class="fa fa-caret-down"></i>
          </th>
        </tr>

        <tr *ngIf="dataStatus.text">
          <td colspan="6" class="text-center">
            <span class="no-data {{dataStatus.class}}">{{dataStatus.text}}</span>
          </td>
        </tr>

        <tr *ngFor="let itm of checkinList">
          <td class="text-center" (click)="showDetail($event, itm.id)">{{itm.id}}</td>
          <td (click)="showDetail($event, itm.id)">
            <div class="td-info">
              <div class="ava-img">
                <img class="img-circle img-responsive" src="{{itm.customerInfo.customerImg}}" *ngIf="itm.customerInfo.customerImg"/>
                <ngx-avatar name="{{itm.customerInfo.name}}" *ngIf="itm.customerInfo.customerImg == ''"></ngx-avatar>
              </div>
              <p class="usr-name">{{itm.customerInfo.name}}</p>
              <p class="usr-phone">
                <i class="fa fa-phone"></i>
                {{itm.customerInfo.maskPhone}}
              </p>
            </div>
          </td>
          <td class="text-center" (click)="showDetail($event, itm.id)">
            <p>{{itm.checkoutInf.checkoutTime}}</p>
            <p>{{itm.checkoutInf.checkoutDate}}</p>
          </td>
          <td>
            <span class="serv-itm" *ngFor="let serv of itm.serviceName; let i = index" [attr.data-full-name]="serv.name" (click)="showFullNameServ($event)"
                  [attr.data-tmp-name]="serv.tmpName">{{serv.tmpName | uppercase}}</span>
          </td>
          <td class="text-center" (click)="showDetail($event, itm.id)">{{itm.customerInfo.point | number:'.0-0'}} Pts</td>
          <td class="text-center" (click)="showDetail($event, itm.id)">
            <span class="member-type {{itm.customerInfo.type}}">{{itm.customerInfo.type}}</span>
          </td>
          <td class="text-center" (click)="showDetail($event, itm.id)">
            <div class="tag {{itm.customerInfo.tag}}"></div>
          </td>
        </tr>
      </table>
    </div>
    <!-- End table -->
  </div>
</div>

<div class="modal fade" id="history-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content cus-modal" *ngIf="userDetail">
      <div class="modal-body clearfix">

           <div class="left-col">
            <div class="detail-head">
              <div class="ava-img">
                <img class="img-circle img-responsive" src="{{userDetail.customerInfo.customerImg}}" *ngIf="userDetail.customerInfo.customerImg"/>
                <ngx-avatar name="{{userDetail.customerInfo.name}}"
                            *ngIf="userDetail.customerInfo.customerImg == ''"
                            size="80"></ngx-avatar>
              </div>
              <p class="usr-name" title="{{userDetail.customerInfo.name}}">{{userDetail.customerInfo.name}}</p>
              <p class="usr-phone">
                <i class="fa fa-phone"></i>
                {{userDetail.customerInfo.maskPhone}}
              </p>
              <span class="member-type {{userDetail.customerInfo.type}}">{{userDetail.customerInfo.type}}</span>
              <div class="tag {{userDetail.customerInfo.tag}}"></div>
            </div>
            <div class="detail-body">
              <div class="row">
                <div class="col-md-6 col-xs-12">
                  <p>
                    Points
                    <span>{{userDetail.customerInfo.point | number:'.0-0'}} Pts</span>
                  </p>
                </div>
                <div class="col-md-6 col-xs-12">
                  <p>
                    Visit
                    <span>{{userDetail.customerInfo.numberCheckin}} times</span>
                  </p>
                </div>
              </div>
              <p>
                Check in
                <span>{{userDetail.createAtTime}} {{userDetail.createAtDate}}</span>
              </p>
              <p>
                Check out
                <span>{{userDetail.checkoutInf.checkoutTime}}</span>
              </p>
            </div>
             <div class="note-frm">
              <form [formGroup]="noteFrm" *ngIf="noteFrm">
                <div class="form-group">
                  <label>Note</label>
                  <textarea class="ipt form-control" placeholder="Your note..." [formControl]="noteFrm.controls['note']"></textarea>
                  <p *ngIf="noteStatus" class="text-success">{{noteStatus}}</p>
                </div>
                <div class="sub-div form-group">
                  <button class="btn btn-default">Refresh</button>
                  <button class="btn btn-primary" [ngClass]="{disabled: isSending}" (click)="saveNote($event, noteFrm.value, userDetail.customerInfo.phone)">Save</button>
                </div>
              </form>
            </div>
          </div>

          <div class="customer-survey">
            <div class="survey">
              <div class="survey-ct" *ngIf="userDetail.survey">
                <span class="survey-ttl">Customer survey</span>
                <span class="survey-status">{{userDetail.survey.status}}</span>
                <div class="star-lst">
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                </div>
              </div>
              
              <p class="no-survey" *ngIf="!userDetail.survey">No survey</p>
            </div>

            <div class="cus-pro">
              <p class="p-ttl">Staff name:</p>
              <p class="p-itm">{{userDetail.staff.name}}</p>
              <p class="p-ttl">Promotion</p>
              <p class="p-itm" *ngIf="userDetail.promotion">{{userDetail.promotion.name}}</p>
              <p *ngIf="!userDetail.promotion">No promotion</p>
              <p class="p-ttl">Redeem</p>
              <div class="r-lst" *ngIf="userDetail.redeemInf">
                <p clas="text-center" *ngIf="userDetail.redeemInf.length == 0">No redeem</p>
                <p class="p-itm" *ngFor="let redeem of userDetail.redeemInf">
                  <span>{{redeem.content}}</span>
                  <span>{{redeem.point}}</span>
                </p>
              </div>
              <div class="c-d-f">
                 <p class="total">
                  <span class="s-ttl">Pay</span>
                  <span class="s-value">${{userDetail.checkoutInf.pay}}</span>
                </p>
                <p class="total">
                  <span class="s-ttl">Point</span>
                  <span class="s-value text-success">+{{userDetail.checkoutInf.point_bonus}}</span>
                </p>
                <button class="cancel-btn" (click)="closeModal($event)">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
