.client-inf.hide
    h3 How do we say hello?
    p Your name, email, and phone number will be used to send you appointment confirmations and reminders. We’ll also be able to call or text you if anything changes.
    form.client-frm
        .from-group
            .row
                .col-md-6.col-xs-12
                    label.appoint-lbl First name
                    input.appoint-ipt(type="text")
                .col-md-6.col-xs-12
                    label.appoint-lbl Last name
                    input.appoint-ipt(type="text")
        .from-group
            .row
                .col-md-6.col-xs-12
                    label.appoint-lbl Email
                    input.appoint-ipt(type="text")
                .col-md-6.col-xs-12
                    label.appoint-lbl Phone
                    input.appoint-ipt(type="text")
        .form-group
            label.appoint-lbl Appointment notes
            textarea.appoint-area(rows="5")
        .form-group.text-right
            button.appoint-btn.confirm-booking Book appointment