.confirm-book.hide
    .confirm-head.clearfix
        .ava
            img.img-circle(src="images/client-ava.png", alt="")
        .inf
            p Hello Helen,
            h3.text-capitalize Appointment confirmed
    .confirm-date
        p We're looking forward to seeing you on Oct. 20 at 9:00 AM
    .confirm-detail
        .row
            .col-md-9.col-xs-12
                .confirm-dt
                    .itm
                        h3 When
                        p Friday, October 20, 2017 
                        p 9:00 AM - 10:00 AM (US Central)
                    .itm
                        h3 Where
                        p (979) 217-2012
                    .itm
                        h3 What service
                        p Nail
                    .itm
                        h3 With staff
                        p Toan Nguyen
            .col-md-3.col-xs-12
                .confirm-btn
                    button.text-uppercase.appoint-btn.book-another Book another
                    button.text-uppercase.appoint-btn.reschedule Reschedule
                    button.text-uppercase.appoint-btn Cancel appointment