.w-b-service
    .w-b-service-list
        .service-itm
            p.service.name Nail
            span.ser-inf 1 hour - $15.00
            button.book-btn.text-uppercase.appoint-btn(data-service="Nail", data-time="1 Hour") Book now
        // END: SERVICE ITEM
        .service-itm
            p.service.name Hair cut
            span.ser-inf 1 hour - $15.00
            button.book-btn.text-uppercase.appoint-btn(data-service="Hair cut", data-time="1 Hour") Book now
        // END: SERVICE ITEM
        .service-itm
            p.service.name Badicure
            span.ser-inf 1 hour - $15.00
            button.book-btn.text-uppercase.appoint-btn(data-service="Badicure", data-time="1 Hour") Book now
        // END: SERVICE ITEM