.select-date.hide
    .datepicker-wrap
        input.hide.sq-pickadate__input.pickadate.ember-view.ember-text-field.picker__input.picker__input--active.picker__input--target(type="text", id="datepicker", 
        aria-haspopup="true",  aria-expanded="true", aria-owns="datepicker_root", aria-readonly="false")
    // END: DATEPICKER
    .staff-avai
        h3 Staff available
        .staff-a-list
            .staff-a-itm.clearfix
                .staff-ava
                    img.img-circle(src="images/staff-ava.png", alt="")
                .staff-dt
                    p Toan Nguyen
                    button.text-uppercase.appoint-btn.select-staff(data-staff="Toan Nguyen") Book with Toan
            .staff-a-itm.clearfix
                .staff-ava
                    img.img-circle(src="images/staff-ava.png", alt="")
                .staff-dt
                    p Alexander Petrov
                    button.text-uppercase.appoint-btn.select-staff(data-staff="Alexander Petrov") Book with Alex
            .staff-a-itm.clearfix
                .staff-ava
                    img.img-circle(src="images/staff-ava.png", alt="")
                .staff-dt
                    p Artour Babaev
                    button.text-uppercase.appoint-btn.select-staff(data-staff="Artour Babaev") Book with Artour
    // END: STAFF AVAILABLE
    .work-hours
        h3 Working hours
        p.notes 
            span Business Time Zone:
            | US Central
        p.notes 
            span Currently viewing:
            a(href="#") US Central
        .work-hour-list
            .row
                .col-md-4.work-hour-col.col-xs-4
                    .work-morning.text-center
                        p.text-uppercase Morning
                        button.work-h-itm(data-time="8:00 AM") 8:00 AM
                        button.work-h-itm(data-time="8:00 AM") 8:30 AM
                        button.work-h-itm(data-time="8:00 AM") 9:00 AM
                        button.work-h-itm(data-time="8:00 AM") 9:30 AM
                        button.work-h-itm(data-time="8:00 AM") 10:00 AM
                        button.work-h-itm(data-time="8:00 AM") 10:30 AM
                .col-md-4.work-hour-col.col-xs-4
                    .work-afternoon.text-center
                        p.text-uppercase Afternoon
                        button.work-h-itm(data-time="8:00 AM") 12:00 PM
                        button.work-h-itm(data-time="8:00 AM") 12:30 PM
                        button.work-h-itm(data-time="8:00 AM") 1:00 PM
                        button.work-h-itm(data-time="8:00 AM") 2:00 PM
                .col-md-4.work-hour-col.col-xs-4
                    .work-evening.text-center
                        p.text-uppercase Evening
                        button.work-h-itm.disabled(data-time="8:00 AM") No Available
    // END: WORKING HOURS